/*
 * Terrible Name
 *
 * A simple theme for reddit
 *
 * Author: unzan (https://github.com/unzan)
 * Contributor: - David Davis (https://github.com/daviddavis)
 *              - matheod (https://github.com/matheod)
 * License: WTFPL
 *
 * Default icons provided with this theme are part of the Fugue Icon Set
 * by Yusuke Kamiyamane [1]. Default banner is a photograph [2] by
 * Holger Weinandt [3].
 *
 * [1]: http://p.yusukekamiyamane.com/
 * [2]: http://commons.wikimedia.org/wiki/File:Panorama_Frankfurt_vom_Maintower_edit.jpg
 * [3]: http://de.wikipedia.org/wiki/Benutzer:Schaengel
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(reddit.com) {
  .res.res-nightmode.moderator .tabpane-content .linefield, .res.res-nightmode .login-form-side .submit, .res.res-nightmode #dashboardContents, .res.res-nightmode .RESDashboardAddComponent {
    background: none;
  }

  .res.res-nightmode .content, .res.res-nightmode #header-bottom-left, .res.res-nightmode #header-bottom-right, .res.res-nightmode form.submit.content, .res.res-nightmode .tabpane-content .roundfield,
  .res.res-nightmode .formtabs-content .roundfield, .res.res-nightmode .nav-buttons, .res.res-nightmode .side .titlebox,
  .res.res-nightmode .side .sidebox,
  .res.res-nightmode .side .sidebox .spacer,
  .res.res-nightmode .side .leavemoderator,
  .res.res-nightmode .side .leavecontributor-button,
  .res.res-nightmode .side .titlebox form.flairtoggle, .res.res-nightmode .linklisting .link .entry.RES-keyNav-activeElement .usertext > .usertext-body, .res.res-nightmode .linklisting .link .entry.RES-keyNav-activeElement .usertext > .usertext-body .md p, .res.res-nightmode .RES-keyNav-activeElement .md, .res.res-nightmode .comment, .res.res-nightmode .comment.noncollapsed > .entry.RES-keyNav-activeElement .usertext-body, .res.res-nightmode .comment.noncollapsed > .entry.RES-keyNav-activeElement .usertext-body .md p, .res.res-nightmode.wiki-page .md.wiki > .toc > ul, .res.res-nightmode .usertext-edit .RESDialogSmall .md.RESDialogContents, .res.res-nightmode.moderator .footer-parent .footer {
    background: none !important;
  }

  .res.res-nightmode #header {
    background: #111 url("http://i.imgur.com/kfumYVX.jpg") 0 0 no-repeat !important;
  }

  .res.res-nightmode .thing .midcol > .up.arrow, .res.res-nightmode .thing .midcol > .down.arrow, .res.res-nightmode .thing .midcol > .upmod.arrow, .res.res-nightmode .thing .midcol > .downmod.arrow {
    display: inline-block !important;
    background-image: url("http://i.imgur.com/MJ7y1Zy.png") !important;
    background-repeat: no-repeat !important;
    width: 16px !important;
    height: 16px !important;
  }

  .res.res-nightmode .thing .midcol > .arrow {
    margin-left: 3px;
  }
  .res.res-nightmode .thing .midcol > .up.arrow, .res.res-nightmode .thing .midcol > .up.arrow:hover {
    background-position: -64px -80px !important;
  }
  .res.res-nightmode .thing .midcol > .upmod.arrow, .res.res-nightmode .thing .midcol > .upmod.arrow:hover {
    background-position: -48px -80px !important;
  }
  .res.res-nightmode .thing .midcol > .down.arrow, .res.res-nightmode .thing .midcol > .down.arrow:hover {
    background-position: -96px -80px !important;
  }
  .res.res-nightmode .thing .midcol > .downmod.arrow, .res.res-nightmode .thing .midcol > .downmod.arrow:hover {
    background-position: -80px -80px !important;
  }

  .res.res-nightmode {
    background: #13161A url("http://i.imgur.com/zunAMnr.jpg") left top repeat !important;
  }

  .res.res-nightmode .flairselector.drop-choices.active > h2 {
    background: -webkit-linear-gradient(top, #242a32, #1e2229);
    background: -moz-linear-gradient(top, #242a32, #1e2229);
    background: linear-gradient(top, #242a32, #1e2229);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 #3e4855;
  }

  .res.res-nightmode .flairselector.drop-choices.active {
    border: none !important;
    background: -webkit-linear-gradient(top, #242a32, #1e2229);
    background: -moz-linear-gradient(top, #242a32, #1e2229);
    background: linear-gradient(top, #242a32, #1e2229);
    box-shadow: inset 0 1px 0 #3a434f, 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .res.res-nightmode .linklisting .link .entry .usertext > .usertext-body > .md, .res.res-nightmode .organic-listing .link .entry .usertext > .usertext-body > .md, .res.res-nightmode .explore-item .entry .usertext > .usertext-body > .md, .res.res-nightmode .wiki-page .wiki-page-content .md.wiki, .res.res-nightmode .RESDialogSmall.livePreview {
    background-color: #242a32 !important;
    color: #9e9e9e !important;
  }

  .res.res-nightmode .flairselector.drop-choices.active .flairoptionpane ul > li:hover,
  .res.res-nightmode .menuarea .spacer > .dropdown.lightdrop,
  .res.res-nightmode .menuarea .spacer > .toggle .togglebutton,
  .res.res-nightmode .nav-buttons .nextprev a,
  .res.res-nightmode .nav-buttons .next-suggestions > a,
  .res.res-nightmode .commentarea .commentNavSortType,
  .res.res-nightmode .commentarea #REScommentSubToggle,
  .res.res-nightmode.wiki-page .pageactions > .wikiaction,
  .res.res-nightmode button.RESBigEditorPop,
  .res.res-nightmode #BigEditor .RESCloseButton,
  .res.res-nightmode .side form.add-sr button.add,
  .res.res-nightmode .side .subreddits > li > a,
  .res.res-nightmode .side .subreddits > li > button.remove-sr,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > a,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > button.add,
  .res.res-nightmode .multi-selector .multi-list a,
  .res.res-nightmode .trending-subreddits > .trending-subreddits-content li > a,
  .res.res-nightmode .message.noncollapsed .parent-link,
  .res.res-nightmode .message > .subject > .expand-btn,
  .res.res-nightmode .menuarea .flat-list > li a,
  .res.res-nightmode .explore-item .fancy-toggle-button.toggle > .option.active,
  .res.res-nightmode .explore-item .explore-feedback-dismiss,
  .res.res-nightmode .titlebox > .bottom > a[href*="/compose/"],
  .res.res-nightmode ul.widgetSortButtons > li,
  .res.res-nightmode .widgetStateButtons > li:not(.updateTime) {
    color: #9e9e9e !important;
    border: none;
    text-shadow: 0 1px 1px #15181d;
    padding: 3px 7px;
    background: -webkit-linear-gradient(top, #353e49, #20252c);
    background: -moz-linear-gradient(top, #353e49, #20252c);
    background: linear-gradient(top, #353e49, #20252c);
    box-shadow: inset 0 1px 0 #4b5767, 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .res.res-nightmode .flairselector.drop-choices.active .flairoptionpane ul > li:hover,
  .res.res-nightmode .menuarea .spacer > .dropdown.lightdrop:hover,
  .res.res-nightmode .menuarea .spacer > .toggle .togglebutton:hover,
  .res.res-nightmode .nav-buttons .nextprev a:hover,
  .res.res-nightmode .nav-buttons .next-suggestions > a:hover,
  .res.res-nightmode .commentarea .commentNavSortType:hover,
  .res.res-nightmode .commentarea #REScommentSubToggle:hover,
  .res.res-nightmode.wiki-page .pageactions > .wikiaction:hover,
  .res.res-nightmode button.RESBigEditorPop:hover,
  .res.res-nightmode #BigEditor .RESCloseButton:hover,
  .res.res-nightmode .side form.add-sr button.add:hover,
  .res.res-nightmode .side .subreddits > li > a:hover,
  .res.res-nightmode .side .subreddits > li > button.remove-sr:hover,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > a:hover,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > button.add:hover,
  .res.res-nightmode .multi-selector .multi-list a:hover,
  .res.res-nightmode .trending-subreddits > .trending-subreddits-content li > a:hover,
  .res.res-nightmode .message.noncollapsed .parent-link:hover,
  .res.res-nightmode .message > .subject > .expand-btn:hover,
  .res.res-nightmode .menuarea .flat-list > li a:hover,
  .res.res-nightmode .explore-item .fancy-toggle-button.toggle > .option.active:hover,
  .res.res-nightmode .explore-item .explore-feedback-dismiss:hover,
  .res.res-nightmode .titlebox > .bottom > a[href*="/compose/"]:hover,
  .res.res-nightmode ul.widgetSortButtons > li:hover,
  .res.res-nightmode .widgetStateButtons > li:hover:not(.updateTime) {
    background: -webkit-linear-gradient(top, #3c4552, #262c35);
    background: -moz-linear-gradient(top, #3c4552, #262c35);
    background: linear-gradient(top, #3c4552, #262c35);
  }

  .res.res-nightmode .flairselector.drop-choices.active .flairoptionpane ul > li:active, .res.res-nightmode.wiki-page .pageactions > .wikiaction.wikiaction-current, .res.res-nightmode .menuarea .flat-list > li.selected > a, .res.res-nightmode .explore-item .fancy-toggle-button.toggle > .option.remove, .res.res-nightmode ul.widgetSortButtons > li.active, .res.res-nightmode ul.widgetSortButtons > li.active:hover,
  .res.res-nightmode .menuarea .spacer > .dropdown.lightdrop:active,
  .res.res-nightmode .menuarea .spacer > .toggle .togglebutton:active,
  .res.res-nightmode .nav-buttons .nextprev a:active,
  .res.res-nightmode .nav-buttons .next-suggestions > a:active,
  .res.res-nightmode .commentarea .commentNavSortType:active,
  .res.res-nightmode .commentarea #REScommentSubToggle:active,
  .res.res-nightmode.wiki-page .pageactions > .wikiaction:active,
  .res.res-nightmode button.RESBigEditorPop:active,
  .res.res-nightmode #BigEditor .RESCloseButton:active,
  .res.res-nightmode .side form.add-sr button.add:active,
  .res.res-nightmode .side .subreddits > li > a:active,
  .res.res-nightmode .side .subreddits > li > button.remove-sr:active,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > a:active,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > button.add:active,
  .res.res-nightmode .multi-selector .multi-list a:active,
  .res.res-nightmode .trending-subreddits > .trending-subreddits-content li > a:active,
  .res.res-nightmode .message.noncollapsed .parent-link:active,
  .res.res-nightmode .message > .subject > .expand-btn:active,
  .res.res-nightmode .menuarea .flat-list > li a:active,
  .res.res-nightmode .explore-item .fancy-toggle-button.toggle > .option.active:active,
  .res.res-nightmode .explore-item .explore-feedback-dismiss:active,
  .res.res-nightmode .titlebox > .bottom > a[href*="/compose/"]:active,
  .res.res-nightmode ul.widgetSortButtons > li:active,
  .res.res-nightmode .widgetStateButtons > li:active:not(.updateTime) {
    box-shadow: inset 0 2px 3px #0a0c0e, 0 1px 0 #3e4855;
  }

  .res.res-nightmode .RESshortcutside,
  .res.res-nightmode .RESDashboardToggle,
  .res.res-nightmode .morelink a,
  .res.res-nightmode .res-nightmode button, .res.res-nightmode body.with-listing-chooser .listing-chooser > .contents > .multis > .create button, .res.res-nightmode .side .settings > button,
  .res.res-nightmode .side .settings > .delete > button, .res.res-nightmode .side.public .settings > .share-in-sr,
  .res.res-nightmode .side form.copy-multi button.copy,
  .res.res-nightmode .side form.rename-multi button.rename,
  .res.res-nightmode .side .delete.confirm-button > button, .res.res-nightmode .side .settings > .delete.confirm-button > .confirmation > button, .res.res-nightmode #compose-message #send, .res.res-nightmode #explore-settings button, .res.res-nightmode .updateButton,
  .res.res-nightmode .cancelButton,
  .res.res-nightmode .addButton, .res.res-nightmode .RESshortcutside:hover,
  .res.res-nightmode .RESDashboardToggle:hover,
  .res.res-nightmode .morelink a:hover,
  .res.res-nightmode .res-nightmode button:hover, .res.res-nightmode body.with-listing-chooser .listing-chooser > .contents > .multis > .create button:hover, .res.res-nightmode .side .settings > button:hover,
  .res.res-nightmode .side .settings > .delete > button:hover, .res.res-nightmode .side.public .settings > .share-in-sr:hover,
  .res.res-nightmode .side form.copy-multi button.copy:hover,
  .res.res-nightmode .side form.rename-multi button.rename:hover,
  .res.res-nightmode .side .delete.confirm-button > button:hover, .res.res-nightmode .side .settings > .delete.confirm-button > .confirmation > button:hover, .res.res-nightmode #compose-message #send:hover, .res.res-nightmode #explore-settings button:hover, .res.res-nightmode .updateButton:hover,
  .res.res-nightmode .cancelButton:hover,
  .res.res-nightmode .addButton:hover, .res.res-nightmode .RESshortcutside:focus,
  .res.res-nightmode .RESDashboardToggle:focus,
  .res.res-nightmode .morelink a:focus,
  .res.res-nightmode .res-nightmode button:focus, .res.res-nightmode body.with-listing-chooser .listing-chooser > .contents > .multis > .create button:focus, .res.res-nightmode .side .settings > button:focus,
  .res.res-nightmode .side .settings > .delete > button:focus, .res.res-nightmode .side.public .settings > .share-in-sr:focus,
  .res.res-nightmode .side form.copy-multi button.copy:focus,
  .res.res-nightmode .side form.rename-multi button.rename:focus,
  .res.res-nightmode .side .delete.confirm-button > button:focus, .res.res-nightmode .side .settings > .delete.confirm-button > .confirmation > button:focus, .res.res-nightmode #compose-message #send:focus, .res.res-nightmode #explore-settings button:focus, .res.res-nightmode .updateButton:focus,
  .res.res-nightmode .cancelButton:focus,
  .res.res-nightmode .addButton:focus {
    background: -webkit-linear-gradient(top, #405666, #344653);
    background: -moz-linear-gradient(top, #405666, #344653);
    background: linear-gradient(top, #405666, #344653);
  }
  .res.res-nightmode .RESshortcutside:active,
  .res.res-nightmode .RESDashboardToggle:active,
  .res.res-nightmode .morelink a:active,
  .res.res-nightmode .res-nightmode button:active, .res.res-nightmode body.with-listing-chooser .listing-chooser > .contents > .multis > .create button:active, .res.res-nightmode .side .settings > button:active,
  .res.res-nightmode .side .settings > .delete > button:active, .res.res-nightmode .side.public .settings > .share-in-sr:active,
  .res.res-nightmode .side form.copy-multi button.copy:active,
  .res.res-nightmode .side form.rename-multi button.rename:active,
  .res.res-nightmode .side .delete.confirm-button > button:active, .res.res-nightmode .side .settings > .delete.confirm-button > .confirmation > button:active, .res.res-nightmode #compose-message #send:active, .res.res-nightmode #explore-settings button:active, .res.res-nightmode .updateButton:active,
  .res.res-nightmode .cancelButton:active,
  .res.res-nightmode .addButton:active {
    background: -webkit-linear-gradient(top, #405666, #2c3c47);
    background: -moz-linear-gradient(top, #405666, #2c3c47);
    background: linear-gradient(top, #405666, #2c3c47);
    box-shadow: inset 0 2px 3px #0a0c0e, 0 1px 0 #3e4855;
  }

  .res.res-nightmode .sidecontentbox > .title, .res.res-nightmode #BigEditor > .RESDialogSmall.BERight > h3,
  .res.res-nightmode .RESDialogSmall.livePreview > h3, .res.res-nightmode .markdownEditor-wrapper {
    border: solid 1px #13161A;
    color: #9e9e9e;
    background: -webkit-linear-gradient(top, #353e49, #242a32);
    background: -moz-linear-gradient(top, #353e49, #242a32);
    background: linear-gradient(top, #353e49, #242a32);
    box-shadow: inset 0 1px 0 #475261;
  }

  .res.res-nightmode .content #search > input[type=text],
  .res.res-nightmode .side .spacer > #search input[type=text],
  .res.res-nightmode #newlink.submit .formtabs-content .roundfield-content textarea,
  .res.res-nightmode #newlink.submit .formtabs-content .roundfield-content input#url,
  .res.res-nightmode #newlink.submit .formtabs-content .roundfield-content input#sr-autocomplete,
  .res.res-nightmode textarea,
  .res.res-nightmode input[type=text],
  .res.res-nightmode .usertext > .usertext-edit > div > textarea,
  .res.res-nightmode .usertext-edit.viewSource > div > textarea,
  .res.res-nightmode input[type=password], .res.res-nightmode body.with-listing-chooser .listing-chooser > .contents > .multis > .create input[type=text], .res.res-nightmode .interestbar .sr-interest-bar > .bubble > .query-box > .query {
    background: #1e2229 !important;
    color: #9e9e9e !important;
    border: solid 1px #13161A !important;
    box-shadow: inset 0 1px 2px #15181d, 0 1px 0 rgba(255, 255, 255, 0.13);
  }

  .res.res-nightmode .info-notice, .res.res-nightmode .fancy-settings + .tabmenu > li > a,
  .res.res-nightmode .formtab.tabmenu > li > a, .res.res-nightmode .infobar,
  .res.res-nightmode #searchexpando,
  .res.res-nightmode .link .action-form,
  .res.res-nightmode .link .flat-list > .report-reasons, .res.res-nightmode .tabpane-content,
  .res.res-nightmode .formtabs-content, .res.res-nightmode .fancy-settings .linefield, .res.res-nightmode .login-form-side, .res.res-nightmode .searchpane, .res.res-nightmode .searchfacets, .res.res-nightmode .side .linkinfo, .res.res-nightmode .gold-accent.comment-visits-box, .res.res-nightmode .side form.rename-multi,
  .res.res-nightmode .side form.copy-multi, .res.res-nightmode .side .settings > .delete.confirm-button > .confirmation, .res.res-nightmode .multi-selector, .res.res-nightmode .message > .subject > .correspondent, .res.res-nightmode #compose-message, .res.res-nightmode .gold-accent.snoovatar-link,
  .res.res-nightmode .server-seconds {
    background: #292f37;
    color: #9e9e9e;
    border: solid 1px #0f1114;
    box-shadow: 0 1px 2px #0d0f11, inset 0 1px 0 #38404c;
  }

  .res.res-nightmode .organic-listing .link,
  .res.res-nightmode .promotedlink, .res.res-nightmode .interestbar .sr-interest-bar {
    background-color: #1A242C !important;
    color: #9e9e9e;
    border: none !important;
    box-shadow: 0 1px 2px #080a0b;
  }

  .res.res-nightmode .linklisting .link .entry > .title > a.title, .res.res-nightmode .organic-listing .link .entry > .title > a.title, .res.res-nightmode .explore-item .entry > .title > a.title, .res.res-nightmode .linklisting .link .entry.RES-keyNav-activeElement a.title, .res.res-nightmode .thing .tagline a:not(.author), .res.res-nightmode .morerecursion a,
  .res.res-nightmode .morechildren a, .res.res-nightmode .md a, .res.res-nightmode .multi-selector a, .res.res-nightmode .message > .subject > .correspondent > a {
    color: #5590af !important;
  }
  .res.res-nightmode .linklisting .link .entry > .title > a.title:visited, .res.res-nightmode .organic-listing .link .entry > .title > a.title:visited, .res.res-nightmode .explore-item .entry > .title > a.title:visited, .res.res-nightmode .linklisting .link .entry.RES-keyNav-activeElement a.title:visited, .res.res-nightmode .thing .tagline a:visited:not(.author), .res.res-nightmode .morerecursion a:visited,
  .res.res-nightmode .morechildren a:visited, .res.res-nightmode .md a:visited, .res.res-nightmode .multi-selector a:visited, .res.res-nightmode .message > .subject > .correspondent > a:visited {
    color: #858697 !important;
  }

  .res.res-nightmode .linklisting .link .entry > .title > .domain > a, .res.res-nightmode .organic-listing .link .entry > .title > .domain > a, .res.res-nightmode .explore-item .entry > .title > .domain > a {
    color: #515151 !important;
  }
  .res.res-nightmode .linklisting .link .entry .flat-list.buttons > li.reported-stamp.stamp, .res.res-nightmode .organic-listing .link .entry .flat-list.buttons > li.reported-stamp.stamp, .res.res-nightmode .explore-item .entry .flat-list.buttons > li.reported-stamp.stamp {
    box-shadow: none;
  }
  .res.res-nightmode .linklisting .link .entry .flat-list.buttons > li a, .res.res-nightmode .organic-listing .link .entry .flat-list.buttons > li a, .res.res-nightmode .explore-item .entry .flat-list.buttons > li a,
  .res.res-nightmode .linklisting .link .entry .flat-list.buttons > li .redditSingleClick,
  .res.res-nightmode .organic-listing .link .entry .flat-list.buttons > li .redditSingleClick,
  .res.res-nightmode .explore-item .entry .flat-list.buttons > li .redditSingleClick {
    color: #aaaaaa !important;
  }
  .res.res-nightmode .linklisting .link .entry .flat-list.buttons > li a:hover, .res.res-nightmode .organic-listing .link .entry .flat-list.buttons > li a:hover, .res.res-nightmode .explore-item .entry .flat-list.buttons > li a:hover,
  .res.res-nightmode .linklisting .link .entry .flat-list.buttons > li > .redditSingleClick:hover,
  .res.res-nightmode .organic-listing .link .entry .flat-list.buttons > li > .redditSingleClick:hover,
  .res.res-nightmode .explore-item .entry .flat-list.buttons > li > .redditSingleClick:hover,
  .res.res-nightmode .linklisting .link .entry .flat-list.buttons > .big-mod-buttons .pretty-button:hover,
  .res.res-nightmode .organic-listing .link .entry .flat-list.buttons > .big-mod-buttons .pretty-button:hover,
  .res.res-nightmode .explore-item .entry .flat-list.buttons > .big-mod-buttons .pretty-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .res.res-nightmode .linklisting .link .thumbnail:before, .res.res-nightmode .organic-listing .link .thumbnail:before, .res.res-nightmode .explore-item .thumbnail:before {
    opacity: 0.6;
    box-shadow: none;
  }
  .res.res-nightmode .linklisting .link .thumbnail.default:before, .res.res-nightmode .organic-listing .link .thumbnail.default:before, .res.res-nightmode .explore-item .thumbnail.default:before {
    background: #333b46;
  }
  .res.res-nightmode .linklisting .link .thumbnail img, .res.res-nightmode .organic-listing .link .thumbnail img, .res.res-nightmode .explore-item .thumbnail img {
    background-color: #3e4855;
  }

  .res.res-nightmode .comment.noncollapsed > .entry, .res.res-nightmode .message.noncollapsed > .entry, .res.res-nightmode .comment.noncollapsed > .RES-keyNav-activeElement.entry, .res.res-nightmode .message.noncollapsed > .RES-keyNav-activeElement.entry {
    background: #242a32 !important;
  }
  .res.res-nightmode .comment.noncollapsed > .RES-keyNav-activeElement.entry:after, .res.res-nightmode .message.noncollapsed > .RES-keyNav-activeElement.entry:after {
    background-color: #BDD4E0;
  }
  .res.res-nightmode .comment.noncollapsed > .entry:before, .res.res-nightmode .message.noncollapsed > .entry:before {
    border-right-color: #242a32;
  }
  .res.res-nightmode .comment.noncollapsed > .entry .tagline, .res.res-nightmode .message.noncollapsed > .entry .tagline {
    background: none;
    border-bottom-color: #353e49;
  }
  .res.res-nightmode .comment.noncollapsed > .entry .flat-list.buttons, .res.res-nightmode .message.noncollapsed > .entry .flat-list.buttons {
    background: #2f3640;
    border-top-color: #353e49;
  }

  .res.res-nightmode .linklisting .link:not(:first-child), .res.res-nightmode .linklisting > .comment, .res.res-nightmode div:not(.child) > .listing > .message {
    border-top: solid 1px #0a0c0e !important;
    box-shadow: inset 0 1px 0 #242a32;
  }

  .res.res-nightmode .menuarea .spacer > .drop-choices.lightdrop.inuse, .res.res-nightmode .RESMacroWrappingSpan > .RESMacroDropdown {
    background: #353e49;
    border: none;
    color: #9e9e9e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  }

  .res.res-nightmode .menuarea .spacer > .drop-choices.lightdrop.inuse a:hover, .res.res-nightmode .RESMacroWrappingSpan > .RESMacroDropdown li > a:hover {
    background: #20252c;
  }

  .res.res-nightmode {
    color: #9e9e9e;
  }
  .res.res-nightmode .error {
    color: #9e9e9e;
  }
  .res.res-nightmode h1 {
    border-bottom: none;
  }
  .res.res-nightmode #header #header-bottom-left > .pagename:last-child::after,
  .res.res-nightmode #header .tabmenu {
    background: -webkit-linear-gradient(top, #292f37, #1e2229);
    background: -moz-linear-gradient(top, #292f37, #1e2229);
    background: linear-gradient(top, #292f37, #1e2229);
    box-shadow: inset 0 1px 0 #3e4855;
  }
  .res.res-nightmode #sr-header-area {
    background: rgba(0, 0, 0, 0.8) !important;
    color: #848484;
  }
  .res.res-nightmode #header-bottom-left .tabmenu .selected a {
    padding-bottom: 8px !important;
  }
  .res.res-nightmode form.submit.content .info-notice {
    background: #292f37 !important;
  }
  .res.res-nightmode .side .spacer > #search input[type=submit] {
    background-color: transparent;
  }
  .res.res-nightmode #shortlink-text {
    box-shadow: 0 1px 0 #3e4855;
  }
  .res.res-nightmode .fancy-settings + .tabmenu > li > a,
  .res.res-nightmode .formtab.tabmenu > li > a {
    background: #292f37 !important;
    color: #636363 !important;
    border: none !important;
    box-shadow: inset 0 1px 0 #38404c;
  }
  .res.res-nightmode .fancy-settings + .tabmenu > li.selected > a, .res.res-nightmode .fancy-settings + .tabmenu > li.selected > a:after,
  .res.res-nightmode .formtab.tabmenu > li.selected > a,
  .res.res-nightmode .formtab.tabmenu > li.selected > a:after {
    background: #292f37;
    color: #9e9e9e !important;
  }
  .res.res-nightmode .report-reasons li {
    color: #9e9e9e !important;
  }
  .res.res-nightmode .comment .action-form,
  .res.res-nightmode .comment .report-reasons {
    background: #2f3640;
  }
  .res.res-nightmode .tabpane-content .infobar,
  .res.res-nightmode .formtabs-content .infobar {
    background: #333b46;
    box-shadow: inset 0 1px 0 #454f5e;
  }
  .res.res-nightmode .menuarea {
    color: #9e9e9e;
  }
  .res.res-nightmode .menuarea .spacer > .dropdown.lightdrop > .selected:after {
    border-top-color: #9e9e9e;
  }
  .res.res-nightmode .menuarea .spacer .toggle .option.active.error {
    background: #292f37;
  }
  .res.res-nightmode .menuarea .spacer .toggle .option.active.error a {
    color: #5590af;
  }
  .res.res-nightmode .flairselector.drop-choices.active > h2 {
    color: #9e9e9e;
  }
  .res.res-nightmode .flairselector.drop-choices.active .flairoptionpane ul > li {
    border: none !important;
  }
  .res.res-nightmode .fancy-settings .linefield .gray {
    color: #9e9e9e;
  }
  .res.res-nightmode .login-form-side label {
    color: #9e9e9e;
  }
  .res.res-nightmode .searchfacets .title {
    color: inherit;
  }
  .res.res-nightmode .wiki .expando-button.collapsed, .res.res-nightmode .wiki .expando-button.collapsed:hover, .res.res-nightmode .wiki .expando-button.expanded, .res.res-nightmode .wiki .expando-button.expanded:hover,
  .res.res-nightmode .thing .expando-button.collapsed,
  .res.res-nightmode .thing .expando-button.collapsed:hover,
  .res.res-nightmode .thing .expando-button.expanded,
  .res.res-nightmode .thing .expando-button.expanded:hover {
    background: #313943 !important;
    border: none !important;
    box-shadow: none !important;
  }
  .res.res-nightmode .nav-buttons .nextprev {
    color: #9e9e9e;
  }
  .res.res-nightmode .nav-buttons .nextprev .separator {
    border-left: none;
  }
  .res.res-nightmode .nav-buttons .nextprev a {
    color: #9e9e9e;
  }
  .res.res-nightmode .nav-buttons .nextprev a:active {
    background: -webkit-linear-gradient(top, #3e4855, #333b46);
    background: -moz-linear-gradient(top, #3e4855, #333b46);
    background: linear-gradient(top, #3e4855, #333b46);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  .res.res-nightmode .res-nightmode button {
    border: none;
    padding-bottom: 3px;
    text-transform: capitalize;
  }
  .res.res-nightmode .submit.disabled .morelink a {
    background: #20252c;
    color: #9e9e9e !important;
    text-shadow: none;
    border: solid 1px #13161A !important;
    box-shadow: inset 0 1px 2px #0a0c0e, 0 1px 0 #3e4855;
  }
  .res.res-nightmode .fancy-toggle-button > .option.add, .res.res-nightmode .fancy-toggle-button > .option.add:hover, .res.res-nightmode .fancy-toggle-button > .option.add:active {
    background: -webkit-linear-gradient(top, #424d00, #2c3300);
    background: -moz-linear-gradient(top, #424d00, #2c3300);
    background: linear-gradient(top, #424d00, #2c3300);
  }
  .res.res-nightmode .fancy-toggle-button > .option.remove, .res.res-nightmode .fancy-toggle-button > .option.remove:hover, .res.res-nightmode .fancy-toggle-button > .option.remove:active {
    background: -webkit-linear-gradient(top, #621210, #4c0e0d);
    background: -moz-linear-gradient(top, #621210, #4c0e0d);
    background: linear-gradient(top, #621210, #4c0e0d);
  }
  .res.res-nightmode .fancy-toggle-button > .option.add:active, .res.res-nightmode .fancy-toggle-button > .option.remove, .res.res-nightmode .fancy-toggle-button > .option.remove:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.7), 0 1px 0 #3e4855;
  }
  .res.res-nightmode a.pretty-button.pressed {
    background: #3e4855 !important;
  }
  .res.res-nightmode a.pretty-button[onclick*=ignore_reports] {
    color: #9e9e9e;
  }
  .res.res-nightmode .side {
    background: none !important;
    margin: 1em 1em 1em 2em !important;
  }
  .res.res-nightmode .side a {
    color: #5590af;
  }
  .res.res-nightmode .side .titlebox > .bottom {
    border-top-color: #292f37;
  }
  .res.res-nightmode .side .sidebox {
    border: none !important;
    overflow: visible !important;
    border-radius: 0;
  }
  .res.res-nightmode .side .icon-menu a {
    color: #9e9e9e;
    background-color: transparent;
    border-color: transparent;
  }
  .res.res-nightmode .side .icon-menu a:active, .res.res-nightmode .side .icon-menu a:hover {
    color: #9e9e9e;
    border-color: #1c2026;
    background: -webkit-linear-gradient(top, #353e49, #292f37);
    background: -moz-linear-gradient(top, #353e49, #292f37);
    background: linear-gradient(top, #353e49, #292f37);
  }
  .res.res-nightmode .side .icon-menu a:hover {
    box-shadow: inset 0 1px 0 #4b5767, 0 1px 1px #1c2026;
  }
  .res.res-nightmode .side .icon-menu a:active {
    box-shadow: inset 0 1px 1px #1c2026, 0 1px 0 #4b5767;
  }
  .res.res-nightmode .sidecontentbox > .title {
    border-bottom: solid 1px #191d23;
  }
  .res.res-nightmode .sidecontentbox > .title .collapse-button,
  .res.res-nightmode .sidecontentbox > .title h1 {
    color: inherit;
    border-bottom: none;
  }
  .res.res-nightmode .sidecontentbox .content {
    border-color: #13161A;
    background: #20252c !important;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 #242a32;
  }
  .res.res-nightmode .subscribers,
  .res.res-nightmode .users-online {
    border-color: #0d0f11;
    box-shadow: 0 1px 0 #333b46, inset 0 1px 0 #22272f;
  }
  .res.res-nightmode .linklisting .link {
    background: none !important;
    padding: 1.3em 0 !important;
  }
  .res.res-nightmode .linklisting .link .entry.RES-keyNav-activeElement {
    background: none !important;
    border-right-color: #BDD4E0 !important;
  }
  .res.res-nightmode .linklisting .link.stickied .RES-keyNav-activeElement.entry > .title > a, .res.res-nightmode .linklisting .link.stickied .RES-keyNav-activeElement.entry > .title > a.loggedin, .res.res-nightmode .linklisting .link.stickied .entry > .title > a, .res.res-nightmode .linklisting .link.stickied .entry > .title > a.loggedin {
    color: #6f8000 !important;
  }
  .res.res-nightmode .linklisting .link .stickied-tagline {
    background: #2c3300;
  }
  .res.res-nightmode .thing .tagline .author {
    color: #5590af;
  }
  .res.res-nightmode .thing .tagline .author.submitter, .res.res-nightmode .thing .tagline .author.submitter:hover {
    color: #d1d1d1 !important;
    background-color: #195a89 !important;
  }
  .res.res-nightmode .thing .tagline .author.admin, .res.res-nightmode .thing .tagline .author.admin:hover {
    color: #d1d1d1 !important;
    background-color: #b9221f !important;
  }
  .res.res-nightmode .thing .tagline .author.moderator, .res.res-nightmode .thing .tagline .author.moderator:hover {
    color: #d1d1d1 !important;
    background-color: #424d00 !important;
  }
  .res.res-nightmode .thing.spam, .res.res-nightmode .thing.reported {
    border: none;
  }
  .res.res-nightmode .promotedlink .sponsored-tagline {
    background: #2d3e4c;
    color: #9e9e9e;
    box-shadow: none;
  }
  .res.res-nightmode .entry .flat-list.buttons > li.reported-stamp.stamp {
    background: #621210;
  }
  .res.res-nightmode .nsfw-stamp acronym {
    background: #364956;
  }
  .res.res-nightmode .linkflairlabel,
  .res.res-nightmode .flair {
    background-color: #333b46;
    color: #9e9e9e;
    border: none;
  }
  .res.res-nightmode .nestedlisting .thing.comment.noncollapsed:before {
    background: #242a32;
  }
  .res.res-nightmode .commentarea {
    border-top-color: black;
    box-shadow: inset 0 1px 0 #1e2229;
  }
  .res.res-nightmode .comment.noncollapsed > .entry > .usertext.border {
    background: #2c3c47;
  }
  .res.res-nightmode .comment.noncollapsed.spam > .entry:before {
    border-right-color: #461a08;
  }
  .res.res-nightmode .comment.noncollapsed.spam > .entry > .tagline {
    background-color: #461a08;
  }
  .res.res-nightmode .comment.noncollapsed.new-comment .usertext-body .md {
    border: none;
  }
  .res.res-nightmode .comment.noncollapsed.new-comment .usertext-body,
  .res.res-nightmode .comment.noncollapsed.new-comment .entry.RES-keyNav-activeElement .usertext-body {
    border-top: solid 1px #3e5363;
    border-bottom: solid 1px #3e5363;
    background-color: #324450 !important;
  }
  .res.res-nightmode .morerecursion > .entry.RES-keyNav-activeElement > .deepthread,
  .res.res-nightmode .morechildren > .entry.RES-keyNav-activeElement > .morecomments,
  .res.res-nightmode .comment.collapsed > .entry.RES-keyNav-activeElement > .tagline {
    outline-color: #BDD4E0;
  }
  .res.res-nightmode.wiki-page .wikititle {
    border: none !important;
  }
  .res.res-nightmode.wiki-page button.RESBigEditorPop {
    top: 40px;
  }
  .res.res-nightmode.wiki-page .pageactions > .wikiaction {
    border-radius: 0;
  }
  .res.res-nightmode.wiki-page .pageactions > .wikiaction:first-child {
    border-radius: 3px 0 0 3px;
  }
  .res.res-nightmode.wiki-page .pageactions > .wikiaction:last-child {
    border-radius: 0 3px 3px 0;
  }
  .res.res-nightmode.wiki-page .md.wiki > .toc {
    background: #292f37 !important;
    border: solid 1px #3e4855;
    box-shadow: none;
  }
  .res.res-nightmode.wiki-page .md.wiki > .toc::before {
    border-bottom-color: #495464;
  }
  .res.res-nightmode.wiki-page .md.wiki > .toc::after {
    display: none;
  }
  .res.res-nightmode.wiki-page .md.wiki > .toc > ul ul {
    background: none !important;
    border-left-color: #495464;
  }
  .res.res-nightmode.wiki-page .wikirevisionlisting .generic-table {
    color: #9e9e9e;
  }
  .res.res-nightmode.wiki-page .wikirevisionlisting .generic-table tr td {
    border-color: #0d0f11 !important;
    box-shadow: inset 1px 1px 0 #242a32;
  }
  .res.res-nightmode.wiki-page .wikirevisionlisting .generic-table tr:hover > td {
    background-color: #1c2026;
  }
  .res.res-nightmode .wiki-page .wiki-page-content .md.wiki {
    border: none;
  }
  .res.res-nightmode table.diff {
    background: #13161A;
    border-color: #22272f;
  }
  .res.res-nightmode table.diff .diff_header,
  .res.res-nightmode table.diff .diff_next {
    background: #22272f;
    color: #9e9e9e;
    border-color: #171b20;
    box-shadow: inset 1px 1px 0 #38404c;
  }
  .res.res-nightmode table.diff tbody .diff_header:not([id]) {
    color: #454f5e;
  }
  .res.res-nightmode .md a:not(.userTagLink):not(.noKeyNav):not(.expando-button) {
    background: none !important;
  }
  .res.res-nightmode .md p,
  .res.res-nightmode .md ul,
  .res.res-nightmode .md ol,
  .res.res-nightmode .md li,
  .res.res-nightmode .md strong,
  .res.res-nightmode .md table,
  .res.res-nightmode .md tbody,
  .res.res-nightmode .md tr,
  .res.res-nightmode .md td,
  .res.res-nightmode .md em,
  .res.res-nightmode .md h1,
  .res.res-nightmode .md h2,
  .res.res-nightmode .md h3,
  .res.res-nightmode .md h4,
  .res.res-nightmode .md h5,
  .res.res-nightmode .md h6 {
    background: none !important;
    color: inherit !important;
  }
  .res.res-nightmode .md pre,
  .res.res-nightmode .md code,
  .res.res-nightmode .md blockquote {
    color: #9e9e9e;
    background: #292f37 !important;
  }
  .res.res-nightmode .md code {
    background: none !important;
    color: #eb7443;
  }
  .res.res-nightmode .md pre > code {
    color: #eb7443;
    border-color: #38404c;
  }
  .res.res-nightmode .md hr {
    background: #38404c !important;
  }
  .res.res-nightmode .md h1,
  .res.res-nightmode .md h2 {
    border-bottom-color: #515151 !important;
  }
  .res.res-nightmode .md td,
  .res.res-nightmode .md th {
    border-color: #333b46;
  }
  .res.res-nightmode .md th {
    background: #333b46 !important;
    color: #9e9e9e;
    text-shadow: none;
    box-shadow: none;
  }
  .res.res-nightmode .md tbody tr:hover {
    background: #22272f !important;
  }
  .res.res-nightmode .md a[href$="/spoiler"] {
    background: #495464 !important;
    color: #495464 !important;
  }
  .res.res-nightmode .md a[href$="/spoiler"]:hover {
    color: #9e9e9e !important;
  }
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight .md a,
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight #BigPreview.md a,
  .res.res-nightmode .RESDialogSmall.livePreview .md a,
  .res.res-nightmode .RESDialogSmall.livePreview #BigPreview.md a {
    color: #2177b4 !important;
  }
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight .md a[href$="/spoiler"],
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight #BigPreview.md a[href$="/spoiler"],
  .res.res-nightmode .RESDialogSmall.livePreview .md a[href$="/spoiler"],
  .res.res-nightmode .RESDialogSmall.livePreview #BigPreview.md a[href$="/spoiler"] {
    color: #495464 !important;
  }
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight .md a[href$="/spoiler"]:hover,
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight #BigPreview.md a[href$="/spoiler"]:hover,
  .res.res-nightmode .RESDialogSmall.livePreview .md a[href$="/spoiler"]:hover,
  .res.res-nightmode .RESDialogSmall.livePreview #BigPreview.md a[href$="/spoiler"]:hover {
    color: #9e9e9e !important;
  }
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight .md a:visited,
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight #BigPreview.md a:visited,
  .res.res-nightmode .RESDialogSmall.livePreview .md a:visited,
  .res.res-nightmode .RESDialogSmall.livePreview #BigPreview.md a:visited {
    color: #5358ba !important;
  }
  .res.res-nightmode .RESDialogSmall.livePreview {
    border-color: #13161A;
    overflow: hidden;
  }
  .res.res-nightmode .RESDialogSmall.livePreview > h3 {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .res.res-nightmode #BigEditor > .RESDialogSmall.BELeft {
    background: #13161A url("http://i.imgur.com/zunAMnr.jpg") left top repeat;
    box-shadow: inset 0 1px 0 #292f37;
  }
  .res.res-nightmode #BigEditor > .RESDialogSmall.BERight {
    background: #191d23 !important;
  }
  .res.res-nightmode .RESCharCounter {
    background-color: #242a32;
    color: #9e9e9e;
  }
  .res.res-nightmode .RESCharCounter.tooLong {
    background-color: #621210;
  }
  .res.res-nightmode .markdownEditor-wrapper + div > textarea {
    border-top: none !important;
  }
  .res.res-nightmode .commentingAs,
  .res.res-nightmode .markdownEditor + .RESMacroWrappingSpan {
    border-top-color: #20252c;
    box-shadow: inset 0 1px 0 #475261;
  }
  .res.res-nightmode .markdownEditor a.edit-btn {
    background-color: transparent;
    font-size: 0;
    text-indent: 0;
  }
  .res.res-nightmode .markdownEditor a.edit-btn:hover {
    box-shadow: inset 0 1px 0 #475261;
  }
  .res.res-nightmode .markdownEditor a.edit-btn:active {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 #424d5b;
  }
  .res.res-nightmode .footer-parent .footer {
    border-top: solid 1px #0a0c0e !important;
    border-bottom: solid 1px #0a0c0e !important;
    box-shadow: inset 0 1px 0 #242a32, 0 1px 0 #242a32;
  }
  .res.res-nightmode #RESAccountSwitcherDropdown .addAccount, .res.res-nightmode #RESPrefsDropdown .toggleButton .toggleOn,
  .res.res-nightmode #RESPrefsDropdown .toggleButton .toggleOff {
    background: -webkit-linear-gradient(top, #424d5b, #353e49);
    background: -moz-linear-gradient(top, #424d5b, #353e49);
    background: linear-gradient(top, #424d5b, #353e49);
  }
  .res.res-nightmode .RESDropdownList {
    background: -webkit-linear-gradient(bottom, #2d343d 97%, #1c2026);
    background: -moz-linear-gradient(bottom, #2d343d 97%, #1c2026);
    background: linear-gradient(bottom, #2d343d 97%, #1c2026);
  }
  .res.res-nightmode .RESDropdownList li {
    background: none;
  }
  .res.res-nightmode .RESDropdownList li:hover {
    background: #3c4552;
  }
  .res.res-nightmode .RESDropdownList li a,
  .res.res-nightmode .RESDropdownList li a:hover {
    background: none !important;
  }
  .res.res-nightmode .RESMacroWrappingSpan > .RESMacroDropdownTitle {
    border: none;
  }
  .res.res-nightmode .RESMacroWrappingSpan > .RESMacroDropdownTitle.openMacro {
    background: #353e49;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser {
    background: #111417;
    box-shadow: 1px 0 0 #242a32;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser .grippy {
    border-right: solid 1px #0a0c0e;
    border-left: solid 1px #0a0c0e !important;
    background: #13161A url("http://i.imgur.com/zunAMnr.jpg") top left repeat;
    box-shadow: inset 1px 0 0 #292f37;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser li {
    color: #9e9e9e;
    border: none;
    margin-bottom: 7px;
    background: -webkit-linear-gradient(top, #292f37, #1e2229);
    background: -moz-linear-gradient(top, #292f37, #1e2229);
    background: linear-gradient(top, #292f37, #1e2229);
    box-shadow: inset 0 1px 0 #3e4855, 0 2px 2px #0d0f11;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser li > a {
    color: inherit;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser li.selected {
    background: -webkit-linear-gradient(top, #333b46, #242a32);
    background: -moz-linear-gradient(top, #333b46, #242a32);
    background: linear-gradient(top, #333b46, #242a32);
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser li.selected:before {
    border-left-color: #BDD4E0;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser li.selected a {
    color: #c4c4c4;
  }
  .res.res-nightmode body.with-listing-chooser .listing-chooser .intro {
    background: #1C2C38;
    border-top-color: #3e617c;
    border-bottom-color: #3e617c;
  }
  .res.res-nightmode .multi-details.titlebox > .redditname {
    background: none !important;
  }
  .res.res-nightmode .multi-details.titlebox > .redditname > a {
    color: #9e9e9e;
  }
  .res.res-nightmode .multi-details > h2 {
    border-bottom-color: #333b46;
  }
  .res.res-nightmode .side form.add-sr button.add,
  .res.res-nightmode .side .subreddits > li > button.remove-sr,
  .res.res-nightmode .side .recommend-box > .recs > .recommendations > .rec-item > button.add {
    color: transparent !important;
    min-width: 0.7em !important;
    width: 0.7em !important;
    text-shadow: none;
  }
  .res.res-nightmode .multi-selector:before {
    border: none !important;
  }
  .res.res-nightmode .multi-selector.anchor-left:after {
    border-right-color: #292f37;
  }
  .res.res-nightmode .multi-selector.anchor-right:after {
    border-left-color: #292f37;
  }
  .res.res-nightmode .multi-selector strong {
    color: inherit;
  }
  .res.res-nightmode .multi-selector .multi-list label:hover {
    background: #3a434f;
  }
  .res.res-nightmode .multi-selector .multi-list a {
    padding: 2px;
    opacity: 1;
    border: solid 1px #1c2026;
    box-shadow: inset 0 1px 0 #4b5767;
  }
  .res.res-nightmode .interestbar {
    background: none !important;
    padding: 0 !important;
  }
  .res.res-nightmode .interestbar .sr-interest-bar > .bubble > .query-box {
    border: none;
  }
  .res.res-nightmode .interestbar .sr-interest-bar > .bubble > .query-box > .query {
    padding: 5px;
  }
  .res.res-nightmode .organic-listing .nextprev .arrow {
    background: none !important;
    height: auto !important;
    line-height: 1em !important;
    border: none !important;
    box-shadow: none !important;
  }
  .res.res-nightmode .organic-listing .nextprev .arrow.prev:before {
    border-right-color: #8ba5ba;
  }
  .res.res-nightmode .organic-listing .nextprev .arrow.next:before {
    border-left-color: #8ba5ba;
  }
  .res.res-nightmode .trending-subreddits > .trending-subreddits-content > strong,
  .res.res-nightmode .trending-subreddits > .trending-subreddits-content > a {
    color: #9e9e9e;
  }
  .res.res-nightmode .message {
    background: none !important;
  }
  .res.res-nightmode .message:not(.recipient) > .entry > .tagline {
    background: #30414d;
  }
  .res.res-nightmode .message:not(.recipient).noncollapsed > .entry::before {
    border-right-color: #30414d;
  }
  .res.res-nightmode .message.new > .entry {
    border: none;
    padding: 0;
  }
  .res.res-nightmode .message > .entry,
  .res.res-nightmode .message > .entry .tagline {
    color: #9e9e9e !important;
  }
  .res.res-nightmode .message > .entry .head {
    color: inherit !important;
  }
  .res.res-nightmode .message.collapsed > .entry.RES-keyNav-activeElement > .tagline {
    outline-color: #BDD4E0;
  }
  .res.res-nightmode .message.noncollapsed .parent.rounded {
    color: #9e9e9e;
    background: #3a434f !important;
  }
  .res.res-nightmode #compose-message .roundfield {
    background: none;
  }
  .res.res-nightmode .explore-item {
    background: #242a32;
    border: solid 1px #080a0b;
    box-shadow: inset 0 1px 0 #3e4855, 0 1px 2px black;
  }
  .res.res-nightmode .explore-item .fancy-toggle-button.toggle > .option.active,
  .res.res-nightmode .explore-item .explore-feedback-dismiss {
    border: solid 1px #13161A;
  }
  .res.res-nightmode .explore-sr {
    padding-bottom: 5px;
    border-bottom-color: #13161A;
    box-shadow: 0 1px 0 #313943;
  }
  .res.res-nightmode .server-seconds em {
    color: #b7b7b7;
  }
  .res.res-nightmode .RESDashboardComponent {
    background: #191d23;
    border: none;
    box-shadow: 0 1px 2px #080a0b;
  }
  .res.res-nightmode #RESDashboardEditComponent {
    border-color: #20252c;
  }
  .res.res-nightmode #RESDashboardEditComponent,
  .res.res-nightmode .RESDashboardComponentHeader {
    background-color: transparent !important;
    border-bottom-color: #20252c;
    background: -webkit-linear-gradient(top, #353e49, #292f37);
    background: -moz-linear-gradient(top, #353e49, #292f37);
    background: linear-gradient(top, #353e49, #292f37);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 #4b5767;
  }
  .res.res-nightmode a.widgetPath {
    background: #20252c;
    color: #9e9e9e;
    border: none;
    box-shadow: none;
  }
  .res.res-nightmode ul.widgetSortButtons > li {
    border-top: solid 1px #13161A;
    border-bottom: solid 1px #13161A;
  }
  .res.res-nightmode ul.widgetSortButtons > li:first-child {
    border-left: solid 1px #13161A;
  }
  .res.res-nightmode ul.widgetSortButtons > li:last-child {
    border-right: solid 1px #13161A;
  }
  .res.res-nightmode .widgetStateButtons > li:not(.updateTime) {
    border: solid 1px #13161A;
  }
  .res.res-nightmode .widgetStateButtons > li.updateTime, .res.res-nightmode .widgetStateButtons > li.updateTime:hover {
    color: inherit !important;
    background: none;
  }
  .res.res-nightmode .backToWidgetTypes {
    color: #9e9e9e;
  }
}
