body {
  background: $main-bg url($main-bg-image) left top repeat;
  color: $main-fg;
  font-family: $sans-serif;
}

a {
  @extend %tn-link;
}

hr {
  @extend %tn-horiz-bar;
  margin: 1.5em 0em;
}

.error {
  color: $main-fg;
}

.content {
  overflow: hidden;
  padding-bottom: 10px;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}
