.fancy-toggle-button {
  > .option {
    &.add,
    &.remove {
      @extend %tn-button;
      font-size: 13px;
      margin: 0;

      &.active {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.add {
      &,
      &:active,
      &:focus,
      &:hover {
        @include linear-gradient(top, $subscribe-bg, darken($subscribe-bg, 6%));
      }
    }

    &.remove {
      &,
      &:hover,
      &:focus,
      &:active {
        @include linear-gradient(top, $unsubscribe-bg, darken($unsubscribe-bg, 6%));
      }
    }

    &.add:active,
    &.remove,
    &.remove:active {
      @include shadow(inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.7));
    }
  }
}

.nub {
  display: none;
}

.morelink {
  border: none;
  background: none;
  height: auto;

  &:hover {
    background: none !important;
  }

  a {
    @extend %tn-button;
    letter-spacing: 0;
    margin-right: 0;
    padding: 5px 8px;
  }
}

.submit {
  &.disabled > .morelink > a {
    color: $button-disabled-fg !important;
    background: $button-disabled-bg;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    @include shadow(0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 2px rgba(0, 0, 0, 0.2));
  }

  &.mod-override > .morelink {
    > a {
      padding-left: 30px;
      &::after {
        @extend %tn-icon;
        background-position: -16px -32px;
        left: 3px;
        top: 1px;
        opacity: 0.6;
      }
    }

    &:hover > a {
      &::after {
        opacity: 1;
      }
    }
  }
}

.fancy-settings button,
.usertext-edit button.save,
.usertext-edit button.cancel,
.tabbedpane button,
.flairselector button,
.wiki-page-content button,
.formtabs-content button,
button.btn,
input[type=submit] {
  @extend %tn-default-button;
}


.expando-button {
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: relative;
  padding: 0 !important;
  background-position: 0 0 !important;

  &::before {
    content: '';
    position: absolute;
    left: 4px;
    right: 4px;
    height: 3px;
    top: 8px;
    background: $expand-button-fg;
  }

  &.selftext,
  &.video {
    &.collapsed {
      &,
      &:hover {
        @extend %tn-small-button-default;
      }

      &::after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        width: 3px;
        left: 8px;
        background: $expand-button-fg;
      }
    }

    &.expanded {
      &,
      &:hover {
        @extend %tn-small-button-default;
        @extend %tn-small-button-pressed;
      }
    }
  }
}

.nav-buttons {
  padding: 1em 0em;
}

.nextprev {
  color: $main-fg;
  > a[rel] {
    @extend %tn-small-button;
  }
}

.next-suggestions {
  > a {
    @extend %tn-alt-small-button;
  }
}

#search > input[type="submit"] {
  @extend %tn-button-reset;
}

a.pretty-button {
  @extend %tn-bracketed;
  display: inline-block;
  border: none;
  padding: 0;
  font-size: $normal-font-size;
  @include rounded(0);

  &,
  &.neutral {
    background: none;
  }

  &::before,
  &::after {
    color: $list-entry-fg !important;
    display: inline-block;
  }

  &.pressed {
    font-weight: bold;
    background: $misc-selected-bg !important;
  }

  &[onclick*=ignore_reports] {
    color: $misc-ignore-color;
  }
}

.big-mod-buttons {
  .pretty-button {
    background: none;
  }

  > span[role=radiogroup] > .pretty-button {
    &:first-child {
      color: $misc-spam-color;
    }

    &:nth-child(2) {
      color: $misc-remove-color;
    }

    &.positive {
      color: $misc-approve-color;
    }
  }
}

.comment .pretty-button:hover {
  text-decoration: underline !important;
}
