.tn-button {
  color: $button-fg;
  font-family: $sans-serif;
  padding: 2px 8px;
  width: auto;
  min-width: 4em;
  height: auto;
  line-height: 1.5em;
  vertical-align: middle;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  border: none;
  text-align: center;
  margin-right: 3px;
  @include linear-gradient(top, $button-bg, darken($button-bg, 6%));
  @include rounded(4px);
  @include shadow(0px 1px 2px rgba(0, 0, 0, 0.4), inset 0px -2px 0px rgba(0, 0, 0, 0.3));

  &:visited {
    color: $button-fg;
  }

  &:hover,
  &:focus {
    color: $button-fg;
    text-decoration: none !important;
    @include linear-gradient(top, lighten($button-bg, 5%), darken($button-bg, 5%));
  }

  &:focus,
  &:active {
    outline: none !important;
  }

  &:active {
    @include linear-gradient(top, $button-bg, darken($button-bg, 10%));
    @include shadow(inset 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(255, 255, 255, 0.7));
  }
}


.tn-small-button-default,
.tn-small-button {
  @include shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
}

.tn-small-button-default,
.tn-small-button-shadowless,
.tn-small-button {
  color: $small-button-fg;
  text-decoration: none;
  padding: 2px 6px;
  border: solid 1px darken($small-button-bg, 30%);
  @include linear-gradient(top, $small-button-bg, darken($small-button-bg, 6%));
  @include rounded(3px);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}


.tn-small-button-pressed,
.tn-small-button-shadowless:active,
.tn-small-button:active {
  @include linear-gradient(top, darken($small-button-bg, 3%), darken($small-button-bg, 9%));
  @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.7));
}

.fancy-toggle-button {
  > .option {
    &.add,
    &.remove {
      @extend .tn-button;
      font-size: 13px;
      margin: 0px;

      &.active {
        display: inline-block;
        vertical-align: middle;
      }
    }

    @if $subscribe-button-placement == header {
      &.add {
        &,
        &:hover,
        &:focus,
        &:active {
          @include linear-gradient(top, $subscribe-bg, darken($subscribe-bg, 6%));
        }
      }

      &.remove {
        &,
        &:hover,
        &:focus,
        &:active {
          @include linear-gradient(top, $unsubscribe-bg, darken($unsubscribe-bg, 6%));
        }
      }

      &.add,
      &.remove {
        &:active {
          @include shadow(inset 0px 2px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3));
        }
      }
    } @else {
      &.add,
      &.remove {
        &,
        &:active,
        &:focus,
        &:hover {
          @include linear-gradient(top, $subscribe-bg, darken($subscribe-bg, 6%));
        }
      }

      &.add:active,
      &.remove,
      &.remove:active {
        @include shadow(inset 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 2px 2px rgba(255, 255, 255, 0.7));
      }
    }

  }
}

.nub {
  display: none;
}

.morelink {
  border: none;
  background: none;

  a {
    @extend .tn-button;
    letter-spacing: 0px;
    margin-right: 0px;
    padding: 5px 8px;
  }
}

.submit.disabled > .morelink > a {
  color: $button-disabled-fg;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  @include shadow(0px 1px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px rgba(0, 0, 0, 0.2));
  @include linear-gradient(top, $button-disabled-bg, darken($button-disabled-bg, 7%));
  //darken($main-bg, 12%), darken($main-bg, 19%));
}

button,
input[type=submit] {
  @extend .tn-button;
  padding-bottom: 3px;
  text-transform: capitalize;
}

.expando-button {
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.3);
  width: 19px;
  height: 19px;
  position: relative;
  @include rounded(100%);

  &::before {
    content: '';
    position: absolute;
    left: 4px;
    right: 4px;
    height: 3px;
    top: 8px;
    background: $expand-button-fg;
  }

  &.selftext,
  &.video {
    &.collapsed {
      @include shadow(0px 1px 0px rgba(0, 0, 0, 0.16));

      &,
      &:hover {
        @include linear-gradient(top, $small-button-bg, darken($small-button-bg, 14%));
      }

      &::after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        width: 3px;
        left: 8px;
        background: $expand-button-fg;
      }
    }

    &.expanded {
      @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));

      &,
      &:hover {
        @include linear-gradient(top, darken($small-button-bg, 5%), darken($small-button-bg, 20%));
      }
    }
  }
}
