.fancy-toggle-button {
  > .option {
    &.add,
    &.remove {
      @extend %tn-button;
      font-size: 13px;
      margin: 0;

      &.active {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.add {
      &,
      &:active,
      &:focus,
      &:hover {
        @include linear-gradient(top, $subscribe-bg, darken($subscribe-bg, 5%));
      }
    }

    &.remove {
      &,
      &:hover,
      &:focus,
      &:active {
        @include linear-gradient(top, $unsubscribe-bg, darken($unsubscribe-bg, 5%));
      }
    }

    &.add:active,
    &.remove,
    &.remove:active {
      @include shadow(inset 0 2px 4px rgba(0, 0, 0, 0.7), 0 1px 0 lighten($main-bg, 20%));
    }
  }
}

.nub {
  display: none;
}

.morelink {
  @extend %tn-background-force-reset;
  border: none;
  height: auto;

  &:hover {
    @extend %tn-background-force-reset;
  }

  a {
    @extend %tn-button;
    letter-spacing: 0;
    margin-right: 0;
    padding: 5px 8px;
  }
}

.submit {
  &.disabled > .morelink > a {
    color: $button-disabled-fg !important;
    background: $button-disabled-bg;
    @include shadow(inset 0 1px 2px darken($button-disabled-bg, 10%), 0 1px 0 lighten($main-bg, 20%));
  }

  &.mod-override > .morelink {
    > a {
      padding-left: 30px;
      &:after {
        @extend %tn-icon;
        background-position: -16px -32px;
        left: 3px;
        top: 1px;
        opacity: 0.6;
      }
    }

    &:hover > a {
      &:after {
        opacity: 1;
      }
    }
  }
}

button,
input[type=submit] {
  @extend %tn-default-button;
}


.expando-button {
  cursor: pointer;
  width: 19px !important;
  height: 19px !important;
  position: relative;
  padding: 0 !important;
  background-image: none !important;
  background-position: 0 0 !important;
  background-color: lighten($main-bg, 14%) !important;
  @include rounded(3px);

  &:before {
    content: '';
    position: absolute;
    left: 4px;
    right: 4px;
    height: 3px;
    top: 8px;
    background: $expand-button-fg;
  }

  &.collapsedExpando,
  &.selftext,
  &.video {
    &.collapsed {
      &:after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        width: 3px;
        left: 8px;
        background: $expand-button-fg;
      }
    }
  }

  &:hover {
    text-decoration: none !important;
  }
}

.nav-buttons {
  padding: 1em 0;
  a {
    &,
    &:hover {
      @extend %tn-small-button;
    }
  }

  .separator {
    border-left: none;
  }
}

#search > input[type="submit"] {
  @extend %tn-button-reset;
}

.pretty-button {
  &.neutral,
  &.positive,
  &.negative {
    @extend %tn-small-button;
    border: solid 1px $main-bg;
    padding: 2px 5px;
    margin: 0 1px;
    vertical-align: middle;

    &.pressed {
      @extend %tn-small-button-pressed;
    }
  }

  &.neutral[onclick*=ignore_reports] {
    color: $misc-ignore-color;
  }
}

.big-mod-buttons {
  > span[role=radiogroup] > .pretty-button {
    &:first-child {
      color: $misc-spam-color;
    }

    &:nth-child(2) {
      color: $misc-remove-color;
    }

    &.positive {
      color: $misc-approve-color;
    }
  }
}
