.commentarea {
  @extend %tn-list-entry-separator;
  padding-top: 10px;
  position: relative;

  > .infobar {
    margin-bottom: 15px;
    margin-left: 10px;
    border-left: solid 4px darken($info-box-bg, 50%);
  }

  .menuarea {
    color: $main-fg;
    + .nestedlisting {
      clear: both;
      padding-top: 20px;
    }
  }

  .panestack-title {
    border-bottom: none;
    margin: 0 0 8px 10px;
  }

  > .usertext {
    clear: both;
    overflow: visible;

    > .usertext-edit {
      display: inline-block;
      width: auto;
    }
  }

  .bottom-area {
    > .help-toggle,
    > .reddiquette {
      margin-top: 9px;
    }
  }
}

@if $comment-level-indicator != none {
  $context: null;
  @if $comment-level-indicator == all {
    $context: '';
  } @else if $comment-level-indicator == child-only {
    $context: '.child';
  } @else {
    @warn 'Valid values for $comment-level-indicator are: child-only, all, none';
  }

  @if $context {
    .nestedlisting #{$context} .thing.comment.noncollapsed:before {
      content: '';
      position: absolute;
      background: lighten($main-bg, 8%);
      top: 46px;
      left: 10px;
      width: 1px;
      bottom: 6px;
    }
  }
}

.linklisting {
  > .comment {
    @extend %tn-list-entry;
    > .parent {
      padding: 10px 32px 5px 32px;
    }
  }
}

.comment {
  font-size: $normal-font-size;

  .usertext-edit {
    padding: 4px 10px !important;
  }

  &.spam {
    &,
    & .child {
      background-color: transparent;
    }

    > .entry {
      &:before {
        border-right-color: $misc-spam-tagline-bg;
      }

      .tagline {
        background: $misc-spam-tagline-bg;

        time:first-of-type:after {
          content: 'Spam';
          display: inline-block;
          background: $misc-spam-color;
          color: $misc-spam-tag-fg;
          padding: 0 3px;
          margin: 0 5px;
          @include rounded(2px);
        }
      }
    }
  }

  .midcol {
    position: absolute;
    width: 16px;
    top: 3px;
  }

  .child {
    margin-top: 0;
    border-left: none;
    > .usertext {
      margin-left: 20px;
    }
  }

  .score,
  &.collapsed {
    font-size: 13px;
  }

  &.noncollapsed {
    display: block;
    &.thing {
      position: relative;
    }

    > .entry {
      @extend %tn-comment-bubble;
      max-width: 95%;
      margin: 6px 2px 7px 32px;

      .tagline {
        @extend %tn-comment-tagline;
      }

      .usertext {
        // single comment thread. god knows why it's called .border
        &.border {
          background: $highlighted-comment-bg;

          > .usertext-body {
            @extend %tn-background-reset;
          }
        }

        > .usertext-body {
          max-width: $max-comment-width;
          padding: 2px 14px 2px 10px;
        }

      }

      .usertext-edit textarea {
        max-width: $max-comment-width + 4em;
      }

      .flat-list.buttons {
        @extend %tn-comment-footer;
      }
    }
  }

  &.deleted > .entry {
    opacity: 0.7;

    > .usertext > .usertext-body {
      display: none;
    }
  }

  .unvotable-message {
    margin-left: 5px;
  }

  &.new-comment .usertext-body {
    border-left: none;
    border-right: none;
    background: $new-comment-bg;
    border-color: $new-comment-border-color;
  }
}

.morerecursion .deepthread,
.morechildren .morecomments {
  margin: 5px 17px !important;
  display: inline-block;
}

.morerecursion,
.morechildren {
  a {
    @extend %tn-link;
  }
}

.comment.collapsed .tagline {
  margin: 5px 1px !important;
  display: inline-block;
}

.contest-mode.infobar {
  @extend %tn-info-box;
  position: absolute;
  top: 5px;
  right: 0;
  max-width: 300px;
  margin: 0;
  font-size: 0;

  &:hover,
  strong {
    font-size: $normal-font-size;
  }
}

.gold-accent.comment-visits-box {
  @extend %tn-info-box;
  margin-left: 10px;
}
