%tn-flair {
  display: inline-block;
  font-size: 12px !important;
  border: solid 1px rgba(0, 0, 0, 0.2);
  line-height: 1.2em;
  padding: 1px 4px;
  vertical-align: middle;
  background: $flair-bg;
  color: $flair-fg;
}

.linkflairlabel,
.flair {
  @extend %tn-flair;
}
