.footer {
   border-top: solid 1px rgba(0, 0, 0, 0.2);
   border-bottom: solid 1px rgba(255, 255, 255, 0.7);
   border-left: none;
   border-right: none;
   overflow: hidden;
   padding: 2em 0em;
   @include shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px -1px 0px rgba(0, 0, 0, 0.2));

   &.rounded {
      @include rounded(0px);
   }

   .col {
      border: none;
      margin: 0em 2em;
   }
}

.flat-vert {
   &.title {
      font-weight: bold;
      font-family: $sans-serif;
   }
}

.bottommenu {
   a {
      color: $link-fg;

      &.updated {
         color: $link-fg;
      }
   }
}
