.footer-parent {
  background-image: none;
}

.footer {
  border-top: solid 1px darken($main-bg, 4%);
  border-bottom: solid 1px darken($main-bg, 4%);
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 2em 0;
  @include shadow(inset 0 1px 0 lighten($main-bg, 8%), 0 1px 0 lighten($main-bg, 8%));

  &.rounded {
    @include rounded(0);
  }

  .col {
    border: none;
    margin: 0 2em;
  }
}

.flat-vert {
  &.title {
    font-weight: bold;
    font-family: $sans-serif;
  }
}

.bottommenu {
  a {
    color: $link-fg;

    &.updated {
      color: $link-fg;
    }
  }
}
