.infobar {
  background: $info-box-bg;
  border: solid 1px rgba(0, 0, 0, 0.3);
  font-family: $sans-serif;
  @include rounded(3px);
  @include shadow(0px 1px 0px rgba(255, 255, 255, 0.7));
}

#search input[type=text],
.roundfield-content > input#url,
.pretty-form textarea,
.pretty-form input[type=text],
.pretty-form input[type=password],
textarea,
input[type=text],
input[type=password] {
  padding: 3px;
  background: $input-bg;
  color: $input-fg;
  border: solid 1px rgba(0, 0, 0, 0.3) !important;
  font-family: $sans-serif;
  @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.8));
  @include rounded(3px);
}

.roundfield,
.linefield {
  background: none;
  padding: 0px;

  &.info-notice {
    width: 520px;
  }

  .usertext-edit textarea {
    width: 500px;
  }
}

#tab-grant,
#tab-templates,
#tab-link_templates {
  margin: 0px !important;
}

.fancy-settings + .tabmenu {
  margin-left: 20px;
}

.fancy-settings + .tabmenu,
.formtab.tabmenu {
  padding: 0px;
  font-size: 14px;

  > li {
    display: block;
    font-weight: normal;
    float: left;

    a {
      display: block;
      padding: 3px 17px;
      position: relative;
      margin-right: 3px;
      color: $form-tab-fg !important;
      border-left: solid 1px rgba(0, 0, 0, 0.3) !important;
      border-right: solid 1px rgba(0, 0, 0, 0.3) !important;
      border-top: solid 1px rgba(0, 0, 0, 0.3) !important;
      border-bottom: none !important;
      background: darken($form-tab-bg, 6%);
      font-size: 14px;
      outline: none !important;
      @include rounded(3px 3px 0px 0px);
    }

    &.selected {
      a {
        font-size: 14px;
        background: $form-tab-bg;
        @include shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.7));
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          height: 2px;
          background: $form-tab-bg;
        }
      }
    }
  }
}

.tabpane-content {
  margin-left: 10px;
}

.tabpane-content,
.formtabs-content {
  clear: both;
  margin-bottom: 1em;
  @include shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 1px 1px rgba(0, 0, 0, 0.14));
}

.flairselector,
.tabpane-content,
.formtabs-content {
  overflow: hidden;
  background: $box-bg;
  border: solid 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  @include rounded(3px);
}

.fancy-settings {
  padding: 10px;
  overflow: hidden;

  .linefield {
    @extend .formtabs-content;
    margin-bottom: 0.4em;
  }
}

.flairgrant,
.fancy-settings {
  .linefield {
    .title {
      color: $link-fg;
    }

    .linefield-content {
      margin-top: 0.5em;
    }

    input[type=text] {
      width: 350px !important;
      vertical-align: middle;
    }

    button {
      font-size: 13px !important;
      margin-left: 8px;
    }
  }
}


.flairselector {
  min-width: 250px !important;
  padding: 6px !important;
  @include shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 4px 6px rgba(0, 0, 0, 0.2));

  &.drop-choices.active {
    border-color: rgba(0, 0, 0, 0.3);
  }

  > h2 {
    background: $engraved-box-bg;
    color: $popup-title-fg;
    text-transform: capitalize;
    padding: 4px;
    margin-bottom: 10px;
    @include rounded(3px);
    @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.17), 0px 1px 0px rgba(255, 255, 255, 0.8));
  }

  > form {
    padding: 4px;
    border-top-color: rgba(0, 0, 0, 0.3);
  }

  .flairoptionpane {
    ul {
      padding-bottom: 4px;
      > li {
        padding: 2px 6px !important;
        border: solid 1px transparent;
        display: inline-block;
        line-height: 1.2em;
        @include rounded(3px);

        &:hover {
          @extend %tn-small-button-default;
        }

        &:active {
          @extend %tn-small-button-pressed;
        }
      }
    }
  }

  .customizer,
  button {
    display: inline-block;
    vertical-align: middle;
    margin: 0em 0.3em;
  }
}

.flairoptionpane ul > li,
.flairselection {
  > .flairremove,
  > .linkflair {
    > a,
    > a.title {
      padding: 0px !important;
      &:hover {
        background: none !important;
      }
    }
  }
}

.flairlist {
  .flairrow {
    .flaircell,
    .header {
      margin-right: 2ex;

      &.tagline {
        width: 30ex;
      }
    }
  }
}

.flairselection {
  > .flairremove {
    margin: 1em 0em;
  }
}

.clearflairtemplates-button {
  margin: 1em 0.5em;
}

.menuarea {
  color: $main-fg;
  overflow: visible;
  margin: 15px 0px 0px 10px;
  padding: 5px;
  width: 650px;
  position: relative;
  border: none !important;

  &::after {
    content: '';
    display: block;
    clear: left;
  }


  .spacer {
    display: block;
    float: left;
    margin: 0px 5px 0px 0px;

    &:first-child {
      position: relative;
    }

    .toggle .togglebutton,
    .dropdown.lightdrop,
    .dropdown-title {
      display: block;
      float: left;
    }

    .dropdown-title {
      margin-right: 5px;
      margin-top: 3px;
    }

    .toggle .togglebutton,
    .dropdown.lightdrop {
      @extend %tn-small-button-shadowless;
      font-size: 1em;
    }

    > form.toggle {
      vertical-align: middle;
      margin: 0px !important;
    }

    .dropdown.lightdrop {
      > .selected {
        text-decoration: none;
        color: inherit;
        padding-right: 0px;
        background: none;

        &::after {
          content: '';
          width: 0px;
          height: 0px;
          margin-left: 4px;
          display: inline-block;
          vertical-align: middle;
          border-left: solid 4px transparent;
          border-right: solid 4px transparent;
          border-top: solid 4px $small-button-fg;
        }
      }
    }

    > .help-hoverable {
      display: none;
      z-index: 3000;
      left: 30%;
      bottom: 110%;
      width: 30em;
      color: $tooltip-bg;
      position: absolute;
      background: $tooltip-bg;
      padding: 4px 6px;
      @include shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
      @include rounded(3px);

      &::before {
        color: $main-fg;
        content: attr(title);
      }

      &:nth-child(2) {
        left: 10%;
      }
    }

    > .toggle {
      a {
        font-size: 1em;
        color: $link-fg;
      }

      &:hover + .help-hoverable {
        display: block;
      }

      > .option.active {
        &.main {
          margin-right: 4px;
        }

        &.error {
          @extend %tn-engraved-box;
          background: darken($main-bg, 14%);
          position: absolute;
          z-index: 4000;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          font-size: 1em;
          @include rounded(3px);
        }
      }
    }
  }

  .drop-choices.lightdrop {
    @extend %tn-small-button-default;
    z-index: 9000;
    padding: 4px;
    margin-top: 6px;
    @include shadow(0px 2px 2px rgba(0, 0, 0, 0.2));

    a.choice {
      color: inherit;
      vertical-align: middle;
      padding: 2px 4px;
      @include rounded(3px);

      &:hover {
        background: $dropdown-selected-bg;
        color: $dropdown-selected-fg;
      }
    }

    > form {
      position: relative;
      min-width: 10em;

      // FIXME: why is this here?
      // i'm not sure wtf does this shit for.
      // it doesn't do anything on ff 32.0a1 (nightly).
      .RES-sort-button {
        position: absolute;
        background: $res-temp-sort-bg;
        float: none;
        right: 2px;
        top: 2px;
        width: 2.3em;
        padding: 0px 3px;
        overflow: hidden;
        @include rounded(2px);

        &::before {
          content: 'temp     ';
        }
      }
    }
  }
}

.usertable {
  > .toggle.clearflairtemplates-button {
    background: none;
    padding: 0px;
    border: none;

    > .option {
      &.error,
      > .togglebutton {
        margin-left: 0px;
        border-left: none;
        padding: 0px;
      }
    }
  }
}
