// res icons (including markdown editor icons) are set in file _res.scss
.titlebox {
  .leavemoderator,
  form.leavecontributor-button {
    &::before {
      @extend %tn-icon;
    }
  }

  .leavemoderator::before {
    background-position: -16px -32px;
  }
  form.leavecontributor-button::before {
    background-position: -96px -16px;
  }
}

.tagline .userattrs .cakeday {
  @extend %tn-icon;
  background-position: -96px 0;
}

#mail,
#modmail,
.gilded-icon::before {
  @extend %tn-icon;
}

#mail,
#modmail {
  vertical-align: middle;
}

#mail {
  margin-bottom: 2px;

  &.nohavemail {
    background-position: -32px -48px;
  }

  &.havemail {
    background-position: -48px -48px;
  }
}

#modmail {
  &.nohavemail {
    background-position: -16px -16px;
  }

  &.havemail {
    background-position: -16px -32px;
  }
}

.gilded-icon::before {
  background-position: 0 -48px;
}

.icon-menu {
  .reddit-edit,
  .reddit-edited, // last edited comment. fucking reddit devs and their shitty naming system
  .moderator-mail,
  .reddit-moderators,
  .reddit-contributors,
  .reddit-traffic,
  .reddit-modqueue,
  .reddit-reported,
  .reddit-spam,
  .reddit-ban,
  .reddit-flair,
  .reddit-moderationlog,
  .reddit-unmoderated,
  .edit-stylesheet,
  .wikiaction-revisions,
  .wikiaction-pages {
    &::before {
      @extend %tn-icon;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .reddit-edit::before {
    background-position: 0 -16px;
  }

  .reddit-edited::before {
    background-position: -48px -32px;
  }

  .reddit-moderators::before {
    background-position: -16px -32px;
  }

  .reddit-contributors::before {
    background-position: -96px -16px;
  }

  .reddit-traffic::before {
    background-position: 0 -80px;
  }

  .reddit-modqueue::before {
    background-position: -32px -32px;
  }

  .reddit-reported::before {
    background-position: -32px -16px;
  }

  .reddit-spam::before {
    background-position: -16px 0;
  }

  .reddit-ban::before {
    background-position: -32px -80px;
  }

  .reddit-flair::before {
    background-position: -80px -32px;
  }

  .reddit-moderationlog::before {
    background-position: -48px -16px;
  }

  .reddit-unmoderated::before {
    background-position: -64px 0;
  }

  .edit-stylesheet::before {
    background-position: -96px -64px;
  }

  .wikiaction-revisions::before {
    background-position: -32px 0;
  }

  .wikiaction-pages::before {
    background-position: -16px -80px;
  }

  .moderator-mail::before {
    margin-top: 0;
    margin-left: 0;
    background-position: -48px 0;
  }
}
