// res icons (including markdown editor icons) are set in file _res.scss
%tn-icon {
  display: inline-block !important;
  background-image: url($icon-image) !important;
  background-repeat: no-repeat !important;
  width: 16px !important;
  height: 16px !important;
}

.titlebox {
  .leavemoderator,
  form.leavecontributor-button {
    &::before {
      @extend %tn-icon;
    }
  }

  .leavemoderator::before {
    background-position: -16px -32px;
  }
  form.leavecontributor-button::before {
    background-position: -96px -16px;
  }
}

%tn-vote-arrows,
.arrow {
  margin-left: 3px;

  &.up,
  &.down,
  &.upmod,
  &.downmod
  {
    &,
    &:hover {
      @extend %tn-icon;
    }
  }

  &.up,
  &.up:hover {
    background-position: -64px -80px !important;
  }

  &.upmod,
  &.upmod:hover {
    background-position: -48px -80px !important;
  }

  &.down,
  &.down:hover {
    background-position: -96px -80px !important;
  }

  &.downmod,
  &.downmod:hover {
    background-position: -80px -80px !important;
  }
}

.sidecontentbox {
  .collapse-button {
    @extend %tn-icon;
    padding: 0;
    margin: 0;
    text-indent: -999px;
    background-color: transparent;
    border: none;
    background-position: 0 -64px;
  }
}

.tagline .userattrs .cakeday {
  @extend %tn-icon;
  background-position: -16px -96px;
}

#mail,
#modmail,
.gilded-icon::before {
  @extend %tn-icon;
}

#mail,
#modmail {
  vertical-align: middle;
}

#mail {
  margin-bottom: 2px;

  &.nohavemail {
    background-position: -32px -48px;
  }

  &.havemail {
    background-position: -48px -48px;
  }
}

#modmail {
  &.nohavemail {
    background-position: -16px -16px;
  }

  &.havemail {
    background-position: -16px -32px;
  }
}

.gilded-icon::before {
  background-position: 0 -48px;
}

.icon-menu {
  .reddit-edit,
  .moderator-mail,
  .reddit-moderators,
  .reddit-contributors,
  .reddit-traffic,
  .reddit-modqueue,
  .reddit-reported,
  .reddit-spam,
  .reddit-ban,
  .reddit-flair,
  .reddit-moderationlog,
  .reddit-unmoderated,
  .edit-stylesheet,
  .wikiaction-revisions,
  .wikiaction-pages {
    &::before {
      @extend %tn-icon;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .reddit-edit::before {
    background-position: 0 -16px;
  }

  .reddit-moderators::before {
    background-position: -16px -32px;
  }

  .reddit-contributors::before {
    background-position: -96px -16px;
  }

  .reddit-traffic::before {
    background-position: 0 -80px;
  }

  .reddit-modqueue::before {
    background-position: -32px -32px;
  }

  .reddit-reported::before {
    background-position: -32px -16px;
  }

  .reddit-spam::before {
    background-position: -16px 0;
  }

  .reddit-ban::before {
    background-position: -32px -80px;
  }

  .reddit-flair::before {
    background-position: -80px -32px;
  }

  .reddit-moderationlog::before {
    background-position: -48px -16px;
  }

  .reddit-unmoderated::before {
    background-position: -64px 0;
  }

  .edit-stylesheet::before {
    background-position: -96px -64px;
  }

  .wikiaction-revisions::before {
    background-position: -32px 0;
  }

  .wikiaction-pages::before {
    background-position: -16px -80px;
  }

  .moderator-mail::before {
    margin-top: 0;
    margin-left: 0;
    background-position: -48px 0;
  }
}
