/*
 * Terrible Name
 *
 * A simple RES-friendly theme for reddit
 *
 * Author: unzan (https://github.com/unzan)
 * Contributor: - David Davis (https://github.com/daviddavis)
 *              - matheod (https://github.com/matheod)
 * License: WTFPL
 *
 * Default icons provided with this theme are part of the Fugue Icon Set
 * by Yusuke Kamiyamane [1]. Default banner is a photograph [2] by
 * Holger Weinandt [3].
 *
 * [1]: http://p.yusukekamiyamane.com/
 * [2]: http://commons.wikimedia.org/wiki/File:Panorama_Frankfurt_vom_Maintower_edit.jpg
 * [3]: http://de.wikipedia.org/wiki/Benutzer:Schaengel
 */

