%tn-list-entry-separator {
  border-top: solid 1px darken($main-bg, 18%);
  @include shadow(inset 0 1px 0 lighten($main-bg, 5%));
}

%tn-list-entry {
  margin: 0;
  position: relative;

  &.last-clicked:not(:first-child),
  &:not(:first-child) {
    @extend %tn-list-entry-separator;
  }

  &.link {
    .usertext {
      padding-right: 15px;
      .md {
        @extend %tn-simple-text-container;
      }
    }
  }
}

.wiki-page,
.listing-page {
  > .content {
    overflow: visible;
    margin-right: ($sidebar-width + 30px);
  }
}

.link {
  @extend %tn-list-entry;
  padding: 1.3em 0em;

  &.last-clicked {
    border: none;
    overflow: visible;
  }

  a.author {
    color: $link-fg;
    &.admin {
      color: $admin-tag-fg;
    }
  }

  .midcol {
    text-align: center;
    width: 3em !important;
    margin-top: 3px;

    .score.unvoted {
      color: $score-fg;
    }
  }

  .rank {
    display: none;
  }

  .flat-list.buttons {
    display: block;
    margin-top: 9px;

    a,
    .redditSingleClick {
      padding: 2px 5px !important;
      font-weight: bold;
      @include rounded(3px);
      &:hover {
        text-decoration: none;
        background: $flat-list-hover-bg;
      }
    }

    > li {
      display: inline-block;
      padding: 0;

      &.option  {
        &.active {
          display: inline-block;
        }
      }

      &.nsfw-stamp,
      &.first {
        display: inline-block !important;
      }

    }
  }
}

.thing {
  .title {
    @extend %tn-link;
  }

  &.stickied {
    a.title {
      color: $sticky-link-fg !important;
      font-weight: bold !important;
    }
  }
}

.thumbnail {
  width: 76px !important;
  padding: 2px 4px;
  position: relative;
  font-size: 16px;
  line-height: 1em;
  text-align: center;

  &::before {
    display: inline-block;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background: $default-thumb-bg;
    color: $main-bg;
    font: normal 28px $serif;
    line-height: 1.4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    @include rounded(100%);
  }

  &.default,
  &.self,
  &.nsfw {
    background: none;
    height: 50px;
    width: 70px;
  }

  &.may-blank {
    &.default::before {
      content: '?';
    }

    &.self::before {
      content: 'T';
      background: $default-text-thumb-bg;
    }

    &.nsfw::before {
      content: 'X';
      background: $default-nsfw-thumb-bg;
    }
  }

  img {
    display: block;
    padding: 3px;
    background: $thumbnail-bg;
    @include shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  }
}

.stickied-tagline {
  color: $sticky-tag-fg !important;
  background: $sticky-tag-bg;
  display: inline-block;
  padding: 1px 7px;
  @include rounded(3px);
}

.userattrs {
  .moderator {
    color: $mod-tag-fg;
    &::after {
      content: 'od';
    }
  }

  .admin {
    color: $admin-tag-fg;
    &::after {
      content: 'dmin';
    }
  }

  .submitter {
    color: $submitter-tag-fg;
    font-size: 0;
    &::after {
      font-size: $normal-font-size;
      content: 'OP';
    }
  }
}

.nsfw-stamp {
  border: none;
  margin: 0 4px 0 0;

  acronym {
    display: inline-block;
    font-size: ($normal-font-size - 2);
    padding: 0 3px;
    text-align: center;
    border: none !important;
    background: $nsfw-tag-bg;
    color: $nsfw-tag-fg;
    @include rounded(2px);
  }
}

.entry .flat-list.buttons > li.reported-stamp.stamp {
  position: absolute;
  top: 6px;
  right: 10px;
  border: none !important;
  color: $report-tag-fg;
  padding: 2px 4px;
  font-variant: small-caps;
  font-weight: bold;
  font-size: $normal-font-size;
  line-height: 1em;
  background: $report-tag-bg;
  @include rounded(2px);
}

.tagline,
.domain a,
.entry .buttons li a,
.entry .buttons li .redditSingleClick,
.pretty-button {
  color: $list-entry-fg;
  font-size: 13px;
}

.link {
  .tagline {
    margin-top: 4px;

    a {
      @extend %tn-link;
    }
  }

  .title,
  .domain {
    vertical-align: middle;
  }

  &.stickied {
    a.title {
      color: $list-entry-fg;
      font-weight: normal;
    }

    .thumbnail.self {
      &::before {
        content: 'S';
        background: $default-modpost-thumb-bg;
      }
    }
  }
}

.organic-listing {
  background-color: transparent !important;
  border: none !important;

  > .help {
    display: none;
  }
}

%tn-special-entry {
  position: relative;
  background-color: $special-entry-bg !important;
  color: $special-entry-fg;
  border: solid 1px rgba(0, 0, 0, 0.2) !important;
  padding: 1.3em 0.6em 1.3em 0em;
  margin-bottom: 5px;
  @include rounded(3px);
  @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.1));
}

.organic-listing .link,
.link.promotedlink.promoted {
  @extend %tn-special-entry;
}

.link.promotedlink.promoted {
  > .entry {
    > .sponsored-tagline {
      bottom: 10px;
      right: -5px;
      background: $sponsored-tag-bg;
      color: inherit;
      padding: 4px 10px;
      border: solid 1px rgba(0, 0, 0, 0.3);
      border-right: none;
      text-transform: capitalize;
      @include shadow(inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.7));
      @include rounded(3px 0 0 3px);
    }
  }
}

.unvotable-message {
  @extend .infobar;
  padding: 4px 8px;
}

#noresults {
  margin: 7px 15px;
  font-style: italic;
}
