.linklisting {
   overflow: hidden;
}

.link {
   padding: 1.3em 0em;
   margin: 0px;
   position: relative;

   &:not(:first-child) {
      border-top: solid 1px rgba(255, 255, 255, 0.8);
      &::before {
         content: '';
         position: absolute;
         left: 0;
         right: 0;
         height: 1px;
         top: -2px;
         background: rgba(0, 0, 0, 0.2);
      }
   }

   &.last-clicked {
      border: none;
   }

   .author {
      color: $link-fg;
   }

   .midcol {
      text-align: center;
      width: 3em !important;
      margin-top: 8px;

      .score.unvoted {
         color: $score-fg;
      }
   }

   .rank {
      display: none;
   }


   .usertext {
      .md {
         background: $text-bg;
         color: $text-fg;
         padding: 5px 20px;
         border-left: solid 3px $text-border-color;
         border-right: none;
         border-bottom: none;
         border-top: none;
         @include rounded(0px);
      }
   }
}

.entry {
   .flat-list.buttons {
      margin-top: 9px;

      > li {
         display: none;
         padding: 0px;
         &.nsfw-stamp,
         &.first {
            display: inline-block !important;
         }

         a {
            &.option  {
               display: none;
            }

            &,
            &.option.active {
               display: inline-block;
            }

            padding: 2px 5px !important;
            @include rounded(3px);
            &:hover {
               text-decoration: none;
               background: rgba(0,0, 0, 0.1);
            }
         }
      }
   }

   &:hover {
      .flat-list.buttons {
         > li {
            display: inline-block;
         }
      }
   }
}



.thing.stickied {
   a.title {
      color: $sticky-link-fg !important;
      font-weight: bold !important;
   }
}

.thumbnail {
   width: 76px;
   padding: 2px 4px;
   position: relative;
   font-size: 16px;
   line-height: 1em;
   text-align: center;

   &::before {
      display: inline-block;
      margin-top: 5px;
      width: 40px;
      height: 40px;
      background: rgba(0, 0, 0, 0.2);
      color: $main-bg;
      font: normal 28px serif;
      line-height: 1.4em;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
      @include rounded(100%);
   }

   &.default,
   &.self,
   &.nsfw {
      background: none;
      height: 50px;
      width: 70px;
   }

   &.may-blank {
      &.default::before {
         content: '?';
      }

      &.self::before {
         content: 'T';
         background: $default-text-thumb-bg;
      }

      &.nsfw::before {
         content: 'X';
         background: $default-nsfw-thumb-bg;
      }
   }

   img {
      display: block;
      padding: 3px;
      background: $white;
      @include shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
   }
}

.stickied-tagline {
   color: $sticky-tag-fg !important;
   background: $sticky-tag-bg;
   display: inline-block;
   padding: 1px 7px;
   @include rounded(3px);
}

.userattrs {
   .moderator {
      color: $mod-tag-fg;
      &::after {
         content: 'od';
      }
   }
}

.nsfw-stamp {
   border: none;
   margin: 0px 4px 0px 0px;

   acronym {
      display: block;
      vertical-align: middle;
      background: $nsfw-tag-bg;
      color: $nsfw-tag-fg;
      padding: 2px 5px 1px 5px;
      border: none !important;
      font-weight: bold;
      @include rounded(3px);
   }
}

.tagline,
.domain a,
.entry .buttons li a {
   color: $list-entry-fg;
   font-size: 13px;
}

.thing {
   &.stickied {
      a.title {
         color: $list-entry-fg;
         font-weight: normal;
      }

      .thumbnail.self {
         &::before {
            content: 'M';
            background: $default-modpost-thumb-bg;
         }
      }
   }
}

.nav-buttons {
   padding: 1em 0em;

   .nextprev {
      color: $main-fg;
      > a {
         @extend .tn-small-button;
      }
   }
}
