%tn-markdown-table {
  td,
  th {
    border-color: $table-border-color;
  }

  th {
    background: $table-heading-bg;
    color: $table-heading-fg;
    text-shadow: 0 1px 1px lighten($table-heading-bg, 20%);
    @include shadow(inset 0 1px 0 lighten($table-heading-bg, 30%));
  }

  tbody {
    tr {
      background: $table-content-bg;
      &:hover {
        background: $table-highlight-bg;
      }
    }
  }
}

%tn-quote {
  border-left: solid 3px $quote-border-color;
  padding: 0.2em 0.5em;
  background: $quote-bg;
  color: $quote-fg;
  margin: 0.4em;
}

.md {
  line-height: 1.5em;
  font-size: $normal-font-size;
  max-width: none;

  p,
  li,
  td,
  th,
  pre > code {
    font-size: inherit !important;
    line-height: inherit !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow: hidden;
    line-height: 1.5em;
    color: inherit !important;
  }

  h1 {
    font-size: 1.55em;
    font-weight: bold;
    margin: 0.5em 0em;
  }

  h2 {
    font-size: 1.3em;
    font-weight: normal !important;
    margin: 0.5em 0em 1em 0em;
    border-bottom: solid 1px $horiz-line-color;
  }

  h3 {
    font-size: 1.2em;
  }

  h6 {
    text-decoration: none;
  }

  p {
    &,
    &:first-child,
    &:last-child {
      margin: 0.5em 0em !important;
    }
  }

  blockquote {
    @extend %tn-quote;
  }

  code,
  pre {
    font-family: $monospace;
    @include rounded(0);
  }

  code {
    color: $inline-code-fg;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  pre {
    margin: 1em 0em;
    padding: 0;
    max-width: 95%;

    > code {
      padding: 7px !important;
      display: block;
      background: $codeblock-bg;
      color: $codeblock-fg;
      overflow: auto;
    }
  }

  @if $show-line-num-in-codeblock == yes {
    pre {
      position: relative;
      background: $line-num-bg;
      border: solid 1px $line-num-bg;

      > code {
        margin-left: 2.8em;
      }

      $nums: '';
      @for $i from 1 to 1000 {
        $nums: '#{$nums}#{$i}  ';
      }

      &::before {
        content: $nums;
        position: absolute;
        color: $line-num-fg;
        left: 0;
        top: 7px;
        bottom: 7px;
        width: 2.3em;
        white-space: pre-wrap;
        direction: rtl;
        overflow: hidden;
      }
    }
  } @else {
    pre {
      background: none;
      border: none;
      > code {
        border: solid 1px $codeblock-border-color;
      }
    }
  }

  table {
    @extend %tn-markdown-table;
  }

  ul,
  ol {
    &:last-child {
      margin-bottom: 1em;
    }
  }

  ul {
    list-style-type: square;
  }

  hr {
    @extend %tn-horiz-bar;
  }

  a {
    @extend %tn-link; 
    &:hover {
      text-decoration: underline;
    }

    &[href$="/spoiler"] {
      background: $spoiler-bg !important;
      color: $spoiler-bg !important;
      text-decoration: none;
      &:hover {
        color: $spoiler-fg !important;
      }
    }
  }
}
