.md {
  line-height: 1.5em;
  font-size: $normal-font-size;
  max-width: none;
  color: inherit;

  p,
  li,
  td,
  th,
  pre > code {
    font-size: inherit !important;
    line-height: inherit !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow: hidden;
    line-height: 1.5em;
    color: inherit !important;
  }

  h1 {
    font-size: 1.55em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.3em;
    font-weight: normal !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  }

  h3 {
    font-size: 1.2em;
  }

  h6 {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  pre,
  table,
  ul,
  ol,
  p {
    &,
    &:first-child,
    &:last-child {
      margin-top: 0.5em !important;
      margin-bottom: 0.5em !important;
    }
  }

  del {
    color: darken($text-fg, 20%);
  }

  blockquote {
    @extend %tn-quote;
  }

  code,
  pre {
    font-family: $monospace;
    @include rounded(0);
  }

  code {
    color: inherit;
    background: rgba(0, 0, 0, 0.2) !important;
    border: none;
    padding: 0 4px;
    margin: 0;
  }

  pre {
    margin: 1em 0em;
    padding: 0;
    max-width: 95%;

    > code {
      padding: 7px !important;
      display: block;
      background: $codeblock-bg !important;
      color: $codeblock-fg;
      overflow: auto;
    }
  }

  @if $show-line-num-in-codeblock == yes {
    pre {
      position: relative;
      background: $line-num-bg;
      border: solid 1px $line-num-bg;

      > code {
        margin-left: 2.8em;
      }

      $nums: '';
      @for $i from 1 to 1000 {
        $nums: '#{$nums}#{$i}  ';
      }

      &:before {
        content: $nums;
        position: absolute;
        color: $line-num-fg;
        left: 0;
        top: 7px;
        bottom: 7px;
        width: 2.3em;
        white-space: pre-wrap;
        direction: rtl;
        overflow: hidden;
      }
    }
  } @else {
    pre {
      background: none;
      border: none;
      // > code {
        // border: solid 1px $codeblock-border-color;
      // }
    }
  }

  table {
    @extend %tn-markdown-table;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }

  hr {
    @extend %tn-horiz-bar;
  }

  a {
    color: $link-fg;

    &:visited {
      color: saturate($link-fg-visited, 10%) !important;
    }

    &:hover {
      text-decoration: underline;
    }

    &[href$="/spoiler"] {
      background: $spoiler-bg !important;
      color: $spoiler-bg !important;
      text-decoration: none;
      &:hover {
        color: $spoiler-fg !important;
      }
    }
  }
}
