@mixin vendor($prop, $value...) {
  @if $vendor-prefixes > 1 {
    -webkit-#{$prop}: $value;
    -moz-#{$prop}: $value;
  }
  #{$prop}: $value;
}

@mixin shadow($shadows...) {
  @include vendor(box-shadow, $shadows);
}

@mixin rounded($radius) {
  @include vendor(border-radius, $radius);
}

@mixin linear-gradient($definition...) {
  @if $vendor-prefixes > 0 {
    background: -webkit-linear-gradient($definition);
    background: -moz-linear-gradient($definition);
  }
  background: linear-gradient($definition);
}

