@mixin vendor($prop, $value...) {
  @if $vendor-prefixes > 1 {
    -webkit-#{$prop}: $value;
    -moz-#{$prop}: $value;
  }
  #{$prop}: $value;
}

@mixin shadow($shadows...) {
  @include vendor(box-shadow, $shadows);
}

@mixin rounded($radius) {
  @include vendor(border-radius, $radius);
}

@mixin linear-gradient($definition...) {
  @if $vendor-prefixes > 0 {
    background: -webkit-linear-gradient($definition);
    background: -moz-linear-gradient($definition);
  }
  background: linear-gradient($definition);
}

@mixin box-with-line-num($fg, $bg) {
  position: relative;
  background: $bg;
  border: solid 1px $bg;
  @include rounded(3px);

  > code {
    margin-left: 2.8em;
  }

  $nums: '';
  @for $i from 1 to 1000 {
    $nums: '#{$nums}#{$i}  ';
  }

  &::before {
    content: $nums;
    position: absolute;
    color: $fg;
    left: 0;
    top: 7px;
    bottom: 7px;
    width: 2.3em;
    white-space: pre-wrap;
    direction: rtl;
    overflow: hidden;
  }
}
