.side {
  background: none;
  color: $sidebar-fg;
  width: $sidebar-width;
  margin: 1em 1em 1em 2em;
}

.titlebox {
  margin-top: 20px;

  .subscribe-button {
    display: block;
    margin-bottom: 1em;
  }

  form.flairtoggle {
    margin-bottom: 10px;
  }

  form.toggle,
  .leavemoderator {
    background: none;
    color: $sidebar-fg;
  }

  > .bottom,
  > .usertext,
  > .flairtoggle,
  > .leavemoderator {
    clear: both;
  }

  > .usertext,
  .leavemoderator {
    padding-top: 10px;
  }

  .redditname {
    display: none;
  }

  > .bottom {
    margin-top: 1em;
    padding-top: 1em;
    border-top: solid 3px rgba(0, 0, 0, 0.2);
  }
}

.linkinfo,
.content.submit .info-notice {
  @extend %tn-info-box;
  padding: 10px;
}

.users-online::before {
  @extend %tn-background-reset;
}

.subscribers,
.users-online {
  $padding: 5px;
  $border-width: 1px;
  display: inline-block;
  vertical-align: top;
  width: ($sidebar-width / 2) - (($padding * 2) + ($border-width * 2));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border: solid $border-width $default-border-color;
  padding: $padding;
  @include vendor(box-sizing, content-box);
  @include shadow(0 1px 0 lighten($main-bg, 10%), inset 0 1px 0 lighten($main-bg, 10%));

  .number {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
  }

  .word {
    display: block;
    font-size: $normal-font-size;
    color: lighten($sidebar-fg, 10%);
  }
}

.subscribers {
  @include rounded(3px 0 0 3px);
  border-right: none;

}

.users-online {
  @include rounded(0 3px 3px 0);

  &::before {
    display: none;
  }
}


// the box that contains mod tools, mod list, etc
.sidecontentbox {
  > .title {
    @include linear-gradient(top, $sidebar-toolbox-title-bg, darken($sidebar-toolbox-title-bg, 5%));
    @include shadow(inset 0 1px 0 lighten($sidebar-toolbox-title-bg, 7%), 0 1px 1px rgba(0, 0, 0, 0.14));
    @include rounded(3px 3px 0 0);

    .collapse-button,
    h1 {
      color: $sidebar-fg;
    }

    .collapse-button {
      @extend %tn-bracketed;
      background: none;
      float: right;
      font: normal $normal-font-size $monospace;
      width: auto;
      height: auto;
      line-height: auto;
      border: none;
      margin: 0;
    }
  }

  // "message the moderators" link
  a.helplink {
    margin: 10px 7px 10px 0;
  }

  > .title,
  > .content {
    border: solid 1px $default-border-color;
    padding: 7px;
  }

  .content {
    overflow: hidden;
    background: $sidebar-toolbox-bg;
    border-top: none;
    @include rounded(0 0 3px 3px);
    @include shadow(0 1px 0 rgba(255, 255, 255, 0.8));

    > li {
      margin: 3px 0;
    }
  }

}

.sidebox .spacer {
  @extend %tn-background-reset;
}

// mod tools
.icon-menu {
  a {
    background: none;
    display: block;
    padding: 3px 6px;
    vertical-align: middle;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: $small-button-fg;
    @include rounded(3px);

    &:visited {
      color: $small-button-fg;
    }

    &:active,
    &:hover {
      border-color: darken($small-button-bg, 30%);
    }

    &:hover {
      text-decoration: none;
      @include linear-gradient(top, darken($small-button-bg, 2%), darken($small-button-bg, 6%));
      @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.13));
    }

    &:active {
      @include linear-gradient(top, darken($small-button-bg, 2%), darken($small-button-bg, 8%));
      @include shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.8));
    }
  }
}

