.side {
  background: none;
  color: $sidebar-fg;
  width: $sidebar-width;
  margin: 1em 1em 1em 2em;
}

.titlebox {
  margin-top: 20px;

  .subscribe-button {
    display: block;
    margin-bottom: 1em;
  }

  form.flairtoggle {
    margin-bottom: 10px;
  }

  form.toggle,
  .leavemoderator {
    background: none;
    color: $sidebar-fg;
  }

  > .bottom,
  > .usertext,
  > .flairtoggle,
  > .leavemoderator {
    clear: both;
  }

  > .usertext,
  .leavemoderator {
    padding-top: 10px;
  }

  .redditname {
    display: none;
  }

  > .bottom {
    margin-top: 1em;
    padding-top: 1em;
    border-top: solid 3px rgba(0, 0, 0, 0.2);
  }
}

.linkinfo,
.content.submit .info-notice {
  @extend %tn-info-box;
  padding: 10px;
}

.users-online::before {
  background: none;
}

.subscribers,
.users-online {
  display: inline-block;
  vertical-align: top;
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border: solid 1px $default-border-color;
  padding: 5px;
  @include vendor(box-sizing, padding-box);
  @include linear-gradient(top, $stats-bg, darken($stats-bg, 4%));
  @include shadow(0 1px 1px rgba(0, 0, 0, 0.15));

  .number {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
  }

  .word {
    display: block;
    font-size: 0.9em;
    color: lighten($sidebar-fg, 10%);
  }
}

.subscribers {
  @include rounded(3px 0 0 3px);
  border-right: none;

}

.users-online {
  @include rounded(0 3px 3px 0);

  &::before {
    display: none;
  }
}


.sidecontentbox {
  > .title h1 {
    color: $sidebar-fg;
  }

  a.helplink {
    margin: 0;
  }

  .content {
    overflow: hidden;
    background: $sidebar-toolbox-bg;
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: 7px;
    @include rounded(3px);
    @include shadow(0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 1px rgba(0, 0, 0, 0.14));
  }
}

.sidebox {
  .spacer {
    background: none;
  }
}

// ----- MOD TOOLBOX
.icon-menu {
  a {
    background: none;
    display: block;
    padding: 3px 6px;
    vertical-align: middle;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: $small-button-fg;
    @include rounded(3px);

    &:visited {
      color: $small-button-fg;
    }

    &:active,
    &:hover {
      border-color: darken($small-button-bg, 30%);
    }

    &:hover {
      text-decoration: none;
      @include linear-gradient(top, darken($small-button-bg, 2%), darken($small-button-bg, 6%));
      @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 1px rgba(0, 0, 0, 0.13));
    }

    &:active {
      @include linear-gradient(top, darken($small-button-bg, 2%), darken($small-button-bg, 8%));
      @include shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.8));
    }
  }
}

