// set this to `yes` if you want to have line number at the left of codeblock
$show-line-num-in-codeblock: no;

// control whether the output css is using vendor prefixes or not.
// valid values:
// - 0: no vendor prefixes
// - 1: use vendor prefixes for gradients. no vendor prefixes anywhere else.
// - 2: always use vendor prefixes
$vendor-prefixes: 1;
$max-comment-width: 63em;

// show vertical vertical line for comment level indicator.
// valid values:
// - child-only: only show level indicator on child comments
// - all: show level indicator on all comments
// - none: do not show level indicator
$comment-level-indicator: child-only;

$res-nightmode-compatible: yes;

// --- PALETTE ---------------------------------------------

$white:           #fff;
$gray:            #eaeaea;
$black:           #111;
$real-black:      #000;
$dark-brown:      #2C2928;
$dark-gray:       #686868;
//$bright-yellow:   #FFF8DC;
$bright-yellow:   #FFF5CC;

// accents from solarized
$yellow:          #b58900;
$orange:          #cb4b16;
$red:             #dc322f;
$magenta:         #d33682;
$violet:          #6c71c4;
$blue:            #268bd2;
$cyan:            #2aa198;
$green:           #859900;
$dark-green:      darken($green, 5%);
$dark-orange:     desaturate(darken($orange, 20%), 10%);
$dark-red:        darken($red, 30%);
$dark-blue:       #13161A;
$dark-blue-gray:  #405666; 
$bright-cyan:     #BDD4E0;

$sidebar-width:   300px;


$main-bg-image: '../image/noise.jpg';
$header-bg-image: '../image/cockkisses-banner.jpg';
$icon-image: '../image/icons.png';
$sr-rec-image: '../image/sr-rec-sprite.jpg';
$res-night-bg-image: '../image/dark-noise.jpg';
@if env(ASSETS) == remote {
  $main-bg-image: '%%noise%%';
  $header-bg-image: '%%cockkisses-banner%%';
  $icon-image: '%%icons%%';
  $res-night-bg-image: '%%dark-noise%%';
  $sr-rec-image: '%%sr-rec-sprite%%';
}

$sans-serif: 'Liberation Sans', Arial, sans-serif;
$serif: 'Liberation Serif', 'Times New Roman', serif;
$monospace: 'Liberation Mono', 'Droid Sans Mono', 'DejaVu Sans Mono', Inconsolata, Monaco, monospace;
$normal-font-size: 13px;

$accent: $orange;
$main-bg: $gray;
$main-fg: $black;
$focus-color: $accent;

$default-border-color: darken($main-bg, 25%);
$thumbnail-bg: $white;
$text-bg: $white;
$text-fg: $main-fg;
$toc-bg: $bright-yellow;
$toc-level-indicator-color: rgba(0, 0, 0, 0.2);
$text-border-color: darken($gray, 20%);
$quote-bg: darken($text-bg, 4%);
$quote-fg: $text-fg;
$quote-border-color: darken($text-border-color, 10%);
$codeblock-bg: $quote-bg;
$codeblock-fg: $text-fg;
$codeblock-border-color: $text-border-color;
$table-heading-bg: darken($text-bg, 10%);
$table-heading-fg: lighten($main-fg, 20%);
$table-content-bg: $text-bg;
$table-highlight-bg: $bright-yellow;
$table-border-color: darken($main-bg, 20%);
$inline-code-fg: darken($accent, 5%);
$line-num-bg: $codeblock-border-color;
$line-num-fg: $white;
$diff-bg: $text-bg;
$diff-add-bg: rgba($green, 0.3);
$diff-sub-bg: rgba($red, 0.3);
$spoiler-bg: $black;
$spoiler-fg: $white;
$horiz-line-color: darken($main-bg, 20%);

$engraved-box-bg: rgba(0, 0, 0, 0.14);
$popup-title-fg: lighten($main-fg, 20%);
$raised-box-bg: $white;
$raised-box-fg: $main-fg;
$flair-selection-hover-bg: none;

$link-fg: darken($blue, 7%);
$link-fg-visited: darken($violet, 7%);
$sticky-link-fg: $dark-green;

$header-height: 148px;
$header-bg: $black;
$header-fg: darken($gray, 14%);
$page-title-height: $header-height - 51px;
$page-title-fg: darken($gray, 20%);

$menu-bar-bg: $dark-brown;
$menu-bar-fg: darken($gray, 30%);
$sr-header-fg: darken($gray, 40%);
$sr-header-bg: rgba(0, 0, 0, 0.8);
$sr-dropdown-bg: $black;
$sr-dropdown-fg: $sr-header-fg;
$sr-dropdown-selected-bg: $focus-color;
$sr-dropdown-selected-fg: $white;
$dropdown-selected-bg: $focus-color;
$dropdown-selected-fg: $white;
$new-message-count-bg: $accent;
$new-message-count-fg: $white;

$sponsored-tag-bg: $bright-yellow;
$special-entry-bg: rgba($green, 0.1);
$special-entry-fg: lighten($main-fg, 20%);
$sidebar-fg: darken($gray, 60%);
$sidebar-toolbox-title-bg: darken($main-bg, 3%);
$sidebar-toolbox-bg: rgba(255, 255, 255, 0.2);
$sidebar-toolbox-button-hover-color: rgba(0, 0, 0, 0.3);
$nsfw-tag-bg: $accent;
$nsfw-tag-fg: $white;
$report-tag-bg: $red;
$report-tag-fg: $white;
$sticky-tag-bg: $dark-green;
$sticky-tag-fg: $white;
$mod-tag-fg: $dark-green;
$admin-tag-fg: $red;
$submitter-tag-fg: $link-fg;
$score-fg: darken($gray, 40%);
$default-thumb-fg: $white;
$default-thumb-bg: darken($main-bg, 20%);
$default-nsfw-thumb-bg: rgba($magenta, 0.5);
$default-modpost-thumb-bg: rgba($green, 0.5);
$default-text-thumb-bg: rgba($blue, 0.6);
$removed-thumb-bg: $red;
$removed-thumb-fg: $white;
$flat-list-hover-bg: darken($main-bg, 11%);

$flair-bg: $bright-yellow;
$flair-fg: $main-fg;
$flair-border-color: desaturate(darken($flair-bg, 20%), 40%);
$notice-bubble-bg: $bright-yellow;

$list-entry-fg: darken($gray, 50%);
$comment-bg: $text-bg;
$comment-footer-bg: darken($comment-bg, 4%);
$deleted-comment-bg: none;

// this one is for highlight when viewing single comment thread
$highlighted-comment-bg: $bright-yellow;

// and these two are for new comment highlight feature of gold members/moderators
$new-comment-bg: desaturate(lighten($cyan, 50%), 20%);
$new-comment-border-color: darken($new-comment-bg, 10%);

$comment-textbox-width: 520px;
$upvote-color: lighten($accent, 10%);
$downvote-color: $violet;

$misc-spam-color: $violet;
$misc-remove-color: $red;
$misc-approve-color: $green;
$misc-ignore-color: $cyan;
$misc-selected-bg: $bright-yellow;
$misc-spam-tag-fg: $white;
$misc-spam-tagline-bg: lighten($accent, 35%);

$button-fg: $white;
$button-bg: $accent;
$button-disabled-fg: rgba(0, 0, 0, 0.4);
$button-disabled-bg: darken($main-bg, 12%);
$input-fg: lighten($black, 20%);
$input-bg: $white;
$input-focused-border-color: lighten($accent, 20%);
$small-button-bg: lighten($gray, 5%);
$small-button-fg: darken($gray, 50%);
$expand-button-fg: darken($gray, 40%);

$subscribe-bg: $green;
$subscribe-fg: $white;
$unsubscribe-bg: darken($main-bg, 15%);
$unsubscribe-fg: lighten($main-fg, 30%);

$box-bg: lighten($main-bg, 2%);
$info-box-bg: $bright-yellow;
$info-box-fg: $main-fg;
$form-tab-bg: $box-bg;
$form-tab-fg: lighten($main-fg, 20%);
$tooltip-bg: $bright-yellow;
$tooltip-fg: $main-fg;
//$stats-bg: lighten($main-bg, 6%);
$stats-bg: lighten($magenta, 6%);

$res-editor-toolbar-bg: $small-button-bg;
$res-popup-bg: #5F99CF;
$res-temp-sort-bg: rgba(0, 0, 0, 0.2);
$res-current-sub-fg: lighten($sr-header-fg, 40%);
$res-char-counter-fg: $white;
$res-char-counter-bg: darken($main-bg, 50%);
$res-char-counter-too-long-bg: $red;
$res-default-thumbnail-fg: rgba(255, 255, 255, 0.3);
$res-active-element-color: lighten($focus-color, 20%);

$res-night-bg: $dark-blue;
$res-night-header-bg: lighten($res-night-bg, 9%);
$res-night-menu-bar-bg: lighten($res-night-bg, 10%);
$res-night-fg: darken($gray, 30%);
$res-night-link-fg: darken($bright-cyan, 30%);
$res-night-link-fg-visited: desaturate(darken($violet, 4%), 35%);
$res-night-sticky-link-fg: $dark-green;
$res-night-button-bg: lighten($res-night-bg, 16%);
$res-night-button-fg: $res-night-fg;
$res-night-big-button-bg: $dark-blue-gray;
$res-night-big-button-disabled-fg: $res-night-fg;
$res-night-big-button-disabled-bg: lighten($res-night-bg, 6%);
$res-night-text-bg: lighten($res-night-bg, 8%);
$res-night-text-fg: $res-night-fg;
$res-night-input-bg: lighten($res-night-bg, 5%);
$res-night-input-fg: $res-night-fg;
$res-night-code-fg: lighten($inline-code-fg, 20%);
$res-night-comment-bg: $res-night-text-bg;
$res-night-highlighted-comment-bg: darken($dark-blue-gray, 10%);
$res-night-active-element-color: $bright-cyan;
$res-night-spoiler-bg: lighten($res-night-bg, 25%);
$res-night-spoiler-fg: $res-night-fg;
$res-night-table-heading-bg: lighten($res-night-bg, 7%);

$sr-rec-bg: lighten($dark-brown, 10%);
$sr-rec-hover-bg: $orange;
$sr-rec-fg: $gray;
$res-night-info-box-bg: lighten($res-night-bg, 10%);
$res-night-info-box-fg: $res-night-fg;
$res-night-editor-toolbar-bg: lighten($res-night-bg, 16%);
$res-night-subscribe-bg: darken($green, 15%);
$res-night-unsubscribe-bg: $dark-red;
$res-night-toolbox-bg: darken($res-night-button-bg, 10%);
$res-night-special-entry-bg: #1A242C;
$res-night-new-comment-bg: darken($dark-blue-gray, 7%);
$res-night-new-comment-border-color: lighten($res-night-new-comment-bg, 6%);
$res-night-spam-tagline-bg: darken($misc-spam-tagline-bg, 64%);
$res-night-report-tag-bg: $dark-red;
