// --- PALETTE ---------------------------------------------

$white:           #ffffff;
$gray:            #eaeaea;
$black:           #111111;
$dark-brown:      #2C2928;
$bright-yellow:   #FFF8DC;

// accents from solarized
$yellow:          #b58900;
$orange:          #cb4b16;
$red:             #dc322f;
$magenta:         #d33682;
$violet:          #6c71c4;
$blue:            #268bd2;
$cyan:            #2aa198;
$green:           #859900;

// --- these images are for local test
$main-bg-image: 'image/noise.png';
$header-bg-image: 'image/banner.png';
$icon-image: 'image/icons.png';

// --- and these are for reddit css
$main-bg-image: '%%noise%%';
$header-bg-image: '%%banner%%';
$icon-image: '%%icons%%';

$sans-serif: 'Liberation Sans', Arial, sans-serif;
$serif: 'Liberation Serif', 'Times New Roman', serif;
$monospace: 'DejaVu Sans Mono', 'Droid Sans Mono', Inconsolata, Monaco, monospace;

$main-bg: $gray;
$main-fg: $black;

$text-bg: $white;
$text-fg: $main-fg;
$toc-bg: $bright-yellow;
$text-border-color: darken($gray, 20%);
$quote-bg: darken($text-bg, 6%);
$quote-fg: $text-fg;
$quote-border-color: darken($text-border-color, 10%);
$codeblock-bg: $quote-bg;
$codeblock-fg: $text-fg;
$codeblock-border-color: $quote-border-color;
$table-heading-bg: darken($text-bg, 10%);
$table-heading-fg: lighten($main-fg, 20%);
$table-highlight-bg: $bright-yellow;
$table-border-color: darken($main-bg, 20%);
$inline-code-fg: darken($orange, 5%);
$line-num-bg: $codeblock-border-color;
$line-num-fg: $white;

$link-fg: darken($blue, 7%);
$link-fg-visited: darken($violet, 7%);
$sticky-link-fg: darken($green, 10%);

$header-height: 140px;
$header-bg: $black;
$header-fg: darken($gray, 14%);
$page-title-height: $header-height - 51px;
$page-title-fg: darken($gray, 20%);

$menu-bar-bg: $dark-brown;
$menu-bar-fg: darken($gray, 30%);
$sr-header-fg: darken($gray, 40%);
$sr-header-bg: rgba(0, 0, 0, 0.5);
$sr-dropdown-bg: $black;
$sr-dropdown-fg: lighten($gray, 30%);
$sr-dropdown-selected-bg: $orange;
$sr-dropdown-selected-fg: $white;
$dropdown-selected-bg: $orange;
$dropdown-selected-fg: $white;

$sponsored-tag-bg: $bright-yellow;
$sponsored-bg: rgba($green, 0.1);
$sponsored-fg: lighten($main-fg, 20%);
$sidebar-fg: darken($gray, 60%);
$nsfw-tag-bg: $orange;
$nsfw-tag-fg: $white;
$sticky-tag-bg: $green;
$sticky-tag-fg: $white;
$mod-tag-fg: darken($green, 5%);
$admin-tag-fg: $red;
$score-fg: darken($gray, 40%);
$default-nsfw-thumb-bg: rgba($magenta, 0.5);
$default-modpost-thumb-bg: rgba($green, 0.5);
$default-text-thumb-bg: rgba($blue, 0.5);

$default-link-flair-bg: lighten($blue, 5%);
$default-link-flair-fg: $white;
$default-user-flair-bg: lighten($green, 3%);
$default-user-flair-fg: $white;

$list-entry-fg: darken($gray, 50%);
$comment-bg: rgba(255, 255, 255, 0.5);
$comment-bg: $white;
$deleted-comment-bg: none;

$upvote-color: lighten($orange, 10%);
$downvote-color: $violet;

$button-fg: $white;
$button-bg: $orange;
$input-fg: lighten($black, 20%);
$input-bg: $white;
$small-button-bg: lighten($gray, 5%);
$small-button-fg: darken($gray, 50%);
$expand-button-fg: darken($gray, 40%);

$subscribe-bg: $green;
$subscribe-fg: $white;
$unsubscribe-bg: $red;
$unsubscribe-fg: $white;

$box-bg: lighten($main-bg, 2%);
$info-box-bg: $bright-yellow;
$form-tab-bg: $box-bg;
$form-tab-fg: lighten($main-fg, 20%);
$tooltip-bg: darken($bright-yellow, 10%);

$res-night-bg-image: 'image/dark-noise.png';
$res-night-bg-image: '%%dark-noise%%';
$res-night-bg: lighten($black, 5%);
$res-night-bg: $black;
$res-night-fg: $gray;
$res-night-code-fg: #87CEEB;
$res-active-element-color: rgba($orange, 0.5);
$res-popup-bg: #5F99CF;


// set this to 1 if you want to have line number at the left of codeblock
$show-line-num-in-codeblock: 0;
