// --- PALETTE ---------------------------------------------

$white:           #ffffff;
$gray:            #eaeaea;
$black:           #111111;
$real-black:      #000000;
$dark-brown:      #2C2928;
$dark-gray:       #686868;
$bright-yellow:   #FFF8DC;

// accents from solarized
$yellow:          #b58900;
$orange:          #cb4b16;
$red:             #dc322f;
$magenta:         #d33682;
$violet:          #6c71c4;
$blue:            #268bd2;
$cyan:            #2aa198;
$green:           #859900;

$sidebar-width:   300px;

// --- these images are for local test
$main-bg-image: 'image/noise.png';
$header-bg-image: 'image/banner.png';
$icon-image: 'image/icons.png';

// --- and these are for reddit css
$main-bg-image: '%%noise%%';
$header-bg-image: '%%banner%%';
$icon-image: '%%icons%%';

$sans-serif: 'Liberation Sans', Arial, sans-serif;
$serif: 'Liberation Serif', 'Times New Roman', serif;
$monospace: 'DejaVu Sans Mono', 'Droid Sans Mono', Inconsolata, Monaco, monospace;

$main-bg: $gray;
$main-fg: $black;

$text-bg: $white;
$text-fg: $main-fg;
$toc-bg: $bright-yellow;
$toc-level-indicator-color: rgba(0, 0, 0, 0.2);
$text-border-color: darken($gray, 20%);
$quote-bg: darken($text-bg, 6%);
$quote-fg: $text-fg;
$quote-border-color: darken($text-border-color, 10%);
$codeblock-bg: $quote-bg;
$codeblock-fg: $text-fg;
$codeblock-border-color: $quote-border-color;
$table-heading-bg: darken($text-bg, 10%);
$table-heading-fg: lighten($main-fg, 20%);
$table-highlight-bg: $bright-yellow;
$table-border-color: darken($main-bg, 20%);
$inline-code-fg: darken($orange, 5%);
$line-num-bg: $codeblock-border-color;
$line-num-fg: $white;
$diff-bg: $text-bg;
$diff-add-bg: rgba($green, 0.3);
$diff-sub-bg: rgba($red, 0.3);
$spoiler-bg: $black;
$spoiler-fg: $white;
$horiz-line-color: rgba(0, 0, 0, 0.2);

$engraved-box-bg: rgba(0, 0, 0, 0.14);
$popup-title-fg: lighten($main-fg, 20%);
$raised-box-bg: $white;
$raised-box-fg: $main-fg;
$flair-selection-hover-bg: none;

$link-fg: darken($blue, 7%);
$link-fg-visited: darken($violet, 7%);
$sticky-link-fg: darken($green, 10%);

$header-height: 140px;
$header-bg: $black;
$header-fg: darken($gray, 14%);
$page-title-height: $header-height - 51px;
$page-title-fg: darken($gray, 20%);

$menu-bar-bg: $dark-brown;
$menu-bar-fg: darken($gray, 30%);
$sr-header-fg: darken($gray, 40%);
$sr-header-bg: rgba(0, 0, 0, 0.5);
$sr-dropdown-bg: $black;
$sr-dropdown-fg: lighten($gray, 30%);
$sr-dropdown-selected-bg: $orange;
$sr-dropdown-selected-fg: $white;
$dropdown-selected-bg: $orange;
$dropdown-selected-fg: $white;

$sponsored-tag-bg: $bright-yellow;
$special-entry-bg: rgba($green, 0.1);
$special-entry-fg: lighten($main-fg, 20%);
$sidebar-fg: darken($gray, 60%);
$sidebar-toolbox-bg: rgba(255, 255, 255, 0.2);
$sidebar-toolbox-button-hover-color: rgba(0, 0, 0, 0.3);
$nsfw-tag-bg: $orange;
$nsfw-tag-fg: $white;
$report-tag-bg: $red;
$report-tag-fg: $white;
$sticky-tag-bg: $green;
$sticky-tag-fg: $white;
$mod-tag-fg: darken($green, 5%);
$admin-tag-fg: $red;
$submitter-tag-fg: $link-fg;
$score-fg: darken($gray, 40%);
$default-thumb-bg: rgba(0, 0, 0, 0.2);
$default-nsfw-thumb-bg: rgba($magenta, 0.5);
$default-modpost-thumb-bg: rgba($green, 0.5);
$default-text-thumb-bg: rgba($blue, 0.5);
$flat-list-hover-bg: rgba(0, 0, 0, 0.1);

$default-link-flair-bg: lighten($blue, 5%);
$default-link-flair-fg: $white;
$default-user-flair-bg: lighten($green, 3%);
$default-user-flair-fg: $white;

$list-entry-fg: darken($gray, 50%);
$comment-bg: rgba(255, 255, 255, 0.5);
$comment-bg: $white;
$deleted-comment-bg: none;

$upvote-color: lighten($orange, 10%);
$downvote-color: $violet;


$button-fg: $white;
$button-bg: $orange;
$button-disabled-fg: rgba(0, 0, 0, 0.4);
$button-disabled-bg: darken($main-bg, 12%);
$input-fg: lighten($black, 20%);
$input-bg: $white;
$small-button-bg: lighten($gray, 5%);
$small-button-fg: darken($gray, 50%);
$expand-button-fg: darken($gray, 40%);

$subscribe-bg: $green;
$subscribe-fg: $white;
$unsubscribe-bg: $red;
$unsubscribe-fg: $white;

$box-bg: lighten($main-bg, 2%);
$info-box-bg: $bright-yellow;
$form-tab-bg: $box-bg;
$form-tab-fg: lighten($main-fg, 20%);
$tooltip-bg: darken($bright-yellow, 10%);

$res-night-bg-image: 'image/dark-noise.png';
$res-night-bg-image: '%%dark-noise%%';
$res-night-bg: lighten($black, 5%);
$res-night-bg: $black;
$res-night-fg: darken($gray, 10%);
$res-dark-button-bg: lighten($res-night-bg, 40%);
$res-dark-button-fg: $res-night-bg;
$res-night-code-fg: lighten($inline-code-fg, 20%);
$res-active-element-color: rgba($orange, 0.5);
$res-popup-bg: #5F99CF;
$res-temp-sort-bg: rgba(0, 0, 0, 0.2);
$res-default-thumbnail-fg: rgba(255, 255, 255, 0.3);
$res-current-sub-fg: lighten($sr-header-fg, 40%);
$res-char-counter-fg: $white;
$res-char-counter-bg: darken($main-bg, 50%);
$res-char-counter-too-long-bg: $red;
$res-night-spoiler-bg: lighten($res-night-bg, 25%);
$res-night-spoiler-fg: $res-night-fg;
$res-night-table-heading-bg: lighten($res-night-bg, 7%);

// set this to 1 if you want to have line number at the left of codeblock
$show-line-num-in-codeblock: 0;

// set to `header` to place subscribe button on header.
// any other value will put it at its normal place
$subscribe-button-placement: header;
