.wiki-page {
  > .content {
    position: relative;
  }

  .infobar {
    padding: 3px 8px;
    display: block;
    margin: 7px 15px 15px 15px;

    .md {
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .wiki-page-content {
    margin: 15px !important;

    .morelink {
      margin: 1em 0 !important;
      padding: 0 !important;
      &:hover {
        background: none !important;
        border: none !important;
      }
    }

    .description h2 {
      color: inherit;
    }

    .md.wiki {
      @extend %tn-simple-text-container;

      > .toc > ul {
        border: none;
        padding: 10px;
        margin: 0;
      }
    }
  }

  .wikititle {
    @extend %tn-bracketed;
    display: inline-block;
    margin: 9px 15px 0 15px;
    line-height: 1em;
    padding: 0;
    font-weight: bold;
  }

  // wiki toolbar
  .pageactions {
    padding: 0;
    border: none;
    margin: 0;
    float: right;
    margin: 5px 15px 0 0;
    @include rounded(0);

    > .wikiaction {
      @extend %tn-switch-button;
      font-size: 14px !important;
      text-transform: capitalize;
      &.wikiaction-current {
        @extend %tn-switch-button-active;
      }

      &:first-child {
        @extend %tn-switch-button-round-left;
      }

      &:last-child {
        @extend %tn-switch-button-round-right;
      }
    }
  }

  .wikirevisionlisting {
    margin-bottom: 1em;

    .generic-table {
      @extend %tn-markdown-table;
      td {
        border-style: solid;
        border-width: 1px;
        color: $main-fg;
        padding: 5px;
      }
    }
  }

  .nextprev {
    float: right;
    margin-top: 5px;
  }
}

.md.wiki > .toc {
  background: $toc-bg;
  float: right;
  padding: 8px;
  margin: 10px 0 10px 10px;
  position: relative;
  @include rounded(0);

  &:before {
    content: 'CONTENTS';
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
    border-bottom: solid 2px lighten($toc-bg, 10%);
  }

  > ul ul {
    border-left-color: $toc-level-indicator-color !important;
  }
}

table.diff {
  width: 100%;
  background: $diff-bg;
  border: solid 1px $table-border-color;
  margin-bottom: 1em;

  tbody,
  colgroup {
    border: none;
  }

  th,
  td,
  .diff_header,
  .diff_next {
    border: none;
    padding: 2px 4px;
  }

  .diff_header,
  .diff_next {
    background: $table-heading-bg;
    color: $table-heading-fg;
    border: solid 1px darken($table-heading-bg, 5%);
  }

  th.diff_header {
    padding: 4px;
  }

  td[nowrap] {
    min-width: 35%;
    border: none !important;
  }

  .diff_sub {
    background: $diff-sub-bg;
  }

  .diff_add {
    background: $diff-add-bg;
  }

  tbody {
    .diff_header {
      text-align: right;

      &:not([id]) {
        color: lighten($table-heading-fg, 35%);
      }
    }
  }
}
