.wiki-page {
  > .content {
    position: relative;
  }

  .infobar {
    padding: 3px 8px;
    display: block;
    margin: 7px 15px 15px 15px;

    .md {
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .wiki-page-content {
    margin: 15px !important;

    .morelink {
      margin: 1em 0 !important;
      padding: 0 !important;
      &:hover {
        background: none !important;
        border: none !important;
      }
    }

    .md.wiki {
      @extend %tn-simple-text-container;

      > .toc > ul {
        border: none;
        padding: 10px;
        margin: 0;
      }
    }
  }

  .wikititle {
    @extend %tn-bracketed;
    display: inline-block;
    margin: 9px 15px 0 15px;
    line-height: 1em;
    padding: 0;
    font-weight: bold;
  }

  // wiki toolbar
  .pageactions {
    padding: 0;
    border: none;
    margin: 0;
    float: right;
    margin: 5px 15px 0 0;
    @include rounded(0);

    > .wikiaction {
      @extend %tn-switch-button;
      font-size: 14px !important;
      text-transform: capitalize;
      &.wikiaction-current {
        @extend %tn-switch-button-active;
      }

      &:first-child {
        @extend %tn-switch-button-round-left;
      }

      &:last-child {
        @extend %tn-switch-button-round-right;
      }
    }
  }

  .wikirevisionlisting {
    margin-bottom: 1em;

    .generic-table {
      tr {
        td {
          padding: 5px;
          border: solid 1px $table-border-color;
          @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7));

          > input[type=radio] {
            margin: 0 3px;
          }
        }

        &:hover > td {
          background-color: $table-highlight-bg;
        }
      }
    }
  }

  .nextprev {
    float: right;
    margin-top: 5px;
  }
}

.md.wiki > .toc {
  background: $toc-bg;
  float: right;
  padding: 8px;
  margin: 10px 0 10px 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  position: relative;
  @include shadow(inset 0 -9px 3px lighten($toc-bg, 2%));
  @include rounded(0);

  &:after {
    content: '';
    position: absolute;
    height: 2px;
    background: desaturate(darken($toc-bg, 20%), 20%);
    bottom: -3px;
    left: 0;
    right: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    @include shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  }

  &:before {
    content: 'CONTENTS';
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  }

  > ul ul {
    border-left-color: $toc-level-indicator-color;
  }
}

table.diff {
  width: 100%;
  background: $diff-bg;
  border: solid 1px $table-border-color;
  margin-bottom: 1em;

  tbody,
  colgroup {
    border: none;
  }

  th,
  td,
  .diff_header,
  .diff_next {
    border: none;
    padding: 2px 4px;
  }

  .diff_header,
  .diff_next {
    background: $table-heading-bg;
    color: $table-heading-fg;
    border: none;
    border: solid 1px $table-border-color;
    @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7));
  }

  th.diff_header {
    padding: 4px;
  }

  td[nowrap] {
    min-width: 35%;
    border: none !important;
  }

  .diff_sub {
    background: $diff-sub-bg;
  }

  .diff_add {
    background: $diff-add-bg;
  }

  tbody {
    .diff_header {
      text-align: right;

      &:not([id]) {
        color: lighten($table-heading-fg, 35%);
      }
    }
  }
}
