@import "variables";
@import "mixins";
@import "buttons";
@import "form";
@import "header";
@import "list";
@import "markdown";
@import "comments";
@import "sidebar";
@import "footer";
@import "icons";
@import "flairs";
@import "res";
//@import "extra";

body {
   background: $main-bg url($main-bg-image) left top repeat;
   color: $main-fg;
}

a, .thing .title {
   color: $link-fg;

   &:visited {
      color: $link-fg-visited;
   }

   &:active,
   &:focus {
      outline: none;
   }
}

.error {
   color: $main-fg;
}

.content {
   overflow: hidden;
}
