@import "license";
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("reddit.com") {
  @import "userstyle/variables";
  @import "mixins";
  @import "basic";
  @import "buttons";
  @import "form";
  @import "header";
  @import "list";
  @import "markdown";
  @import "comments";
  @import "sidebar";
  @import "footer";
  @import "icons";
  @import "wiki";
  @import "flairs";
  @import "userstyle/icons";
  @import "userstyle/buttons";
  @import "userstyle/header";
  @import "userstyle/list";
  @import "userstyle/explore";
  @import "userstyle/multireddits";
  @import "userstyle/profile";
  @import "userstyle/inbox";
  @import "userstyle/res";
}
