.explore-header #explore-settings button,
#compose-message button#send {
  @extend %tn-button;
  padding-bottom: 3px;
}

.sidebox.holiday_shopping > .morelink > a {
  color: $button-fg;

  &::before {
    position: absolute;
    left: 12px;
    top: 2px;
  }
}
