#header-img {
  &.default-header {
    background: url($logo-image) center center no-repeat;
    width: 82px;
    height: $page-title-height;
    margin: 0 10px 0 20px;
    vertical-align: middle;
  }
}

#header-img-a {
  overflow: hidden;
  > #header-img {
    max-height: $page-title-height !important;
    width: auto !important;
    max-width: 300px !important;
  }
}

body.with-listing-chooser {
  #header {
    .pagename {
      position: static;
      margin-left: 0;
    }
  }
}

.front-page {
  #header-img-a {
    @extend .pagename;
    margin: 0 0 0 17px;

    &::after {
      content: 'front page';
    }
  }

  #header-img {
    vertical-align: middle;
    margin: 0 20px 6px 0;
  }
}
