.subscription-box .sr-type-img,
.message.new > .entry .head::after,
.trending-subreddits strong::before,
.explore-label::before {
  @extend %tn-icon;
}

.subscription-box .sr-type-img {
  overflow: hidden;
  padding-left: 16px;
  margin-right: 4px;
  @include box-sizing(border-box);
}

.subscription-box .sr-type-img {
  &[alt="moderator"] {
    background-position: -16px -32px;
  }

  &[alt="private"] {
    background-position: -96px 0;
  }

  &[alt="over18"] {
    background-position: 0 -96px;
  }
}

.trending-subreddits strong::before {
  background-position: -32px -96px;
}

.message.new > .entry .head::after {
  background-position: -48px -96px;
  margin-left: 10px;
  content: '';
  vertical-align: middle;
}

.explore-label::before {
  content: '';
  vertical-align: middle;
}

.explore-rising .explore-label::before {
  background-position: -32px -96px;
}

.explore-hot .explore-label::before {
  background-position: -64px -96px;
}

.explore-discovery .explore-label::before {
  background-position: -96px -96px;
}

.explore-comment .explore-label::before {
  background-position: -80px -96px;
}
