.message {
  > .subject {
    font-size: $normal-font-size;
    margin-bottom: 10px;

    > .correspondent {
      @extend %tn-info-box;
    }

    > .expand-btn {
      @extend %tn-small-button;
      font-size: 1em;
      margin: 8px 3px 8px 0;
    }
  }

  &.collapsed {
    &.new > .entry,
    > .entry.RES-keyNav-activeElement {
      background: none !important;
      border: none;
    }

    > .entry {
      padding: 0;
      margin-bottom: 0;

      > .tagline {
        display: inline-block;
        margin: 3px;
      }

      &.RES-keyNav-activeElement > .tagline {
        @extend %tn-active-collapsed-comment-indicator;
      }
    }
  }

  &.message-parent,
  &.message-reply {
    > .entry {
      border-left: none;

      &,
      .tagline {
        color: $main-fg;
      }
    }

    &.recipient > .entry .head {
      font-weight: normal;
    }
  }

  &.new > .entry {
    border: none;
    .head {
      font-weight: normal;
      color: $main-fg;
    }
  }

  &.collapsed {
    font-size: 13px;
    .head {
      color: $main-fg;
    }
  }

  &.noncollapsed {
    > .entry {
      @extend %tn-comment-bubble;
      margin-bottom: 10px;
      max-width: $max-comment-width;

      &.RES-keyNav-activeElement {
        @extend %tn-active-comment-entry;
      }

      .parent-link {
        @extend %tn-small-button;
        margin: 8px;
        display: inline-block;

        &[style] {
          color: $small-button-fg !important;
        }
      }

      .md-container {
        padding: 0 10px;

        > .parent.rounded {
          @extend %tn-quote;
          border-top: none;
          border-right: none;
          border-bottom: none;
          @include rounded(0);
        }
      }

      .tagline {
        @extend %tn-comment-tagline;
      }

      .md,
      .flat-list {
        margin-left: 0;
      }

      .flat-list.buttons {
        @extend %tn-comment-footer;
      }
    }

    .midcol {
      width:  24px;
    }
  }

  &:not(.recipient) {
    > .entry > .tagline {
      background: $inbox-own-message-tagline-bg;
    }

    &.noncollapsed > .entry::before {
      border-right-color: $inbox-own-message-tagline-bg;
    }
  }
}

.messages-page {
  > .content > .sitetable > .message {
    @extend %tn-list-entry-separator;
    > .child {
        margin-left: 20px !important;
    }
  }
}
