.message {
  > .subject {
    > .correspondent {
      background: none;
      padding: 0;
      display: inline;
      border: none;

      > .author {
        margin-right: 0;
        &::after {
          content: ':';
        }
      }
    }

    > .expand-btn {
      @extend %tn-small-button;
      font-size: 1em;
      margin: 8px 3px 8px 0;
    }
  }

  .entry.RES-keyNav-activeElement {
    background: none !important;
  }

  &.message-parent,
  &.message-reply {
    > .entry {
      border-left: none;
      > .noncollapsed {
        color: $main-fg;
        > .tagline {
          color: inherit;
        }
      }
    }
  }

  &.new {
    .entry {
      background: none;
      .head {
        color: $main-fg;
        font-weight: normal;
      }
    }
  }

  &.collapsed {
    font-size: 13px;
    .head {
      color: $main-fg;
    }
  }

  &.noncollapsed {
    > .entry {
      display: inline-block;

      > .md,
      > .flat-list {
        margin-left: 0;
      }

      > .md {
        @extend %tn-comment-bubble;
        padding: 4px 10px;
        margin-bottom: 5px;
        max-width: $max-comment-width;

        // FIXME: this is wrong
        overflow: visible;
      }

      > .tagline {
        margin-bottom: 10px;
        color: $main-fg;
      }
    }
  }
}

.messages-page {
  .error {
    margin: 7px 310px 7px 15px;
  }


  > .content {
    > .listing {
      > .message {
        @extend %tn-list-entry-separator;
      }
    }
  }
}
