.organic-listing {
  .nextprev {
    margin: 10px;
    .arrow {
      text-align: center;
      vertical-align: middle;

      &.prev,
      &.next {
        @extend %tn-small-button;
        height: auto !important;
        position: relative;
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 0px;
        width: 1.6em;
      }

      &::before {
        margin-left: 0.3em;
        margin-right: 3em;
      }

      &.prev {
        border-right: none;
        @include rounded(3px 0px 0px 3px);
        &::before {
          content: '\25c2';
        }
      }

      &.next {
        border-left: none;
        @include rounded(0px 3px 3px 0px);
        &::before {
          content: '\25b8';
        }
      }
    }
  }
}

.sr-interest-bar {
  background-color: transparent;
  > .bubble {
    padding: 10px 20px 10px 10px;
    @include shadow(0px 1px 2px rgba(0, 0, 0, 0.2));

    > .caption {
      > .subscribe {
        @extend %tn-button;

        &,
        &:hover,
        &:focus,
        &:active {
          @include linear-gradient(top, $subscribe-bg, darken($subscribe-bg, 6%));
        }
      }
    }

    > .query-box {
      border: none;
      > .query {
        @extend %tn-input;
      }
    }

    > .results {
      border-top: none;
    }
  }
}
