.organic-listing {
  .nextprev {
    margin: 10px;
    .arrow {
      min-width: 0;
      text-align: center;
      vertical-align: middle;

      &.prev,
      &.next {
        @extend %tn-small-button;
        //height: auto !important;
        position: relative;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-indent: -900px;
        width: 20px;
        height: 20px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 3px;
        left: 6px;
        border-top: solid 6px transparent;
        border-bottom: solid 6px transparent;
      }

      &.prev {
        border-right: none;
        @include rounded(3px 0 0 3px);
        &::before {
          border-right: solid 5px $small-button-fg;
          //content: '\25c2';
        }
      }

      &.next {
        border-left: none;
        @include rounded(0 3px 3px 0);
        &::before {
          border-left: solid 5px $small-button-fg;
          //content: '\25b8';
        }
      }
    }
  }

  .link {
    .title {
      max-width: 93%;
    }
  }
}

.sr-interest-bar {
  @extend %tn-special-entry;

  > .bubble {
    background: none;

    &::after {
      display: none;
    }

    > .caption {
      > .subscribe {
        background: none;
        border: none;
        font-weight: inherit;
        color: inherit;
        display: inline;
        margin: 0;
        padding: 0;
      }
    }

    > .query-box {
      border: none;
      > .query {
        @extend %tn-input;
      }
    }

    > .results {
      border-top: none;
    }
  }
}

.trending-subreddits {
  margin: 10px 0;

  > .trending-subreddits-content {
    padding-bottom: 3px;
    > strong {
      color: $main-fg;
    }

    li {
      > a {
        @extend %tn-small-button;
      }
    }

    > .comments {
      color: $list-entry-fg;
    }
  }
}

// i can't remember why i put this here.
// this is for the list like the one in inbox (all/unread/messages/etc).
// may be it's used somewhere in link listing?
.menuarea {
  .flat-list {
    overflow: hidden;
    padding-bottom: 3px;
    font-size: 14px;
    text-transform: capitalize;

    > li {
      display: block;
      float: left;

      > a {
        @extend %tn-switch-button;
      }

      &.selected {
        > a {
          @extend %tn-switch-button-active;
        }
      }

      &:first-child > a {
        @extend %tn-switch-button-round-left;
      }

      &:last-child > a {
        @extend %tn-switch-button-round-right;
      }

      > .separator {
        display: none;
      }
    }
  }
}


.thing.subreddit {
  @extend %tn-list-entry;
  padding: 1em 0 0.3em 0;

  .midcol {
    margin-right: 10px;
  }

  .titlerow {
    margin-bottom: 5px;
  }
}
