body.with-listing-chooser {
  #header .tabmenu {
    margin-left: 0px;
  }

  > .content {
    margin-left: 145px;
  }

  &.listing-chooser-collapsed {
    > .listing-chooser {
      padding-right: 10px;

      .grippy {
        width: 10px;
      }
    }

    > .content {
      margin-left: 30px;
    }
  }

  .listing-chooser {
    top: $header-height;
    background: $multireddits-bg;
    padding-right: 0px;
    @include shadow(1px 0px 0px rgba(255, 255, 255, 0.8));

    .grippy {
      background: $main-bg url($main-bg-image) top left repeat;
      border-left: none;
      width: 10px;
      border-right: solid 1px rgba(0, 0, 0, 0.2);
      @include shadow(inset 1px 0px 0px rgba(255, 255, 255, 0.9));

      &::before,
      &::after {
        // can't find a good icon to replace the sidebar toggler so we'll hide it temporarily
        display: none !important;
      }
    }

    .intro {
      border-top: solid 3px lighten($multireddits-intro-bg, 10%);
      border-bottom: solid 3px lighten($multireddits-intro-bg, 10%);
      padding: 10px 0px;
      color: $multireddits-intro-fg;
      background: $multireddits-intro-bg;
      @include shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.4));

      > p {
        margin-right: 10px;
      }
    }

    li {
      color: $multireddits-entry-fg;
      border: solid 1px darken($multireddits-entry-bg, 10%);
      margin-bottom: 5px;
      @include linear-gradient(top, $multireddits-entry-bg, darken($multireddits-entry-bg, 5%));
      @include shadow(inset 0px 1px 0px lighten($multireddits-entry-bg, 14%), 0px 2px 2px rgba(0, 0, 0, 0.4));

      &.selected {
        margin-right: 0px;
        color: $multireddits-selected-entry-fg;
        @include linear-gradient(top, $multireddits-selected-entry-bg, darken($multireddits-selected-entry-bg, 5%));
        @include shadow(inset 0px 1px 0px lighten($multireddits-selected-entry-bg, 14%), 0px 2px 2px rgba(0, 0, 0, 0.4));

        &::before {
          border-left-color: $multireddits-selected-color;
        }
      }

      > a {
        color: inherit;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        > .description {
          color: darken($multireddits-entry-fg, 20%);
        }
      }
    }

    > .contents {
      > h3 {
        font-size: 1.2em;
        margin-right: 13px;
      }

      > .multis {
        > .create {
          padding-bottom: 9px;
          input[type=text] {
            width: 93px;
            border: none !important;
            padding: 2px;
            margin-bottom: 8px;
            @include rounded(3px);
            @include shadow(none);
            @include shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.7));
          }

          button {
            @extend %tn-button;
            opacity: 1;
            &:active {
              @include shadow(inset 0px 2px 2px darken($button-bg, 20%), 0px 1px 0px lighten($multireddits-entry-bg, 16%));
            }
          }
        }
      }
    }
  }
}

.multi-details {
  > h1 > a,
  > h2 > a {
    color: $multireddits-title-fg;
  }

  > h1 {
    display: block !important;
    text-transform: uppercase;
    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  > h2 {
    font-weight: normal;
    margin-bottom: 14px;
    padding-bottom: 8px;
    border-bottom: solid 3px $horiz-line-color;
  }

  .settings button,
  form.copy-multi button.copy {
    @extend %tn-button;
    font-weight: bold;
  }

  .settings {
    > .visibility-group {
      display: block;
      margin-bottom: 10px;
    }

    > .show-copy,
    > .show-rename,
    > .delete.confirm-button {
      margin-right: 4px;
    }
  }

  form.copy-multi {
    button.copy {
      opacity: 1;
      margin-left: 5px;
    }
  }

  form.add-sr,
  .subreddits {
    margin-left: 0px;
  }

  .subreddits {
    > li {
      margin-bottom: 4px;
      > a {
        @extend %tn-small-button;
      }
    }
  }
}

.subscription-box {
  .title {
    color: $sidebar-fg;
  }

  .box-separator {
    @extend %tn-horiz-bar;
    margin: 6px 0px 8px 0px;
  }

  li {
    margin-bottom: 4px !important;
  }
}
