.profile-page {
  .RES-keyNav-activeElement {
    background: none !important;
  }

  .gold-accent.snoovatar-link,
  .server-seconds {
    @extend %tn-info-box;
  }

  .gold-accent.snoovatar-link {
    margin: 10px 0;
  }

  .expand-summary {
    @extend %tn-button;
    margin-top: 10px;
  }

  .titlebox {
    > .bottom {
      > img[src$="/mailgray.png"] {
        display: none;
      }

      > a[href*="/compose/"] {
        @extend %tn-small-button;
        font-size: 13px;

        &:before {
          @extend %tn-icon;
          content: '';
          vertical-align: middle;
          margin-right: 6px;
          margin-top: -3px;
          background-position: -32px -48px;
        }
      }
    }
  }
}

.trophy-name {
  color: $main-fg !important;
}
