.res {
  @import "../res/normal/header";
  @import "../res/normal/button";
  @import "../res/normal/sidebar";
  @import "../res/normal/list";
  @import "../res/normal/comment";
  @import "../res/normal/editor";

  .subscription-box {
    .subButtons {
      padding: 3px 0 !important;

      > .subscribe-button,
      > .RESshortcut,
      > .RESDashboardToggle {
        margin-right: 5px;
      }

      > .subscribe-button > .option,
      > .RESshortcut,
      > .RESDashboardToggle {
        padding: 2px 5px;
        font-size: 10px !important;
      }
    }
  }

}

.res.res-commentBoxes .comments-page .nestedlisting {
  @import "../res/comment_reset";
}
