@import "../variables";

$logo-image: '../image/logo.png';
@if env(ASSETS) == remote {
  $main-bg-image: 'http://i.imgur.com/zunAMnr.jpg';
  $header-bg-image: 'http://i.imgur.com/kfumYVX.jpg';
  $icon-image: 'http://i.imgur.com/MJ7y1Zy.png';
  $res-night-bg-image: 'http://i.imgur.com/zunAMnr.jpg';
  $logo-image: 'http://i.imgur.com/1yRy1Sk.png';
}

$multireddits-bg: darken($main-bg, 1%);
$multireddits-grippy-bg: none;
$multireddits-intro-bg: #1C2C38;
$multireddits-intro-fg: $menu-bar-fg;
$multireddits-selected-color: $focus-color;
$multireddits-entry-bg: $menu-bar-bg;
$multireddits-entry-fg: $menu-bar-fg;
$multireddits-selected-entry-bg: lighten($multireddits-entry-bg, 5%);
$multireddits-selected-entry-fg: lighten($multireddits-entry-fg, 14%);
$multireddits-title-bg: $bright-yellow;
$multireddits-title-fg: lighten($main-fg, 20%);

$inbox-own-message-tagline-bg: lighten($blue, 35%);

$explore-hot-color: $orange;
$explore-discovery-color: $violet;
$explore-rising-color: $green;
$explore-comment-color: $blue;

$menu-bg: lighten($menu-bar-bg, 2%);
$menu-fg: $menu-bar-fg;
$menu-item-focused-fg: $sr-dropdown-selected-fg;
$menu-item-focused-bg: lighten($menu-bg, 7%);
$menu-enabled-fg: lighten($green, 5%);
$menu-disabled-fg: $red;

$dashboard-widget-header-bg: darken($box-bg, 3%);
$dashboard-widget-title-bg: $bright-yellow;

$res-night-multireddits-bg: darken($res-night-bg, 1%);
$res-night-multireddits-intro-bg: #1C2C38;
$res-night-multireddits-entry-bg: $res-night-menu-bar-bg;
$res-night-multireddits-entry-fg: $res-night-fg;
$res-night-multireddits-selected-color: $res-night-active-element-color;
$res-night-multireddits-selected-entry-bg: lighten($res-night-multireddits-entry-bg, 5%);
$res-night-multireddits-selected-entry-fg: lighten($res-night-multireddits-entry-fg, 15%);
$res-night-inbox-own-message-tagline-bg: darken($dark-blue-gray, 8%);

$res-night-menu-bg: lighten($res-night-menu-bar-bg, 2%);
$res-night-menu-item-focused-bg: lighten($res-night-menu-bg, 7%);

$res-night-dashboard-widget-header-bg: lighten($res-night-info-box-bg, 6%);
$res-night-dashboard-widget-title-bg: $bright-yellow;

