@import "../variables";
$main-bg-image: 'image/noise.png';
$header-bg-image: 'image/banner.png';
$icon-image: 'image/icons.png';
$res-night-bg-image: 'image/dark-noise.png';

$multireddits-bg: rgba(0, 0, 0, 0.1);
$multireddits-grippy-bg: $main-bg;
