.tn-button, .morelink a, button, .res .RESshortcutside, .res .RESshortcutside.remove,
.res .RESDashboardToggle,
.res .RESDashboardToggle.remove {
  color: white;
  padding: 2px 8px;
  width: auto;
  text-shadow: 0px 1px 1px #6f290c;
  text-decoration: none;
  border: none;
  background: -webkit-linear-gradient(top, #cb4b16, #af4113);
  background: -moz-linear-gradient(top, #cb4b16, #af4113);
  background: -o-linear-gradient(top, #cb4b16, #af4113);
  background: linear-gradient(top, #cb4b16, #af4113);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), inset 0px -2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), inset 0px -2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), inset 0px -2px 0px rgba(0, 0, 0, 0.3);
}
.tn-button:visited, .morelink a:visited, button:visited, .res .RESshortcutside:visited, .res .RESshortcutside.remove:visited,
.res .RESDashboardToggle:visited,
.res .RESDashboardToggle.remove:visited {
  color: white;
}
.tn-button:hover, .morelink a:hover, button:hover, .res .RESshortcutside:hover, .res .RESshortcutside.remove:hover,
.res .RESDashboardToggle:hover,
.res .RESDashboardToggle.remove:hover, .tn-button:focus, .morelink a:focus, button:focus, .res .RESshortcutside:focus, .res .RESshortcutside.remove:focus,
.res .RESDashboardToggle:focus,
.res .RESDashboardToggle.remove:focus {
  color: white;
  background: -webkit-linear-gradient(top, #e25418, #b44214);
  background: -moz-linear-gradient(top, #e25418, #b44214);
  background: -o-linear-gradient(top, #e25418, #b44214);
  background: linear-gradient(top, #e25418, #b44214);
}
.tn-button:focus, .morelink a:focus, button:focus, .res .RESshortcutside:focus, .res .RESshortcutside.remove:focus,
.res .RESDashboardToggle:focus,
.res .RESDashboardToggle.remove:focus, .tn-button:active, .morelink a:active, button:active, .res .RESshortcutside:active, .res .RESshortcutside.remove:active,
.res .RESDashboardToggle:active,
.res .RESDashboardToggle.remove:active {
  outline: none !important;
}
.tn-button:active, .morelink a:active, button:active, .res .RESshortcutside:active, .res .RESshortcutside.remove:active,
.res .RESDashboardToggle:active,
.res .RESDashboardToggle.remove:active {
  background: -webkit-linear-gradient(top, #cb4b16, #9d3a11);
  background: -moz-linear-gradient(top, #cb4b16, #9d3a11);
  background: -o-linear-gradient(top, #cb4b16, #9d3a11);
  background: linear-gradient(top, #cb4b16, #9d3a11);
  -webkit-box-shadow: inset 0px 2px 0px #9d3a11, 0px 2px 2px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0px 2px 0px #9d3a11, 0px 2px 2px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 2px 0px #9d3a11, 0px 2px 2px rgba(255, 255, 255, 0.7);
}

.tn-small-button, .nav-buttons .nextprev > a {
  color: #6b6b6b;
  text-decoration: none;
  padding: 2px 6px;
  border: solid 1px #aaaaaa;
  background: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  background: linear-gradient(top, #f7f7f7, #e7e7e7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
}
.tn-small-button:active, .nav-buttons .nextprev > a:active {
  background: -webkit-linear-gradient(top, #efefef, #e0e0e0);
  background: -moz-linear-gradient(top, #efefef, #e0e0e0);
  background: -o-linear-gradient(top, #efefef, #e0e0e0);
  background: linear-gradient(top, #efefef, #e0e0e0);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.fancy-toggle-button .option {
  font-size: 13px;
  padding: 2px 7px;
}
.fancy-toggle-button .option.active {
  border: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.fancy-toggle-button .option.active::before {
  vertical-align: middle;
}
.fancy-toggle-button .option.add {
  color: white;
  background: #859900;
  border-bottom: solid 2px #627000;
}
.fancy-toggle-button .option.remove {
  color: white;
  background: -webkit-linear-gradient(top, #dc322f, #cf2623);
  background: -moz-linear-gradient(top, #dc322f, #cf2623);
  background: -o-linear-gradient(top, #dc322f, #cf2623);
  background: linear-gradient(top, #dc322f, #cf2623);
  border-bottom: solid 1px #ac1f1d;
}

.nub {
  display: none;
}

.morelink {
  border: none;
  background: none;
}
.morelink a {
  letter-spacing: 0px;
}

button {
  padding-bottom: 3px;
  text-transform: capitalize;
}

.expando-button, .res .expando-button.toggleImage.image {
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.3);
  width: 19px;
  height: 19px;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.expando-button::before, .res .expando-button.toggleImage.image::before {
  content: '';
  position: absolute;
  left: 4px;
  right: 4px;
  height: 3px;
  top: 8px;
  background: #848484;
}
.expando-button.selftext.collapsed, .res .selftext.collapsed.expando-button.toggleImage.image, .res .toggleImage.image.expando-button.collapsedExpando, .expando-button.video.collapsed, .res .video.collapsed.expando-button.toggleImage.image {
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}
.expando-button.selftext.collapsed, .res .selftext.collapsed.expando-button.toggleImage.image, .res .toggleImage.image.expando-button.collapsedExpando, .expando-button.selftext.collapsed:hover, .res .selftext.collapsed.expando-button.toggleImage.image:hover, .res .toggleImage.image.expando-button.collapsedExpando:hover, .expando-button.video.collapsed, .res .video.collapsed.expando-button.toggleImage.image, .expando-button.video.collapsed:hover, .res .video.collapsed.expando-button.toggleImage.image:hover {
  background: -webkit-linear-gradient(top, #f7f7f7, lightgrey);
  background: -moz-linear-gradient(top, #f7f7f7, lightgrey);
  background: -o-linear-gradient(top, #f7f7f7, lightgrey);
  background: linear-gradient(top, #f7f7f7, lightgrey);
}
.expando-button.selftext.collapsed::after, .res .selftext.collapsed.expando-button.toggleImage.image::after, .res .toggleImage.image.expando-button.collapsedExpando::after, .expando-button.video.collapsed::after, .res .video.collapsed.expando-button.toggleImage.image::after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 3px;
  left: 8px;
  background: #848484;
}
.expando-button.selftext.expanded, .res .selftext.expanded.expando-button.toggleImage.image, .res .toggleImage.image.expando-button.collapsed.expanded, .expando-button.video.expanded, .res .video.expanded.expando-button.toggleImage.image {
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.8);
}
.expando-button.selftext.expanded, .res .selftext.expanded.expando-button.toggleImage.image, .res .toggleImage.image.expando-button.collapsed.expanded, .expando-button.selftext.expanded:hover, .res .selftext.expanded.expando-button.toggleImage.image:hover, .res .toggleImage.image.expando-button.collapsed.expanded:hover, .expando-button.video.expanded, .res .video.expanded.expando-button.toggleImage.image, .expando-button.video.expanded:hover, .res .video.expanded.expando-button.toggleImage.image:hover {
  background: -webkit-linear-gradient(top, #eaeaea, #c4c4c4);
  background: -moz-linear-gradient(top, #eaeaea, #c4c4c4);
  background: -o-linear-gradient(top, #eaeaea, #c4c4c4);
  background: linear-gradient(top, #eaeaea, #c4c4c4);
}

.infobar, .linkinfo,
.content.submit .info-notice {
  background: #fff0c6;
  border-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

#search input[type=text],
.roundfield-content > input#url,
textarea,
input[type=text],
input[type=password] {
  padding: 3px;
  background: white;
  color: #444444;
  border: solid 1px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.roundfield,
.linefield {
  background: none;
  padding: 0px;
}
.roundfield.info-notice,
.linefield.info-notice {
  width: 520px;
}

.formtab.tabmenu {
  padding: 0px;
  font-size: 14px;
}
.formtab.tabmenu > li {
  display: block;
  font-weight: normal;
  float: left;
}
.formtab.tabmenu > li a {
  display: block;
  padding: 3px 17px;
  position: relative;
  margin-right: 3px;
  color: #444444 !important;
  border-left: solid 1px rgba(0, 0, 0, 0.3) !important;
  border-right: solid 1px rgba(0, 0, 0, 0.3) !important;
  border-top: solid 1px rgba(0, 0, 0, 0.3) !important;
  border-bottom: none !important;
  background: #e0e0e0;
  font-size: 14px;
  outline: none !important;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.formtab.tabmenu > li.selected a {
  font-size: 14px;
  background: #efefef;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
}
.formtab.tabmenu > li.selected a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background: #efefef;
}

.formtabs-content {
  overflow: hidden;
  background: #efefef;
  border: solid 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 1px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 1px 1px rgba(0, 0, 0, 0.14);
  clear: both;
  margin-bottom: 1em;
}

#header {
  background-color: #111111;
  background-image: url("%%banner%%");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  color: #eaeaea;
  border-bottom: none;
  height: 140px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
#header #header-bottom-left > .pagename:last-child::after {
  content: '';
  height: 32px;
}
#header #header-bottom-left > .pagename:last-child::after,
#header .tabmenu {
  display: block;
  margin: 0px;
  padding-left: 6px;
  overflow: hidden;
  text-shadow: 0px 1px 0px #040404;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: -webkit-linear-gradient(top, #2c2928, #1f1d1c);
  background: -moz-linear-gradient(top, #2c2928, #1f1d1c);
  background: -o-linear-gradient(top, #2c2928, #1f1d1c);
  background: linear-gradient(top, #2c2928, #1f1d1c);
  -webkit-box-shadow: inset 0px 1px 0px #474240, inset 0px -1px 0px #141312;
  -moz-box-shadow: inset 0px 1px 0px #474240, inset 0px -1px 0px #141312;
  box-shadow: inset 0px 1px 0px #474240, inset 0px -1px 0px #141312;
}
#header .tabmenu > li {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
}
#header .tabmenu > li > a {
  background: none;
  display: block;
  font-weight: normal;
  color: #9e9e9e;
  padding: 8px 13px;
}
#header .tabmenu > li > a:hover {
  color: #d1d1d1;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.28));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.28));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.28));
  background: linear-gradient(top, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.28));
}
#header .tabmenu > li.selected > a {
  color: #eaeaea;
  border: none;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: 0px 1px 1px #312e2d, inset 0px -2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px #312e2d, inset 0px -2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px #312e2d, inset 0px -2px 3px rgba(0, 0, 0, 0.2);
}

#header-img.default-header {
  background: url("%%logo%%") center center no-repeat;
  width: 82px;
  height: 89px;
  vertical-align: middle;
  margin: 0px 10px 0px 20px;
}

#sr-header-area {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: none;
}
#sr-header-area a {
  color: #6b6b6b;
}
#sr-header-area a:hover {
  color: #b7b7b7;
  text-decoration: none;
}
#sr-header-area .selected > a {
  color: #b7b7b7;
}

#sr-more-link {
  background: rgba(0, 0, 0, 0.5);
}

.dropdown.srdrop .selected {
  color: #6b6b6b;
  background: none;
  padding-right: 5px;
}
.dropdown.srdrop .selected::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 0px;
  height: 0px;
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
  border-top: solid 4px #6b6b6b;
}

#header-bottom-right {
  background: none;
  bottom: 6px;
  right: 10px;
  color: #eaeaea;
}
#header-bottom-right .user {
  color: inherit;
}
#header-bottom-right .userkarma {
  border: none;
}
#header-bottom-right a {
  color: #eaeaea;
}
#header-bottom-right .separator {
  text-indent: -9999999px !important;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.8em;
  width: 5px;
  height: 5px;
  background: #1c1a19;
  -webkit-box-shadow: 0px 1px 0px #474240;
  -moz-box-shadow: 0px 1px 0px #474240;
  box-shadow: 0px 1px 0px #474240;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.pagename {
  color: #b7b7b7;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-variant: normal;
  text-transform: lowercase;
}
.pagename.redditname {
  font-size: 2.9em;
  font-weight: normal;
  vertical-align: middle;
}
.pagename.redditname > a {
  display: inline;
  color: inherit;
}
.pagename.redditname > a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.drop-choices.srdrop {
  background: #111111;
  border: none;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}
.drop-choices.srdrop a.choice {
  color: white;
  padding: 3px 8px;
}
.drop-choices.srdrop a.choice:hover {
  color: white !important;
  background: #cb4b16 !important;
}
.drop-choices.srdrop a.choice.bottom-option {
  border-top: solid 1px #202020;
}

.linklisting {
  overflow: hidden;
}

.flat-list.buttons {
  margin-top: 9px;
}
.flat-list.buttons > li {
  display: inline-block;
  padding: 0px;
}
.flat-list.buttons > li a {
  padding: 2px 5px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.flat-list.buttons > li a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}

.link {
  padding: 1.3em 0em;
  margin: 0px;
  position: relative;
}
.link:not(:first-child) {
  border-top: solid 1px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.link.last-clicked {
  border: none;
}
.link .author {
  color: #2177b4;
}
.link .midcol {
  text-align: center;
  width: 3em !important;
  margin-top: 8px;
}
.link .midcol .score.unvoted {
  color: #848484;
}
.link .rank {
  display: none;
}
.link .flat-list.buttons > li {
  display: none;
}
.link .flat-list.buttons > li.option {
  display: none;
}
.link .flat-list.buttons > li.option.active {
  display: inline-block;
}
.link .flat-list.buttons > li.nsfw-stamp, .link .flat-list.buttons > li.first {
  display: inline-block !important;
}
.link:hover .flat-list.buttons > li {
  display: inline-block;
}
.link .usertext .md {
  background: white;
  color: #111111;
  padding: 5px 20px;
  border-left: solid 3px #b7b7b7;
  border-right: none;
  border-bottom: none;
  border-top: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.thing.stickied a.title {
  color: #596600 !important;
  font-weight: bold !important;
}

.thumbnail {
  width: 76px;
  padding: 2px 4px;
  position: relative;
  font-size: 16px;
  line-height: 1em;
  text-align: center;
}
.thumbnail::before {
  display: inline-block;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  color: #eaeaea;
  font: normal 28px serif;
  line-height: 1.4em;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.thumbnail.default, .thumbnail.self, .thumbnail.nsfw {
  background: none;
  height: 50px;
  width: 70px;
}
.thumbnail.may-blank.default::before {
  content: '?';
}
.thumbnail.may-blank.self::before {
  content: 'T';
  background: rgba(38, 139, 210, 0.5);
}
.thumbnail.may-blank.nsfw::before {
  content: 'X';
  background: rgba(211, 54, 130, 0.5);
}
.thumbnail img {
  display: block;
  padding: 3px;
  background: white;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.stickied-tagline {
  color: white !important;
  background: #859900;
  display: inline-block;
  padding: 1px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.userattrs .moderator {
  color: #5d6b00;
}
.userattrs .moderator::after {
  content: 'od';
}

.nsfw-stamp {
  border: none;
  margin: 0px 4px 0px 0px;
}
.nsfw-stamp acronym {
  display: block;
  vertical-align: middle;
  background: #cb4b16;
  color: white;
  padding: 2px 5px 1px 5px;
  border: none !important;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.tagline,
.domain a,
.entry .buttons li a {
  color: #6b6b6b;
  font-size: 13px;
}

.thing.stickied a.title {
  color: #6b6b6b;
  font-weight: normal;
}
.thing.stickied .thumbnail.self::before {
  content: 'M';
  background: rgba(133, 153, 0, 0.5);
}

.nav-buttons {
  padding: 1em 0em;
}
.nav-buttons .nextprev {
  color: #111111;
}

.comment .entry {
  background: transparent;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.md {
  line-height: 1.5em;
}
.md h1, .md h2 {
  padding: 0.2em 0em;
  font-weight: bold;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin: 0.5em 0em 1em 0em;
}
.md h1 {
  font-size: 1.5em;
  border-width: 2px;
}
.md h2 {
  font-size: 1.3em;
  color: inherit;
}
.md p {
  margin-bottom: 1em;
}
.md blockquote {
  border-left: solid 4px rgba(0, 0, 0, 0.4);
  padding: 0.2em 0.5em;
  background: #f2f2f2;
  color: #111111;
  margin: 0.4em;
}
.md pre,
.md code {
  color: #111111;
  background: #fff8e5;
}
.md code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 0em 0.5em;
  border: solid 1px rgba(0, 0, 0, 0.3);
}
.md pre {
  margin: 1em 0em;
}
.md pre code {
  padding: 0.4em 1em;
  display: block;
  border-left-width: 4px;
}
.md ul {
  list-style-type: square;
}
.md a:hover {
  text-decoration: underline;
}

.side {
  background: none;
  margin: 1em 1em 1em 2em;
}

.subscribe-button {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 9000;
}

.titlebox {
  margin-top: 20px;
}
.titlebox form.flairtoggle {
  margin-bottom: 10px;
}
.titlebox form.toggle,
.titlebox .leavemoderator {
  background: none;
  color: #515151;
}
.titlebox .leavemoderator {
  clear: both;
  padding-top: 10px;
}
.titlebox .redditname {
  display: none;
}

.users-online::before {
  background: none;
}

.subscribers,
.users-online {
  width: 139px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  background: rgba(0, 0, 0, 0.14);
  text-align: center;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6), inset 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.subscribers .number,
.users-online .number {
  font-size: 1.3em;
  font-weight: bold;
}
.subscribers .word,
.users-online .word {
  display: none;
}
.subscribers::after,
.users-online::after {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}

.subscribers {
  float: left;
  margin-right: 1px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.subscribers::after {
  content: 'subscribers';
}

.users-online {
  float: right;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.users-online::before {
  display: none;
}
.users-online::after {
  content: 'online';
}

.sidecontentbox a.helplink {
  margin: 0px;
}
.sidecontentbox .content {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.3);
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px 1px 1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.sidebox .spacer {
  background: none;
}

.icon-menu a {
  background: none;
  display: block;
  padding: 3px 6px;
  vertical-align: middle;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  color: #6b6b6b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-menu a:hover {
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #f7f7f7, #ededed);
  background: -moz-linear-gradient(top, #f7f7f7, #ededed);
  background: -o-linear-gradient(top, #f7f7f7, #ededed);
  background: linear-gradient(top, #f7f7f7, #ededed);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
}
.icon-menu a:active {
  background: -webkit-linear-gradient(top, #f2f2f2, #e2e2e2);
  background: -moz-linear-gradient(top, #f2f2f2, #e2e2e2);
  background: -o-linear-gradient(top, #f2f2f2, #e2e2e2);
  background: linear-gradient(top, #f2f2f2, #e2e2e2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 2em 0em;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
}
.footer.rounded {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.footer .col {
  border: none;
  margin: 0em 2em;
}

.flat-vert.title {
  font-weight: bold;
}

.bottommenu a {
  color: #2177b4;
}
.bottommenu a.updated {
  color: #2177b4;
}

.tn-icon, .titlebox .leavemoderator::before,
.titlebox form.leavecontributor-button::before, .sidecontentbox .collapse-button, .icon-menu .reddit-edit::before,
.icon-menu .moderator-mail::before,
.icon-menu .reddit-moderators::before,
.icon-menu .reddit-contributors::before,
.icon-menu .reddit-traffic::before,
.icon-menu .reddit-modqueue::before,
.icon-menu .reddit-reported::before,
.icon-menu .reddit-spam::before,
.icon-menu .reddit-ban::before,
.icon-menu .reddit-flair::before,
.icon-menu .reddit-moderationlog::before,
.icon-menu .reddit-unmoderated::before {
  display: inline-block;
  background-image: url("%%icons%%");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.titlebox .leavemoderator::before {
  background-position: 0px -32px;
}
.titlebox form.leavecontributor-button::before {
  background-position: -64px -48px;
}

.sidecontentbox .collapse-button {
  padding: 0px;
  margin: 0px;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  background-position: -48px -16px;
}

.icon-menu .reddit-edit::before,
.icon-menu .moderator-mail::before,
.icon-menu .reddit-moderators::before,
.icon-menu .reddit-contributors::before,
.icon-menu .reddit-traffic::before,
.icon-menu .reddit-modqueue::before,
.icon-menu .reddit-reported::before,
.icon-menu .reddit-spam::before,
.icon-menu .reddit-ban::before,
.icon-menu .reddit-flair::before,
.icon-menu .reddit-moderationlog::before,
.icon-menu .reddit-unmoderated::before {
  vertical-align: middle;
  margin-right: 10px;
}
.icon-menu .reddit-edit::before {
  background-position: -32px 0px;
}
.icon-menu .reddit-moderators::before {
  background-position: 0px -32px;
}
.icon-menu .reddit-contributors::before {
  background-position: -64px -48px;
}
.icon-menu .reddit-traffic::before {
  background-position: -16px 0px;
}
.icon-menu .reddit-modqueue::before {
  background-position: -16px -32px;
}
.icon-menu .reddit-reported::before {
  background-position: -32px -16px;
}
.icon-menu .reddit-spam::before {
  background-position: -16px -16px;
}
.icon-menu .reddit-ban::before {
  background-position: -32px -48px;
}
.icon-menu .reddit-flair::before {
  background-position: -48px -32px;
}
.icon-menu .reddit-moderationlog::before {
  background-position: -48px 0px;
}
.icon-menu .reddit-unmoderated::before {
  background-position: 0px 0px;
}
.icon-menu .moderator-mail::before {
  margin-top: 0;
  margin-left: 0;
  background-position: -32px -32px;
}

.linkflairlabel {
  background: rgba(0, 0, 0, 0.2);
  color: #111111;
  border: none;
  padding: 2px 4px;
  vertical-align: middle;
}

.linkflair-soda .linkflairlabel {
  background: #6c71c4;
  color: white;
}

.linkflair-osha .linkflairlabel {
  background: #dc322f;
  color: white;
}

.res #header-bottom-right.res-navTop {
  top: auto !important;
  bottom: 0px !important;
}
.res #header-bottom-right.res-navTop #userbarToggle {
  background: none !important;
  border: none !important;
  color: inherit !important;
  padding: 0px !important;
  line-height: 20px !important;
}
.res #header-bottom-right.res-navTop #userbarToggle.userbarShow {
  bottom: 4px !important;
  top: auto !important;
}
.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
  background: none !important;
  position: relative;
}
.res .RES-keyNav-activeElement {
  border-right: solid 4px #859900;
}
.res .subButtons {
  padding: 1em 0em !important;
}
.res .RESshortcutside, .res .RESshortcutside.remove,
.res .RESDashboardToggle,
.res .RESDashboardToggle.remove {
  font-size: 13px !important;
  display: inline-block !important;
}
.res #RESShortcutsEditContainer,
.res #RESShortcutsSort,
.res #RESShortcutsAdd,
.res #RESShortcutsRight,
.res #RESShortcutsLeft,
.res #RESShortcutsTrash {
  background: transparent !important;
}
.res #RESShortcutsSort,
.res #RESShortcutsAdd,
.res #RESShortcutsRight,
.res #RESShortcutsLeft,
.res #RESShortcutsTrash {
  color: #6b6b6b;
  font-size: 13px;
}

.res-nightmode body {
  background: #111111 !important;
  color: #eaeaea;
}
.res-nightmode body .content {
  background: #111111 !important;
}
.res-nightmode #header {
  background: #111111 url("%%banner%%") top left no-repeat !important;
}
.res-nightmode #header #sr-header-area {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #6b6b6b;
}
.res-nightmode #header #header-bottom-left {
  background: none !important;
}
.res-nightmode #header #header-bottom-left .tabmenu .selected a {
  padding-bottom: 8px !important;
}
.res-nightmode #header #header-bottom-right {
  background: none !important;
}
.res-nightmode .side {
  background: none !important;
  margin: 1em 1em 1em 2em !important;
}
.res-nightmode .side .sidebox {
  border: none !important;
  overflow: visible !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.res-nightmode .side .morelink a {
  color: white;
}
.res-nightmode .side .morelink a:focus {
  outline: none !important;
}
.res-nightmode .side .morelink a:active {
  -webkit-box-shadow: inset 0px 2px 2px #6f290c, 0px 1px 1px #323232;
  -moz-box-shadow: inset 0px 2px 2px #6f290c, 0px 1px 1px #323232;
  box-shadow: inset 0px 2px 2px #6f290c, 0px 1px 1px #323232;
}
.res-nightmode .entry.RES-keyNav-activeElement {
  background: none !important;
}
.res-nightmode .listing-page .sitetable .link {
  background: #111111 !important;
}
.res-nightmode .listing-page .sitetable .link:not(:first-child) {
  border-top: solid 1px black !important;
  -webkit-box-shadow: inset 0px 1px 0px #252525;
  -moz-box-shadow: inset 0px 1px 0px #252525;
  box-shadow: inset 0px 1px 0px #252525;
}

body {
  background: #eaeaea url("%%noise%%") left top repeat;
  color: #111111;
}

a, .thing .title {
  color: #2177b4;
}
a:visited, .thing .title:visited {
  color: #5358ba;
}
a:active, a:focus, .thing .title:active, .thing .title:focus {
  outline: none;
}

.content {
  overflow: hidden;
}
