/*
Syntax error: File to import not found or unreadable: userstyle/trend.
              Load paths:
                /shared/workspace/subreddit-style/terrible-name (DEPRECATED)
                /shared/workspace/subreddit-style/terrible-name/scss
        on line 20 of scss/userstyle.scss

15:   @import "wiki";
16:   @import "res";
17:   @import "userstyle/icons";
18:   @import "userstyle/header";
19:   @import "userstyle/list";
20:   @import "userstyle/trend";
21:   @import "userstyle/multireddits";
22: }

Backtrace:
scss/userstyle.scss:20
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/import_node.rb:66:in `rescue in import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/import_node.rb:45:in `import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:90:in `rescue in invalid_import_parent?'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:84:in `invalid_import_parent?'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:151:in `try_send'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:38:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:40:in `visit_root'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:24:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/root_node.rb:35:in `css_tree'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:250:in `block in watch'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:254:in `call'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: userstyle/trend.\A               Load paths:\A                 /shared/workspace/subreddit-style/terrible-name (DEPRECATED)\A                 /shared/workspace/subreddit-style/terrible-name/scss\A         on line 20 of scss/userstyle.scss\A \A 15:   @import \"wiki\";\A 16:   @import \"res\";\A 17:   @import \"userstyle/icons\";\A 18:   @import \"userstyle/header\";\A 19:   @import \"userstyle/list\";\A 20:   @import \"userstyle/trend\";\A 21:   @import \"userstyle/multireddits\";\A 22: }"; }
