.expando-button.toggleImage {
  &.image,
  &.video-muted {
    &,
    &.collapsedExpando,
    &.collapsed.expanded,
    &.expanded {
      background-image: none !important;
    }
  }
}
// .expando-button.toggleImage.image,
// .expando-button.toggleImage.video-muted {
//   @extend .expando-button;
//   &.collapsedExpando {
//     @extend .expando-button.selftext.collapsed;
//   }

//   &.collapsed.expanded,
//   &.expanded {
//     @extend .expando-button.selftext.expanded;
//   }
// }

.RESshortcutside,
.RESDashboardToggle {
  &,
  &.remove {
    @extend %tn-button;
    font-size: 13px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 5px 0 0;
  }
}

#searchexpando > .searchexpando-submit > input[type="submit"] {
  width: auto !important;
  height: auto !important;
  @include linear-gradient(top, $button-bg, darken($button-bg, 6%));
}
