.expando-button.toggleImage.image {
  @extend .expando-button;
  &.collapsedExpando {
    @extend .expando-button.selftext.collapsed;
  }

  &.collapsed.expanded,
  &.expanded {
    @extend .expando-button.selftext.expanded;
  }
}

.RESshortcutside,
.RESDashboardToggle {
  &,
  &.remove {
    @extend %tn-button;
    font-size: 13px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin: 0 5px 0 0;
  }
}

