#REScommentNavBox {
  z-index: 9000;
}

#REScommentNavToggle {
  clear: both;
  display: block;
  padding-top: 5px;
  white-space: nowrap;
}

#REScommentNavToggle > span:not(:first-child) {
  display: none;
}

.commentNavSortType {
  @extend %tn-switch-button;

  &:nth-of-type(1) {
    @extend %tn-switch-button-round-left;
  }

  &:last-child {
    @extend %tn-switch-button-round-right;
  }
}

.RESSubscriptionButton {
  @extend %tn-small-button;
  &.unsubscribe {
    color: $small-button-fg !important;
  }
}


.commentarea {
  .menuarea {
    > .spacer > .dropdown-title,
    #REScommentNavToggle > span:first-child {
      width: 6em;
      float: left;
      margin: 3px 5px 0 5px;
      display: inline-block;
      text-align: right;
    }

    .dropdown.lightdrop {
      margin-right: 10px;
    }
  }
}

.comment {
  &.thing {
    margin-bottom: 0 !important;
    padding: 0 !important;
  }

  &.noncollapsed > .entry {
    &.RES-keyNav-activeElement {
      @extend %tn-active-comment-entry;
      .md {
        background: none !important;
      }
    }

    > .tagline {
      display: block;
    }
  }

  .child,
  .showreplies {
    border-left: none !important;
  }

  .expando-button {
    float: none;
    display: inline-block;
    padding: 0 !important;
    margin: 0em 0.3em;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.morerecursion,
.morechildren,
.comment.collapsed {
  > .entry.RES-keyNav-activeElement {
    background: none !important;
  }
}

.morerecursion > .entry.RES-keyNav-activeElement > .deepthread,
.morechildren > .entry.RES-keyNav-activeElement > .morecomments,
.comment.collapsed > .entry.RES-keyNav-activeElement > .tagline {
  @extend %tn-active-collapsed-comment-indicator;
}

.drop-choices .RES-sort-button {
  font-size: 0;
  &::before {
    content: 'temp';
    font-size: $normal-font-size;
  }
}
