button.RESBigEditorPop,
#BigEditor .RESCloseButton,
.markdownEditor .RESMacroDropdownTitle,
.markdownEditor > a.edit-btn {
  @extend %tn-small-button;
  font-size: 0 !important;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  text-indent: -100px;
  margin-right: 2px;

  &::before {
    @extend %tn-icon;
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
  }
}

button.RESBigEditorPop,
.markdownEditor .RESMacroDropdownTitle,
.markdownEditor > a.edit-btn {
  position: relative;
}

button.RESBigEditorPop {
  float: right;
  margin-left: 1em;
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  padding: 2px 3px 3px 2px !important;
  clear: both;
  @include box-sizing(content-box);

  &::before {
    top: 3px;
    left: 3px;
    background-position: -16px -48px;
  }
}

.bottom-area > .help-toggle {
  margin-right: 10px;
}


&.wiki-page {
  button.RESBigEditorPop {
    position: absolute;
    float: none;
    right: 15px;
    top: 36px;
    //margin: 16px 15px 0 8px;
  }

  .wiki-page-content > #editform > div > .markdownEditor > .RESCharCounter {
    margin-right: 30px;
  }
}

.commentingAs,
.RESMacroWrappingSpan {
  margin-top: 4px;
}

.RESMacroWrappingSpan {
  float: right;
}

.markdownEditor-wrapper {
  width: auto;
}

.markdownEditor {
  overflow: hidden;
  padding: 2px;

  > a.edit-btn {
    float: left;

    &.btn-bold::before {
      background-position: -80px -64px;
    }

    &.btn-italic::before {
      background-position: -80px -16px;
    }

    &.btn-strike::before {
      background-position: -48px -64px;
    }

    &.btn-superscript::before {
      background-position: -32px -64px;
    }

    &.btn-link::before {
      background-position: -64px 0;
    }

    &.btn-quote::before {
      background-position: -64px -64px;
    }

    &.btn-code::before {
      background-position: -80px -48px;
    }
    &.btn-list-unordered::before {
      background-position: -16px -64px;
    }

    &.btn-list-ordered::before {
      background-position: -80px 0;
    }

    &.btn-table::before {
      background-position: 0 0;
    }
  }
}

.RESDialogSmall.livePreview {
  @extend %tn-raised-box;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 1em;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents,
.RESDialogSmall.livePreview {
  padding: 0 !important;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents {
  margin: 0 10px;
}

#BigPreview.md,
.usertext-edit .RESDialogSmall .md.RESDialogContents,
.RESDialogSmall.livePreview > .md {
  background: none !important;
  @include rounded(0);
  @include shadow(none);
}

#BigEditor > .RESDialogSmall.BERight,
.RESDialogSmall.livePreview {
  > h3 {
    position: static;
    color: $table-heading-fg;
    background: $table-heading-bg;
    font-weight: bold;
    margin: 0;
    top: 0;
    @include rounded(3px 3px 0 0);
    @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7), 0 2px 3px rgba(0, 0, 0, 0.14));
  }
}

#BigEditor {
  button {
    @extend %tn-button;
  }

  > .RESDialogSmall {
    border: none !important;
    @include shadow(0 3px 5px rgba(0, 0, 0, 0.3));

    &.BELeft {
      background: $main-bg url($main-bg-image) left top repeat;
      @include shadow(inset 0 1px 0 rgba(255, 255, 255, 0.7));

      > h3 {
        display: none;
      }

      // so they recently added class to the this godknowswhythereisaduplicate toolbar.
      // i still have no idea if this is really intentional or not
      > .markdownEditor-wrapper {
        display: none;
      }

      > .RESDialogContents {
        top: 10px;
        right: 8px;
        padding: 0;
        padding-bottom: 100px !important;

        //.commentingAs,
        //.RESMacroWrappingSpan {
          //margin-top: 4px;
        //}
      }
    }

    &.BERight {
      > .RESDialogContents {
        top: 40px;
        margin: 0 !important;
      }
    }
  }

  .RESCloseButton {
    @extend %tn-small-button;
    padding-right: 4px;
    top: 9px;

    &.RESFadeButton {
      right: 42px;
      &::before {
        background-position: -96px -48px;
      }
    }

    &.close::before {
      background-position: 0 -32px;
    }
  }
}

.RESCharCounter {
  padding: 2px 8px;
  color: $res-char-counter-fg;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0 !important;

  @include linear-gradient(top, $res-char-counter-bg, darken($res-char-counter-bg, 10%));
  @include rounded(3px);
  @include shadow(inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7));

  &.tooLong {
    color: $res-char-counter-fg;
    @include linear-gradient(top, $res-char-counter-too-long-bg, darken($res-char-counter-too-long-bg, 10%));
  }

}

#alert_message {
  @extend %tn-form-group;

  .buttonContainer {
    > input[type=button] {
      @extend %tn-small-button;
      font-size: $normal-font-size;
      margin-right: 5px;
    }
  }

  > input[type=button] {
    @extend %tn-button;
    font-size: $normal-font-size;
    text-transform: capitalize;
  }

  table.commentPreview {
    @extend %tn-markdown-table;
  }
}
