#header-bottom-right.res-navTop {
  top: auto !important;
  bottom: 7px !important;

  #userbarToggle {
    background: none !important;
    border: none !important;
    color: inherit !important;
    padding: 0 !important;

    &.userbarShow {
      bottom: 23px !important;
      top: auto !important;
      min-height: auto !important;

      ~ #mail,
      ~ #modmail {
        display: none !important;
      }
    }
  }
}

.gearIcon {
  @extend %tn-icon;
  background-position: -64px -32px;
  vertical-align: middle;
  top: auto !important;

  &.newNotification {
    background-position: -64px -48px;
  }
}

#RESMainGearOverlay {
  border: none !important;
  margin-top: 1px !important;
}

#RESAccountSwitcherIconOverlay,
#RESAccountSwitcherIcon {
  margin-right: 8px;
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    @include triangle(bottom, 4px, $menu-bar-fg);
  }
}

#RESAccountSwitcherIconOverlay {
  background-image: none !important;
  border: none !important;
  margin-left: 1px !important;
  margin-top: 2px !important;
  &::after {
    border-top-color: lighten($menu-bar-fg, 20%);
  }
}

#RESAccountSwitcherIconOverlay,
#RESAccountSwitcherIcon,
#RESMainGearOverlay {
  background: none !important;
}

#RESShortcutsEditContainer,
#RESShortcutsSort,
#RESShortcutsAdd,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsTrash {
  background: transparent !important;
}

#RESShortcutsSort,
#RESShortcutsAdd,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsTrash {
  color: $sr-header-fg;
  font-size: $normal-font-size;
}

#sr-header-area a.subbarlink.RESShortcutsCurrentSub {
  color: $res-current-sub-fg !important;
}

// RES' My Subreddits dropdown
#srList {
  font-size: 10px;
  background: $sr-dropdown-bg;
  color: $sr-dropdown-fg;
  border: none;
  @include shadow(0 5px 6px rgba(0, 0, 0, 0.3));

  tr {
    border: none;
    a {
      color: lighten($link-fg, 20%);
    }

    &:hover {
      color: $sr-dropdown-selected-fg;
      background: $sr-dropdown-selected-bg;

      a {
        color: $sr-dropdown-selected-fg;
      }
    }
  }
}
