#header-bottom-right.res-navTop {
  top: auto !important;
  bottom: 7px !important;

  #userbarToggle {
    background: none !important;
    border: none !important;
    color: inherit !important;
    padding: 0px !important;

    &.userbarShow {
      bottom: -4px !important;
      top: auto !important;
      min-height: auto !important;

      ~ #mail,
      ~ #modmail {
        display: none !important;
      }
    }
  }
}

.gearIcon {
  @extend %tn-icon;
  background-position: -64px -32px;
  vertical-align: middle;
  opacity: 0.6;
  top: auto !important;

  &.newNotification {
    background-position: -64px -48px;
    opacity: 1;
  }
}

#RESMainGearOverlay {
  border: none !important;
  margin-top: 1px !important;
}

#RESAccountSwitcherIconOverlay,
#RESAccountSwitcherIcon {
  margin-right: 8px;
  &::after {
    content: '';
    position: absolute;
    top: 8px;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    border-top: solid 4px $menu-bar-fg;
  }
}

#RESAccountSwitcherIconOverlay {
  background-image: none !important;
  border: none !important;
  margin-left: 1px !important;
  margin-top: 2px !important;
  &::after {
    border-top-color: lighten($menu-bar-fg, 20%);
  }
}

#RESAccountSwitcherIconOverlay,
#RESAccountSwitcherIcon,
#RESMainGearOverlay {
  background: none !important;
}

#RESShortcutsEditContainer,
#RESShortcutsSort,
#RESShortcutsAdd,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsTrash {
  background: transparent !important;
}

#RESShortcutsSort,
#RESShortcutsAdd,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsTrash {
  color: $sr-header-fg;
  font-size: 13px;
}

#sr-header-area #RESShortcuts a.subbarlink.RESShortcutsCurrentSub {
  color: $res-current-sub-fg !important;
}

