.RESUserTag + .flair {
  margin-left: 3px;
}

#userTaggerToolTip {
  height: 300px;

  #userTaggerTag {
    width: 170px !important;
  }

  #userTaggerSave {
    border: none;
  }
}

.thing {
  &.subreddit,
  &.link {
    .RES-keyNav-activeElement {
      background: none !important;
      border-right: solid 4px $res-active-element-color;
    }
  }

  .title.imgScanned.visited {
    color: $link-fg-visited;
  }

  .tagline {
    .author {
      &.moderator,
      &.submitter,
      &.admin {
        vertical-align: middle;
        padding: 1px 3px;
        @include rounded(2px);
      }

      &.moderator {
        &,
        &:hover {
          background-color: $mod-tag-fg !important;
        }
      }

      &.admin {
        &,
        &:hover {
          background-color: $admin-tag-fg !important;
        }
      }

      &.submitter {
        &,
        &:hover {
          background-color: $submitter-tag-fg !important;
        }
      }
    }
  }
}
