.RESUserTag + .flair {
  margin-left: 3px;
}

.link {
  .RES-keyNav-activeElement {
    background: none !important;
    border-right: solid 4px $res-active-element-color;
  }

  //&:not(.promoted) {
    //.RES-keyNav-activeElement {
      //border-right: solid 4px $res-active-element-color;
    //}
  //}

  //&.promoted {
    //.RES-keyNav-activeElement {
    //}
  //}
}

.thing {
  .title.imgScanned.visited {
    color: $link-fg-visited;
  }

  .tagline {
    .author {
      &.moderator {
        &,
        &:hover {
          background-color: $mod-tag-fg !important;
        }
      }

      &.admin {
        &,
        &:hover {
          background-color: $admin-tag-fg !important;
        }
      }

      &.submitter {
        &,
        &:hover {
          background-color: $submitter-tag-fg !important;
        }
      }
    }
  }
}
