$all_selectors: ();
@for $i from 1 to 12 {
  $selector: ();
  @for $j from 1 to $i {
    $selector: append($selector, '.comment', space);
  }
  $all_selectors: append($all_selectors, $selector, comma);
}

#{$all_selectors} {
  @extend %tn-background-force-reset;
}

.thing.comment {
  border: none !important;
  overflow: visible !important;
}
