& {
  color: $res-night-fg;
  background: $res-night-bg url($res-night-bg-image) left top repeat !important;
  > .content {
    background: none !important;
  }
}

.error {
  color: $res-night-fg;
}

.info-notice {
  @extend %tn-dark-info-box;
}

h1 {
  border-bottom: none;
}
