& {
  color: $res-night-fg;
  background: $res-night-bg url($res-night-bg-image) left top repeat !important;
  > .content {
    background: none !important;
  }
}

.tn-dark-engraved-box {
  @include linear-gradient(top, lighten($res-night-bg, 8%), lighten($res-night-bg, 5%));
  @include shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 0px lighten($res-night-bg, 20%));
}

.tn-dark-raised-box {
  border: none !important;
  @include linear-gradient(top, lighten($res-night-bg, 8%), lighten($res-night-bg, 5%));
  @include shadow(inset 0px 1px 0px lighten($res-night-bg, 18%), 0px 1px 2px rgba(0, 0, 0, 0.3));
}

.infobar,
.linkinfo,
.subscribers,
.commentarea > .menuarea,
.users-online,
.info-notice {
  @extend .tn-dark-engraved-box;
}

.formtabs-content {
  @extend .tn-dark-raised-box;
}
