.thing {
  .expando-button {
    &.collapsed,
    &.expanded {
      &,
      &:hover {
        background: lighten($res-night-bg, 14%) !important;
        border: none !important;
        @include shadow(none !important);
      }
    }
  }
}

.nav-buttons {
  background: none !important;
  .nextprev {
    color: $res-night-fg;
    .separator {
      border-left: none;
    }

    a {
      @extend %tn-dark-button;
      color: $res-night-fg;
      &:active {
        @include linear-gradient(top, lighten($res-night-bg, 20%), lighten($res-night-bg, 15%));
        @include shadow(inset 0 2px 2px rgba(0, 0, 0, 0.4));
      }
    }
  }

  .next-suggestions > a {
    @extend %tn-dark-button;
  }
}

.content button,
.content input[type=submit],
button,
input[type=submit] {
  @extend %tn-dark-big-button;
  padding-bottom: 3px;
  text-transform: capitalize;
}

.RESshortcutside,
.RESDashboardToggle,
.morelink a,
.content input[type=submit],
.content button {
  @extend %tn-dark-big-button;
}

.submit.disabled .morelink a {
  background: $res-night-big-button-disabled-bg;
  color: $res-night-big-button-disabled-fg !important;
  text-shadow: none;
  border: solid 1px $res-night-bg !important;
  @include shadow(inset 0 1px 2px darken($res-night-big-button-disabled-bg, 10%),0 1px 0 lighten($res-night-bg, 20%));
}

.fancy-toggle-button {
  > .option{
    &.add {
      &,
      &:hover,
      &:active {
        @include linear-gradient(top, $res-night-subscribe-bg, darken($res-night-subscribe-bg, 5%));
      }
    }

    &.remove {
      &,
      &:hover,
      &:active {
        @include linear-gradient(top, $res-night-unsubscribe-bg, darken($res-night-unsubscribe-bg, 5%));
      }
    }

    &.add:active,
    &.remove,
    &.remove:active {
      @include shadow(inset 0 2px 4px rgba(0, 0, 0, 0.7), 0 1px 0 lighten($res-night-bg, 20%));
    }
  }
}
