.tn-dark-button {
  @extend .tn-dark-raised-box;
  color: $res-night-fg;
  @include rounded(3px);

  &:active {
    @include shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px lighten($res-night-bg, 20%));
  }
}

.thing {
  .expando-button {
    &.collapsed,
    &.expanded {
      &,
      &:hover {
        background: lighten($res-night-bg, 10%) !important;
      }
    }

    &.toggleImage.image.collapsed.expanded,
    &.expanded {
      @include shadow(none);
    }
  }
}

//.bottom-area > button.RESBigEditorPop,
//.markdownEditor > a,
.nav-buttons > .nextprev > a {
  @extend .tn-dark-raised-box;
  //border-color: lighten($res-night-bg, 37%);
  color: $res-night-fg;
  //@include linear-gradient(top, lighten($res-night-bg, 30%), lighten($res-night-bg, 25%));
  &:active {
    @include linear-gradient(top, lighten($res-night-bg, 20%), lighten($res-night-bg, 15%));
    @include shadow(inset 0px 2px 2px rgba(0, 0, 0, 0.4));
  }
}

.nav-buttons {
  > .nextprev {
    color: $res-night-fg;
    > .separator {
      border-left: none;
    }
  }
}
