.thing {
  .expando-button {
    &.collapsed,
    &.expanded {
      &,
      &:hover {
        background: lighten($res-night-bg, 10%) !important;
      }
    }

    &.toggleImage.image.collapsed.expanded,
    &.expanded {
      @include shadow(none);
    }
  }
}

.bottom-area > button.RESBigEditorPop,
.markdownEditor > a,
.nav-buttons > .nextprev > a {
  border-color: lighten($res-night-bg, 37%);
  color: $res-night-fg;
  @include linear-gradient(top, lighten($res-night-bg, 30%), lighten($res-night-bg, 25%));
  &:active {
    @include linear-gradient(top, lighten($res-night-bg, 20%), lighten($res-night-bg, 15%));
    @include shadow(inset 0px 2px 2px rgba(0, 0, 0, 0.4));
  }
}

.nav-buttons {
  > .nextprev {
    color: $res-night-fg;
    > .separator {
      border-left: none;
    }
  }
}
