.nestedlisting {
  .thing.comment.noncollapsed::before {
    background: lighten($res-night-bg, 8%);
  }
}

.commentarea {
  border-top-color: darken($res-night-bg, 10%);
  @include shadow(inset 0 1px 0 lighten($res-night-bg, 5%));

  .commentNavSortType,
  #REScommentSubToggle {
    @extend %tn-dark-button;
  }
}

.comment {
  @extend %tn-background-force-reset;

  &.noncollapsed {
    > .entry {
      @extend %tn-dark-comment-bubble;
      &.RES-keyNav-activeElement .usertext-body {
        &,
        & .md p {
          @extend %tn-background-force-reset;
        }
      }

      > .usertext.border {
        background: $res-night-highlighted-comment-bg;
      }
    }

    &.spam > .entry {
      &::before {
        border-right-color: $res-night-spam-tagline-bg;
      }

      > .tagline {
        background-color: $res-night-spam-tagline-bg;
      }
    }

    &.new-comment {
      .usertext-body .md {
        border: none;
      }

      .usertext-body,
      .entry.RES-keyNav-activeElement .usertext-body {
        border-top: solid 1px $res-night-new-comment-border-color;
        border-bottom: solid 1px $res-night-new-comment-border-color;
        background-color: $res-night-new-comment-bg !important;
      }
    }
  }
}

.morerecursion,
.morechildren {
  a {
    @extend %tn-alt-link;
  }
}

.morerecursion > .entry.RES-keyNav-activeElement > .deepthread,
.morechildren > .entry.RES-keyNav-activeElement > .morecomments,
.comment.collapsed > .entry.RES-keyNav-activeElement > .tagline {
  outline-color: $res-night-active-element-color;

}

.gold-accent.comment-visits-box {
  @extend %tn-dark-info-box;
}

.linklisting > .comment {
  @extend %tn-dark-list-entry-separator;
}
