.commentarea {
  border-top-color: darken($res-night-bg, 4%);
  @include shadow(inset 0px 1px 0px lighten($res-night-bg, 8%));
  .comment {
    > .entry {
      > .noncollapsed {
        > .usertext {
          @extend .tn-dark-raised-box;
          &::before {
            top: -7px;
            border-bottom-color: lighten($res-night-bg, 8%);
          }
        }
      }

      &.RES-keyNav-activeElement {
        > .noncollapsed {
          background: none !important;
          > .usertext {
            > .usertext-body,
            > .usertext-edit > .livePreview {
              background: none !important;
              > .md {
                background: none !important;
                p {
                  background: none !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .commentNavSortType,
  #REScommentSubToggle {
    @extend .tn-dark-button;
  }

  .commentNavSortType {
    @include rounded(0px);
    &:nth-child(2) {
      @include rounded(3px 0px 0px 3px);
    }

    &:last-child {
      @include rounded(0px 3px 3px 0px);
    }
  }
}

