button.RESBigEditorPop,
#BigEditor .RESCloseButton {
  @extend %tn-dark-button;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents {
  @extend %tn-background-force-reset;
}

#BigEditor > .RESDialogSmall.BERight,
.RESDialogSmall.livePreview {
  > h3 {
    @extend %tn-dark-toolbar;
  }

  .md,
  #BigPreview.md {
    a {
      color: $link-fg !important;
      &[href$="/spoiler"] {
        color: $res-night-spoiler-bg !important;
        &:hover {
          color: $res-night-spoiler-fg !important;
        }
      }

      &:visited {
        color: $link-fg-visited !important;
      }
    }
  }
}

.RESDialogSmall.livePreview {
  @extend %tn-dark-text-container;
  border-color: $res-night-bg;
  overflow: hidden;
  > h3 {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

#BigEditor {
  > .RESDialogSmall {
    &.BELeft {
      background: $res-night-bg url($res-night-bg-image) left top repeat;
      @include shadow(inset 0 1px 0 lighten($res-night-bg, 10%));
    }

    &.BERight {
      background: lighten($res-night-bg, 3%) !important;
    }
  }
}

.RESCharCounter {
  background-color: darken($res-night-editor-toolbar-bg, 8%);
  color: $res-night-fg;

  &.tooLong {
    background-color: darken($res-char-counter-too-long-bg, 30%);
  }
}

.markdownEditor-wrapper {
  @extend %tn-dark-toolbar;

  + div > textarea {
    border-top: none !important;
  }
}

.commentingAs,
.markdownEditor + .RESMacroWrappingSpan {
  border-top-color: darken($res-night-editor-toolbar-bg, 10%);
  @include shadow(inset 0 1px 0 lighten($res-night-editor-toolbar-bg, 8%));
}

.markdownEditor {
  a.edit-btn {
    //background-image: none;
    background-color: transparent;
    font-size: 0;
    text-indent: 0;

    &:hover {
      @include shadow(inset 0 1px 0 lighten($res-night-editor-toolbar-bg, 8%));
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
      @include shadow(0 1px 0 lighten($res-night-editor-toolbar-bg, 6%));
    }

    // TODO: use icons with lighter color for editor toolbar in nightmode
    //&:before {
      //@extend %tn-icon;
      //content: '';
      //margin-left: 8px;
      //margin-top: 2px;
    //}

    //&.btn-bold:before {
      //background-position: -80px -64px;
    //}

    //&.btn-italic:before {
      //background-position: -80px -16px;
    //}

    //&.btn-strike:before {
      //background-position: -48px -64px;
    //}

    //&.btn-superscript:before {
      //background-position: -32px -64px;
    //}

    //&.btn-link:before {
      //background-position: -64px 0;
    //}

    //&.btn-quote:before {
      //background-position: -64px -64px;
    //}

    //&.btn-code:before {
      //background-position: -80px -48px;
    //}

    //&.btn-list-unordered:before {
      //background-position: -16px -64px;
    //}

    //&.btn-list-ordered:before {
      //background-position: -80px 0;
    //}

    //&.btn-table:before {
      //background-position: 0 0;
    //}
  }
}
