button.RESBigEditorPop,
.RESMacroDropdownTitle,
#BigEditor .RESCloseButton,
.markdownEditor > a {
  @extend .tn-dark-button;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents {
  background: none !important;
}

#BigEditor > .RESDialogSmall.BERight,
.RESDialogSmall.livePreview {
  > h3 {
    @extend .tn-dark-raised-box;
    color: $res-night-fg;
    border: none;
  }

  .md,
  #BigPreview.md {
    a {
      color: $link-fg !important;
      &[href$="/spoiler"] {
        color: $res-night-spoiler-bg !important;
        &:hover {
          color: $res-night-spoiler-fg !important;
        }
      }

      &:visited {
        color: $link-fg-visited !important;
      }
    }
  }
}

#BigEditor {
  > .RESDialogSmall {
    &.BELeft {
      background: $res-night-bg url($res-night-bg-image) left top repeat;
      @include shadow(inset 0px 1px 0px lighten($res-night-bg, 10%));
    }

    &.BERight {
      background: lighten($res-night-bg, 3%) !important;
    }
  }
}

.RESCharCounter {
  @extend .tn-dark-engraved-box;
  color: $res-night-fg;

  &.tooLong {
    @include linear-gradient(top, darken($res-char-counter-too-long-bg, 10%), darken($res-char-counter-too-long-bg, 20%));
  }
}
