button.RESBigEditorPop,
#BigEditor .RESCloseButton {
  @extend %tn-dark-button;
}

.usertext-edit .RESDialogSmall .md.RESDialogContents {
  background: none !important;
}

#BigEditor > .RESDialogSmall.BERight,
.RESDialogSmall.livePreview {
  > h3 {
    @extend %tn-dark-raised-box;
    color: $res-night-fg;
    border: none;
  }

  .md,
  #BigPreview.md {
    a {
      color: $link-fg !important;
      &[href$="/spoiler"] {
        color: $res-night-spoiler-bg !important;
        &:hover {
          color: $res-night-spoiler-fg !important;
        }
      }

      &:visited {
        color: $link-fg-visited !important;
      }
    }
  }
}

#BigEditor {
  > .RESDialogSmall {
    &.BELeft {
      background: $res-night-bg url($res-night-bg-image) left top repeat;
      @include shadow(inset 0 1px 0 lighten($res-night-bg, 10%));
    }

    &.BERight {
      background: lighten($res-night-bg, 3%) !important;
    }
  }
}

.RESCharCounter {
  background-color: darken($res-night-editor-toolbar-bg, 8%);
  //@extend %tn-dark-engraved-box;
  color: $res-night-fg;

  &.tooLong {
    background-color: darken($res-char-counter-too-long-bg, 30%);
    //@include linear-gradient(top, darken($res-char-counter-too-long-bg, 10%), darken($res-char-counter-too-long-bg, 20%));
  }
}

.markdownEditor-wrapper {
  @extend %tn-dark-toolbar;

  + div > textarea {
    //border-left: none !important;
    //border-right: none !important;
    border-top: none !important;
    //border-top: solid 4px darken($res-night-editor-toolbar-bg, 8%) !important;
    //border-top-color: lighten($res-night-editor-toolbar-bg, 30%) !important;
  }
}

.commentingAs,
.markdownEditor + .RESMacroWrappingSpan {
  border-top-color: darken($res-night-editor-toolbar-bg, 10%);
  @include shadow(inset 0 1px 0 lighten($res-night-editor-toolbar-bg, 8%));
}

.markdownEditor {
  a.edit-btn {
    background-color: transparent;

    &:hover {
      @include shadow(inset 0 1px 0 lighten($res-night-editor-toolbar-bg, 8%));
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
      @include shadow(0 1px 0 lighten($res-night-editor-toolbar-bg, 6%));
    }
  }
}
