&.moderator .footer-parent .footer {
  // seriously? what's these bastards trying to achieve by
  // setting different footer bg for moderator?
  background: none !important;
}

.footer-parent {
  .footer {
    border-top: solid 1px darken($res-night-bg, 4%) !important;
    border-bottom: solid 1px darken($res-night-bg, 4%) !important;
    @include shadow(inset 0 1px 0 lighten($res-night-bg, 8%), 0 1px 0 lighten($res-night-bg, 8%));
  }
}
