form.submit.content {
  background: none !important;
}

.side .spacer > #search input,
#newlink.submit .formtabs-content .roundfield-content textarea,
#newlink.submit .formtabs-content .roundfield-content input#url,
#newlink.submit .formtabs-content .roundfield-content input#sr-autocomplete,
textarea,
input[type=text],
.usertext > .usertext-edit > div > textarea,
.usertext-edit.viewSource > div > textarea,
input[type=password] {
  background: $res-night-bg !important;
  color: darken($res-night-fg, 30%) !important;
  border: solid 1px lighten($res-night-bg, 17%) !important;
  @include shadow(none);
}

.fancy-settings + .tabmenu,
.formtab.tabmenu {
  > li {
    > a {
      @extend %tn-dark-button;
      color: $res-dark-button-fg !important;
    }

    &.selected {
      > a {
        @extend %tn-dark-button-pressed;
        &::after {
          display: none;
        }
      }
    }
  }
}

.infobar,
.linkinfo {
  @extend %tn-dark-raised-box;
}

.tabpane-content,
.formtabs-content {
  background: none;
  border: none;
  @include shadow(none);
  .roundfield {
    background: none !important;
  }
}

.menuarea {
  @extend %tn-dark-engraved-box;
  color: $res-night-fg;

  > .spacer {
    > .dropdown.lightdrop,
    > .toggle .togglebutton {
      @extend %tn-dark-button;
    }

    > .drop-choices.lightdrop.inuse {
      @extend %tn-dark-button-default;

      a:hover {
        text-shadow: none;
        @include linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
        @include shadow(inset 0 2px 2px rgba(0, 0, 0, 0.3));
      }
    }

    > .dropdown.lightdrop > .selected::after {
      border-top-color: $res-dark-button-fg;
    }
  }
}

.flairselector.drop-choices.active {
  @extend %tn-dark-raised-box;
  > h2 {
    @extend %tn-dark-engraved-box;
    color: $res-night-fg;
  }

  .flairoptionpane {
    ul {
      > li {
        border: none !important;
        &:hover {
          @extend %tn-dark-button-default;
        }

        &:active {
          @extend %tn-dark-button-pressed;
        }
      }
    }
  }
}

&.moderator .linefield {
  background: none !important;
}
