form.submit.content {
  background: none !important;
}

.side .spacer > #search input,
#newlink.submit .formtabs-content .roundfield-content textarea,
#newlink.submit .formtabs-content .roundfield-content input#url,
#newlink.submit .formtabs-content .roundfield-content input#sr-autocomplete,
textarea,
input[type=text],
.usertext > .usertext-edit > div > textarea,
.usertext-edit.viewSource > div > textarea,
input[type=password] {
  background: $res-night-bg !important;
  color: darken($res-night-fg, 30%) !important;
  border: solid 1px lighten($res-night-bg, 17%) !important;
  @include shadow(none);
}

.tabmenu.formtab {
  > li {
    > a {
      @extend .tn-dark-button;
      color: $res-dark-button-fg !important;
    }

    &.selected {
      > a {
        @extend .tn-dark-button-pressed;
        &::after {
          display: none;
        }
      }
    }
  }
}

.infobar,
.linkinfo {
  @extend .tn-dark-raised-box;
}

.formtabs-content {
  background: none;
  border: none;
  @include shadow(none);
  .roundfield {
    background: none !important;
  }
}

.menuarea {
  @extend .tn-dark-engraved-box;
}

.flairselector.drop-choices.active {
  @extend .tn-dark-raised-box;
  > h2 {
    @extend .tn-dark-engraved-box;
    color: $res-night-fg;
  }

  .flairoptionpane {
    ul {
      > li {
        border: none !important;
        &:hover {
          @extend .tn-dark-button-default;
        }

        &:active {
          @extend .tn-dark-button-pressed;
        }
      }
    }
  }
}
