.linklisting {
  .link {
    @extend %tn-common-dark-entry;
    background: none !important;
    padding: 1.3em 0 !important;

    &:not(:first-child) {
      @extend %tn-dark-list-entry-separator;
    }

    .entry {
      &.RES-keyNav-activeElement {
        background: none !important;
        border-right-color: $res-night-active-element-color !important;

        a.title {
          @extend %tn-alt-link;
        }

        .usertext > .usertext-body {
          @extend %tn-background-force-reset;
          .md p {
            @extend %tn-background-force-reset;
          }
        }
      }
    }

    &.stickied .RES-keyNav-activeElement.entry > .title > a,
    &.stickied .entry > .title > a {
      &,
      &.loggedin {
        color: $sticky-link-fg !important;
      }
    }

    .stickied-tagline {
      background: darken($sticky-tag-bg, 15%);
    }
  }
}

.thing {
  .midcol > .arrow {
    @extend %tn-vote-arrows;
  }

  .tagline {
    a:not(.author) {
      @extend %tn-alt-link;
    }

    .author {
      color: $res-night-link-fg;

      &.submitter {
        &,
        &:hover {
          color: lighten($res-night-fg, 20%) !important;
          background-color: darken($submitter-tag-fg, 10%) !important;
        }
      }

      &.admin {
        &,
        &:hover {
          color: lighten($res-night-fg, 20%) !important;
          background-color: darken($admin-tag-fg, 10%) !important;
        }
      }

      &.moderator {
        &,
        &:hover {
          color: lighten($res-night-fg, 20%) !important;
          background-color: darken($mod-tag-fg, 10%) !important;
        }
      }
    }
  }

  &.spam,
  &.reported {
    border: none;
  }
}

.organic-listing .link,
.promotedlink {
  @extend %tn-dark-special-entry;
}

.promotedlink .sponsored-tagline {
  background: lighten($res-night-special-entry-bg, 10%);
  color: $res-night-fg;
  @include shadow(none);
}

.entry .flat-list.buttons > li.reported-stamp.stamp {
  background: $res-night-report-tag-bg;
}

.RES-keyNav-activeElement .md {
  @extend %tn-background-force-reset;
}
