.md {
  pre,
  code,
  blockquote {
    background: lighten($res-night-bg, 9%);
  }

  pre {
    > code {
      color: $res-night-code-fg;
      border-color: lighten($res-night-bg, 17%);
    }
  }

  hr {
    background: lighten($res-night-bg, 9%);
  }
}
