.thing .md {
  a:not(.userTagLink):not(.noKeyNav):not(.expando-button) {
    background: none !important;
  }

  em {
    background: none !important;
    color: inherit;
  }
}

.md {
  a {
    @extend %tn-alt-link;
  }

  p,
  ul,
  ol,
  li,
  strong,
  table,
  tbody,
  tr,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background: none !important;
    color: inherit !important;
  }

  pre,
  code,
  blockquote {
    color: $res-night-fg;
    background: lighten($res-night-bg, 10%) !important;
  }

  code {
    background: none !important;
    color: $res-night-code-fg;
  }

  pre {
    > code {
      color: $res-night-code-fg;
      border-color: lighten($res-night-bg, 17%);
    }
  }

  hr {
    background: lighten($res-night-bg, 17%) !important;
  }

  h1,
  h2 {
    border-bottom-color: darken($res-night-fg, 30%) !important;
  }

  @if $show-line-num-in-codeblock == 1 {
    pre {
      border-color: lighten($res-night-bg, 20%);
      background: lighten($res-night-bg, 20%) !important;

      > code {
        background: $res-night-bg !important;
      }
    }
  }

  td,
  th {
    border-color: lighten($res-night-bg, 15%);
  }

  th {
    background: lighten($res-night-bg, 15%) !important;
    color: $res-night-fg;
    text-shadow: none;
    @include shadow(none);
  }

  tbody {
    tr:hover {
      background: lighten($res-night-bg, 7%) !important;
    }
  }

  a[href$="/spoiler"] {
    background: $res-night-spoiler-bg !important;
    color: $res-night-spoiler-bg !important;
    &:hover {
      color: $res-night-spoiler-fg !important;
    }
  }
}
