.side {
  background: none !important;
  margin: 1em 1em 1em 2em !important;

  .sidecontentbox {
    .title {
      @extend %tn-dark-toolbar;
      border-bottom: solid 1px darken($res-night-editor-toolbar-bg, 13%);
      //border-bottom: none;

      .collapse-button,
      h1 {
        color: inherit;
        border-bottom: none;
      }
    }

    .content {
      border-color: $res-night-bg;
      background: $res-night-toolbox-bg;
      @include shadow(inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 lighten($res-night-bg, 8%));
    }
  }

  .titlebox > .bottom {
    border-top-color: lighten($res-night-bg, 10%);
  }

  .titlebox,
  .sidebox,
  .sidebox .spacer,
  .leavemoderator,
  .leavecontributor-button,
  .titlebox form.flairtoggle {
    background: none !important;
  }

  .sidebox {
    border: none !important;
    overflow: visible !important;
    @include rounded(0);
  }


  .icon-menu {
    a {
      $shadow: darken($res-night-toolbox-bg, 2%);
      $bevel: lighten($res-night-toolbox-bg, 20%);

      color: $res-night-fg;
      background-color: transparent;

      &:active,
      &:hover {
        color: $res-night-fg;
        border-color: darken($res-night-toolbox-bg, 2%);
        @include linear-gradient(top, lighten($res-night-toolbox-bg, 10%), lighten($res-night-toolbox-bg, 4%));
      }

      &:hover {
        @include shadow(inset 0 1px 0 $bevel, 0 1px 1px $shadow);
      }

      &:active {
        @include shadow(inset 0 1px 1px $shadow, 0 1px 0 $bevel);
      }
    }
  }
}

.subscribers,
.users-online {
  border-color: darken($res-night-bg, 3%);
  @include shadow(0 1px 0 lighten($res-night-bg, 15%), inset 0 1px 0 lighten($res-night-bg, 7%));
}

