&.wiki-page {
  .wikititle {
    border: none !important;
  }

  .wiki-page-content {
    .md.wiki {
      @extend %tn-dark-raised-box;
      color: $res-night-fg;
    }
  }

  button.RESBigEditorPop {
    top: 40px;
  }

  .pageactions {
    > .wikiaction {
      @extend %tn-dark-button;
      @include rounded(0px);

      &.wikiaction-current {
        @extend %tn-dark-button-pressed;
      }

      &:first-child {
        @include rounded(3px 0px 0px 3px);
      }

      &:last-child {
        @include rounded(0px 3px 3px 0px);
      }
    }
  }

  .md.wiki > .toc {
    background: lighten($res-night-bg, 10%) !important;
    border: solid 1px lighten($res-night-bg, 20%);
    @include shadow(none);

    &::before {
      border-bottom-color: lighten($res-night-bg, 25%);
    }

    &::after {
      display: none;
    }

    > ul {
      background: none !important;
      ul {
        background: none !important;
        border-left-color: lighten($res-night-bg, 25%);
      }
    }
  }

  .wikirevisionlisting {
    .generic-table {
      color: $res-night-fg;
      tr {
        td {
          border-color: darken($res-night-bg, 3%) !important;
          //border-left: none;
          //border-right: none;
          @include shadow(inset 1px 1px 0px lighten($res-night-bg, 8%));
        }

        &:hover > td {
          background-color: lighten($res-night-bg, 4%);
        }
      }
    }
  }
}

.wiki-page .wiki-page-content .md.wiki,
.RESDialogSmall.livePreview {
  border: none;
  background: lighten($res-night-bg, 3%) !important;
  color: $res-night-fg !important;
}

table.diff {
  background: $res-night-bg;
  border-color: $res-night-table-heading-bg;

  .diff_header,
  .diff_next {
    background: $res-night-table-heading-bg;
    color: $res-night-fg;
    border-color: darken($res-night-table-heading-bg, 5%);
    @include shadow(inset 1px 1px 0px lighten($res-night-table-heading-bg, 10%));
  }

  tbody .diff_header:not([id]) {
    color: lighten($res-night-table-heading-bg, 16%);
  }
}
